<div class="page-header">
  <h1 id="chapter-one">Chapter One</h1>
</div>

<h2 id="pre-european-days">Pre-European Days</h2>

<p>There has been much speculation as to the length of time the Maoris have
inhabited South Canterbury. Nonetheless, it is a known fact that the Ngaitahu tribe
existed in the Arowhenua area long before European settlement.</p>

<p>These Maoris travelled inland. The limestone Downs in this vicinity were ideal for
a nomadic people in search of food. The strong growth of the cabbage tree favoured
production of the sugary ‘kauru’ from its roots: the streams were rich in eels, the
valleys in weka and, in earlier times, moa. Also, the Opihi and Te Ngawai rivers
were easy routes to the hunting grounds of the Mackenzie area.</p>

<p>Journeys to the Mackenzie country were made in the Autumn when birds grew
fat on the berries which ﬂourished there. Many birds. preserved in their own fat.
would be brought back to store for Winter food.</p>

<p>During these journeys, the Maoris generally camped in the shelter of a limestone
cliff with sufficient overhang to keep off the rain. This activity has been recorded in
the many rock drawings found in the district — namely, at Harts in Waitohi
Hanging Rock and Hazelburn areas. These drawings are seen as records of their
hunting expeditions depicting dog, fish bird or man.</p>

<p>The majority of drawings are in charcoal. Presumably a stick snatched from the
fire sealed the pictures into the limestone. Others are in red ochre or perhaps done
with the juice of ripe red berries.</p>

<p>Few are thought to be older than three hundred years and some are considered
comparatively recent. Some in the Hazelburn area have signatures in graceful
Roman capitals as learned from the missionaries and some of the Opihi ones depict an
early European church or house.</p>

<p>The Taniwha group of drawings at Gould’s. Opihi,has special significance for our
local High School as the Taniwha is the emblem on the school’s monogram. This
mythical monster of Maori tradition was described as a gigantic man—eating reptile
lurking in deep pools. The late Theo Schoon used the Opihi Taniwha as his guide
when designing a New Zealand LWo shilling stamp.</p>

<p>In recent years the Historic Places Trust has realised the significance of these local
rock drawings and has taken measures to protect them from disfigurement by vandals
and abrasion by sheltering sheep.</p>

<p>Irrespective of their age. the Maori rock drawings in our district remain
documents of a culture which has left all too few records.</p>
