<div class="page-header">
  <h1 id="pleasant-point-saleyards">Pleasant Point Saleyards</h1>
</div>

<p>From very early days Pleasant Point was recognised as a stock-raising centre
and it very soon became a centre for buying and selling stock.</p>

<p>The first attempt at a stock market in South Canterbury was held at
Pleasant Point on 8th December 1871. Horses sold from low figures up to
thirty pounds. A small lot of pigs, eight weeks old, made five to six shillings
and lambs four shillings. No cattle were sold and, on the whole, the fair was a
failure but things changed in the ensuing years.</p>

<p>The local Pound, then situated close to the creek in Te Ngawai Road, (now
access to the saw-mill) was the venue for the first stock sales in the district. Use
of the Pound was granted in 1877 and McLean Bros, auctioneers, journeyed
there periodically to wield the hammer. It soon became evident that more up-to-date
facilities were required for the penning and disposal of stock than the
Pound had to offer.</p>

<p>Land was purchased from Mr Wm. Halstead and the yards were put up at a
daily rate under the supervision of Mr E. Acton, the first chairman of the
company. In 1881, extensive additions were made to the yards by the late
Messrs Dossett and Drake. Others holding office in this company were H.C.
Verity, Jas. Stewart and J. Murphy.</p>

<p>A report in the Timaru Herald on 2nd November 1881 read as follows:</p>

<blockquote>
  <p>On Monday, the yards erected by the Pleasant Point Saleyards Company
  were opened. The capacity of the cattle yards was fully tested by an entry of
  four hundred head and the opinion was freely expressed that the Company will
  require to complete their original design. This they have been unable to do
  through the want of support by a number of persons who entered cordially
  into the preliminary arrangements and have not taken up shares so freely as
  the management was led to anticipate.</p>

  <p>The commodious sheep pens were not greatly patronised, the present season
  not being favourable for large sales of sheep but this department is pretty
  certain to be a prominent feature in future sales.</p>

  <p>Having secured a site of four acres, the Directors have provided for ample
  development which may be fairly predicted for the business of a centre
  commanding such a large and agriculturally thriving district. The Levels Road
  Board have lately removed a very narrow bridge in the immediate vicinity and
  erected a substantial structure giving free access to the Company‘s grounds.</p>

  <p>The auctioneers were Jones, Wildie, Allan and Stumbles and Maclean and
  Stewart and, with the very large attendance, the day's proceedings were
  probably satisfactory. The Directors have arranged a very liberal scale of
  charges for travelling stock, drafting purposes, etc., and there is no doubt
  shareholders will be handsomely paid for their enterprises.</p>
</blockquote>

<p>As early as 1896, the sales at Pleasant Point were rated the largest in South
Canterbury. By 1903, the Company could foresee the need for access to the
saleyards from Te Ngawai Road to avoid the driving of sheep and cattle from
the west through the township.</p>

<p>Application was made to the Levels County Council for the necessary
roading. It took much haggling with the property owner, Mr Greig, to
persuade him to sell the required land, even though the Church Property
Trustees were prepared to accept the offer of thirty pounds an acre for their
part of the land. An agreement was finally reached at forty-five pounds an
acre and the ‘Saleyards Road’ was opened up. On 29th April, 1905, the
Salesyards Company was officially registered as such.</p>

<p>The Articles of Association of the company provided very wide terms of
reference but its main activity was in the provision of facilities for the
reception, sale and despatch of all classes of live and dead stock. With the
passage of time, the Pleasant Point yards became well known for the sale of
livestock and did become the second largest facility in Canterbury after the
Addington yards near Christchurch.</p>

<div class="thumbnail">
  <%= image_tag 'ch10-1.jpg' %>
  <div class="caption">
    <p>Early scene of local Saleyards with pig pens in foreground.</p>
  </div>
</div>

<p>Saleday became the regular meeting place for many farmers and others from
a wide area and, apart from the opportunity for them to keep abreast of the
market value of their stock, the day also provided a great chance for them to
discuss and argue about everything from the weather to politics.</p>

<p>Church councils and other local organisations frequently set their meeting
days to coincide with sale days.</p>

<p>For many years, fat and store sheep and cattle were catered for as well as
pigs and horses but, as more and more farmers replaced their teams of horses
with tractors, the sale of horses dwindled and finally ceased. Similarly, the
number of pigs being offered diminished and eventually ceased to be a feature
of the sales. At the same time, with the increased demand for beef and the
subsequent increase in cattle being offered for sale, it became necessary to
expand the facilities for the display and sale of store cattle.</p>

<p>The continual good attendance of farmers, stock agents, dealers, butchers
and interested onlookers made apparent the need for catering arrangements so
the Saleyards Company made their modest facilities available for this purpose.
Various organisations such as Church groups. Women’s organisations, Red
Cross, Library Committee, Fire Service and others served countless lunches
and teas at a reasonable price over many years. Arranged by roster on a
voluntary basis, this activity provided a worthwhile boost to the funds of these
various groups while, at the same time, providing a great opportunity for
fellowship among the ladies of the district.</p>

<p>The resources of the company were always stretched to the limit with the
need to maintain and upgrade the yards continually on its modest income.</p>

<p>The company was first registered with a capital of five hundred one pound
shares of which fifty-seven were unallotted. No further infusion of share
capital was ever made. Annual maintenance and improvements were all
carried out from revenue. In the year ended 30 June, 1930, total yard fees,
when converted to decimal currency, amounted to only $482.33 and this figure
increased to a maximum of $10,901.55 in the year ended 30 June, 1973. The
return from yard fees varied markedly from year to year and appears to have
been very dependent on prevailing climatic conditions.</p>

<p>Originally, the company had purchased four acres of land fronting onto
Greig Street and Halstead Road but, because of the increasing number of
stock being offered and the need for more sheep pens, a further acre of
adjoining land, fronting on to Greig Street, was bought in 1946.</p>

<p>As the number of stock being yarded increased, so did the demand for
improved facilities. Steel cattle pens were erected, yards were concreted, toilets
installed and catering facilities upgraded. Another three acres was bought in
1973 with a view to expanding the cattle yards.</p>

<div class="thumbnail">
  <%= image_tag 'ch10-2.jpg' %>
  <div class="caption">
    <p>Full sheep pens on a busy sale day.</p>
  </div>
</div>

<p>At the same time competition increased from other regional districts with
Temuka, in particular, vying for fat stock. Federated Farmers were actively
campaigning for centralised markets with covered selling areas. It became
apparent that buyers of fat stock, in particular, showed a clear preference for
the market to be centralised at Temuka.</p>

<p>Subsequently the Pleasant Point directors entered into an agreement with
Temuka whereby that company accepted responsibility for providing the
facilities for all sheep and fat cattle whilst Pleasant Point would concentrate
on servicing the store cattle market. Sheep sales finished at Pleasant Point in
1973 and cattle sales in 1977.</p>

<p>Extensive investigations into the most suitable selling facilities for cattle
revealed that there would have to be an infusion of capital into the company to
meet the cost involved. The number of user shareholders had diminished over
the years - so it was felt desirable to alter the share capital structure and
introduce fresh vendor capital A postal survey of the region however,
disclosed that there was not a consensus of opinion as to the location of selling
facilities but most favoured one centralised venue.</p>

<p>The Pleasant Point directors then approached the directors of the Temuka
Saleyards Company with the suggestion that the two companies amalgamate,
thus avoiding the duplication of facilities and leading, eventually, to the
establishment of one central saleyards at a suitable site. This, however, was
not acceptable to the Temuka shareholders and the proposal lapsed.</p>

<p>The Pleasant Point directors then decided that, as their first responsibility
was to the shareholders, a substantial number of whom were no longer using the
facilities the company provided, their interests could best be served by the
return to them of the current value of their investment.</p>

<p>The company was subsequently wound up in 1979 and thus ended an era in
the history of Pleasant Point.</p>

<div class="thumbnail">
  <%= image_tag 'ch10-3.jpg' %>
  <div class="caption">
    <p>A fleet of transport trucks lined up in Halstead Road at a Ewe Fair at the Saleyards.</p>
  </div>
</div>
