<div class="page-header">
  <h1 id="the-commercial-sector-today">The Commercial Sector Today</h1>
</div>

<p>The commercial sector of Pleasant Point is a very different scene today from
that of the pioneering days. The busy triangle formed by Maitland Street and
Main and Te Ngawai Roads is a somewhat subdued scene in contrast to that of
a hundred years ago.</p>

<p>The clanging anvil and bellowing forge of the blacksmiths and wheelwrights
have long since gone to be replaced with quick and efficient acetylene and
electric welding tools in the engineering workshops that function there today.</p>

<p>At the point of the triangle, Beach Engineering is a general workshop
specialising in the manufacture of farm equipment such as silos, hayracks, etc.
Also, work is done under contract to Kerry Engineering, farm implement
manufacturers of Kerrytown.</p>

<p>On the corner of Maitland Street and Te Ngawai Road is Pleasant Point
Engineering owned by Keith Stowell who specialises in the repair and
maintenance of farm machinery, servicing a large proportion of the
surrounding district.</p>

<p>The only other business in the triangle today is Atkinson and Dossett’s
Garage. In 1960, Tom Dossett and Roger Atkinson Snr. bought the garage and
service station with a fleet of four buses from Greenwood Bros. Apart from
occasional charter work for sports teams, etc., the buses were used for
conveying children to and from school.</p>

<p>The business has expanded over the years to meet public demand and they
now have a fleet of twenty-four buses, ten of which are located in other
centres. The coach business is known as ‘Landmark Lines’ and is serviced by
their own garage staff. They also operate six school buses under contract to
Pleasant Point Schools and the Rural Mail Delivery service for the
surrounding district. Since the closure of the Post Office in 1989, Atkinson
and Dossett have taken on the NZ. Post Agency as well as the township postal
delivery service.</p>

<p>The upper floor of the building facing the Main Road which once housed
Lienert’s Offices, is now the doctor’s consulting rooms.</p>

<p>Opposite the triangle on Maitland Street, the sounds of forge and anvil are
still to be heard echoing from the workshop where Gareth James practises the
age-old craft of the blacksmith. He specialises in wrought iron work making
anything from drive gates to cutlery and has a showroom at ‘The Artisan’ on
Maitland Street.</p>

<p>On the corner of Main and Te Ngawai Roads, the Hotel, with Mr and Mrs
Tony Newsome as proprietors, provides accommodation, a good dining room,
public bar and lounge and is popular social venue for the district.</p>

<p>Next door on the Main Road is the Supermarket owned by Smith’s
Wholesale Ltd. which has replaced the general stores of yesteryear. Gone are
the days of telephoned orders, personal delivery and the monthly credit
account. Instead, the customer pushes a trolley round and helps himself then
queues at the check-out desk to pay cash.</p>

<p>Where meat and money once changed hands at the shop on the corner of
Morris Lane, a fishing tackle supplier has set up shop and produces the
‘WhopperStopper‘ brand of lures — sixty varieties in all. Besides making and selling
fishing tackle, the proprietor A. Gilbert operates a resilvering business for trophies
and table ware.</p>

<p>The Saddlery of bygone years now houses the ‘Rainbow’s End' Co-Operative,
an outlet for locally crafted goods. It is run by a committee made up of local church
representatives. The idea developed after the 1986 flood — hence the
name when it was felt that such an enterprise would be of benefit to the
numerous talented people in the district who occupy their time with
handicrafts. The profits are put back into the community.</p>

<p>Next door is Pleasant Point Motors, a garage and petrol station owned by
Brian Schimanski and, in Jopp‘s Building, now owned by GD. O’Rourke and
Sons, is their family Taxidermy. This business, which began as Gerald O’Rourkes
hobby, has grown into a flourishing concern with three of his sons engaged in it and
has served the hunting fraternity for twentyrfive years or more. The firm caters mainly
for the weekend hunter who brings his catch to be mounted as a trophy to adorn
his home. Some work has been exported to wholesalers and retailers around
the world and clients from as far afield as Africa and Australia send trophies
to be mounted. Gerald O’Rourke is now retired and his sons carry on the
business.</p>

<p>In part of the same building where their grandfather was once the Men's
Hairdresser, Gay’s Gift Shop sells stationery, toys and bric-a-brac besides
operating a news and magazine agency.</p>

<p>Further along is Shortus‘s General Store where Cliff Shortus has
successfully attempted to reinstate the old style of country store where
anything from a nail to a pair of boots can be purchased. In what was the old
bakehouse in the back yard, he also has a second hand trading post.</p>

<div class="thumbnail">
  <%= image_tag 'ch5-1.jpg' %>
  <div class="caption">
    <p>Views of Main Street today.</p>
  </div>
</div>

<div class="thumbnail">
  <%= image_tag 'ch5-2.jpg' %>
</div>

<p>The ‘Blue Garage’ of yore continues in the same line of business as a
servicing station and garage for Education Department buses under the
supervision of R. Taylor.</p>

<p>On the corner of Halstead and Main Roads, Mervyn Dockerty operates the
third garage in the township. It was formerly owned by his father.</p>

<p>Next door to this is Kennett’s Dairy which is a seven day business
incorporating milk bar, green grocery, tea shop, news agency, video hire and
now, Lotto.</p>

<p>The opening of an eight unit shopping mall in 1979 marked the biggest
venture in the commercial sector for many years. This colonial style complex,
built at a cost of $137,000, was the brainchild of A. Izard, dairy farmer of
Totara Valley and ].J. Friel, local butcher for many years. The premises now
contain a butchery under the proprietorship of B. Wilson, Keene’s Pharmacy
which fulfilled a long unsatisfied need in the community, and Trust Bank
South Canterbury which first came to Pleasant Point with the opening of the
Mall. Since then, its services have expanded to advancing loans in the
commercial and farming sectors as well as home and personal loans.</p>

<p>With the closure of the Post Office in June 1989, Trust Bank became the
only banking service in the township and account holders increased
accordingly. These services are much appreciated by those who have to depend
on local facilities and, as an additional benefit, the profits are returned to the
community in the form of donations and sponsorships for local voluntary
organisations. Next door to the bank was a drapery for some years with Mrs D. Te
Koeiti and, later, Mrs B. Stewart as proprietors. This business was closed down in
1987 but the shop has recently been reoccupied.</p>

<p>Under the name ‘Stitches‘, part of it is run by Mrs Val Blakemore in conjunction
with her hairdressing salon. When not hair-dressing, Mrs Blakemore spends
her time sewing garments to order besides selling material and sewing
accessories. ‘Clippers’ Hair Dressing Salon caters for men, women and
children in hair- cutting and styling to a professional standard.</p>

<p>Strathallan Electrical Services, under the management of M. Sword,
occupies the next shop and sells and services a wide variety of electrical
appliances and sound equipment. A repairs and installation service is also
provided.</p>

<p>The last shop in the Mall accommodates the ‘Snowline Food Bar’ which,
besides fish and chips, sells a variety of fast foods. The first fish and chip
outlet in Pleasant Point was opened in the Jopp Building in the late [9603 by
Mr and Mrs Ben Sheard. It changed hands several times and transferred to its
present situation when the new complex opened.</p>

<p>At 51 Main Road, where a milk bar and grocery once operated, R. Stratton
has set up his ‘Cortez’ Leather Workshop. His business grew from a hobby
learnt from an elderly friend. He is one of only four bag pipe specialists in New
Zealand and makes wind bags for pipes and dress sporrans and drum slings for
pipers. He also specialises in sandal making and sells a large range of sports
bags.</p>

<p>Further along Main Road, occupying what was once the electrical services
shop, is Aorangi Veterinary Services clinic. This was one of a chain of
branches set up by the Timaru based parent clinic in the late 1970s. The
continuing growth in numbers of its clientele demonstrates the demand it has
satisfied both for pet owners in the township and farmers in the surrounding
districts.</p>

<p>Another enterprise which has been operating in Pleasant Point since 1942 is
Cook and Sons’ Sawmill at the end of Morris Lane. When it first started up, it
was considered to be only temporary due to an apparent lack of millable trees
in the area. However. Cooks stretched the limit and still find plenty of work. A
family business, it is now operated by the third generation and employs fifteen
to twenty workmen.</p>

<p>On their arrival, the only equipment Cooks had was a traction engine and
two saws. Today the mill is well equipped with up-to-date electrical and
hydraulic gear. Timber is purchased from as far afield as Tekapo and Kakahu
and wood lots are bought in from local farmers. Contract work is also
undertaken for Timberlands.</p>

<p>In spite of a disastrous fire in 1984 which destroyed much of the
machinery, the mill was rebuilt on the same site and continues to prosper.
Most of the sawn timber is sold locally but some is now exported. Off-cuts and
waste are cut into blocks and sold for firewood around South Canterbury.</p>

<p>Pleasant Point has long been noted for its fine honey. Mr Dick Holland first
established an apiary in the district in a small way during the depression of the
1930s and the business gradually expanded. He then set up a honey packing
business in Horton Street for which he patented a honey creaming method.
This enabled him to produce New Zealand’s finest packed honey.</p>

<p>In 1968, the packing business was purchased by the New Zealand Honey
Marketing Authority which operated it until 1981 when it was sold to the New
Zealand Honey Cooperative. It is now the biggest honey factory in the
country, packing a thousand tonnes a year and also exporting bulk lots of
honey around the world.</p>

<p>When Dick Holland took to honey processing in the 1950s, he sold his
apiaries of 700 hives to Fred Bartrum who, with his son Paul, has increased the
number of hives to 3000. They employ three men and run the business from
the premises on the Main Road opposite the domain. In 1957 Mr Bartrum
pioneered beekeeping in the Mackenzie Country and his hives are now spread
over a vast area.</p>

<p>Until recently, Stephen Robins operated another bee-keeping business from
his property on Manse Road. It was started by his father in 1953 but the hives
have now been sold to the Bartrum family.</p>

<p>Cyclemakers Group Limited began production in Pleasant Point in October
1981 under the chairmanship of B.J. Jackson of Timaru who had a long
experience in the Cycle Retail Industry. Ian Hooker was the managing director
with several years of experience in cycle manufacturing.</p>

<p>Pleasant Point was selected as a site for the factory because the company
believed that a small town offered a lot of advantages for such a venture. With
few industries and a growing population in the township, it was felt that a
good labour force could be obtained. Also, people were likely to identify more
readily with a factory in a small town rather than if it were just another factory
in a large industrial area. Local pride in achievement would result in better
workmanship and harmonious industrial relations.</p>

<p>At the beginning the firm had a staff of ten and 400 retail outlets in the
country. Production has expanded over the years and it is now the only cycle
designer and manufacturer in New Zealand. The lifting of import controls in
July 1988 had a profound effect on the industry and caused other
manufacturers to close down.</p>

<p>Cyclemakers produce a full range of cycle models. Parts are imported from
europe and Japan and frames are made at the Pleasant Point factory where
the machines are assembled. More than one hundred bicycles a day are
produced and sold all over New Zealand. It is the only distributor of the
French Peugot cycle range.</p>

<p>The factory is situated in Te Ngawai Road on land leased on a long-term
basis from the Anglican Church Property Trust. At the time of writing, about
thirty-five people are employed in full-time or temporary positions.</p>

<p>On the neighbouring site facing onto Greig Street is Pleasant Point Panel
Beaters owned by D. Bell and C. Race. This business was first established in
the township by Barry Esler who built a workshop on Te Ngawai Road in the
late 1970s. When the Church property was zoned industrial in the early 1980s,
he built a bigger workshop there and, later, sold the business.</p>

<p>In recent years, small berry fruit production has been carried on in the
township. In Greig Street, John Rolston established a blueberry orchard and
supplies an expanding market, both local and in the U.S.A. from the 2000
fruit bushes on his property.</p>

<p>Strawberries and raspberries are grown at Warren’s Gardens in Burke Street
and sold locally and under contract to Canterbury Berry Fruit Company and
Raspberry Marketing Authority for distribution in New Zealand and overseas.</p>

<p>Mr Don Armstrong of Butlers Road grows 30 acres of black currants which
are sold to Barker’s Winery at Pleasant Valley and under contract to
Canterbury Fruit Company.</p>

<p>In Frederick Street, Reverend Cunliffe cultivates a tree and shrub nursery
specialising in New Zealand natives. He first established the nursery as a
hobby on his retirement from the Anglican ministry of Te Ngawai Parish.</p>

<p>Tradesmen operating in Pleasant Point today include builders N. Gould, R.
Earl, M. Beynon and L. Hardie; bricklayer J. Egan, electrician P. Clemens
and joiner K. Wills leasing D. Carter’s joinery business, all of whom
contribute to the self-sufficiency of the local building industry.</p>
