<div class="page-header">
  <h1 id="chapter-sixteen">Chapter Sixteen</h1>
</div>

<h2 id="sport-and-recreation">Sport and Recreation</h2>

<h3 id="the domain">The Domain</h3>

<p>As early as 1873 the engineer of the Levels Road Board was asked to prepare
a tracing of a block of land for recreation purposes at The Point. As a result,
the first Domain Board was formed in 1875 with E. Acton as chairman and
Jas. Strachan, Wm. Halstead, Jas. Gammie, H. Jackson, and Wm. Howell as
Board members.</p>

<p>The “Recreation Ground" was landscaped with trees soon afterwards as
recorded in the following report from the “Temuka Leader” on 11th
November 1879:</p>

<blockquote>
  <p>The public domain is an eighty acre block around which has been planted a
  belt (1 chain wide) of evergreen trees. Fenced in on both sides is a carriage
  drive bordering the grass centre plot. In a few years, this will be a most
  pleasant retreat for the good folks living in the township.</p>
</blockquote>

<p>The seedling trees and seeds originated from Raincliff Station, then owned
by the Hoare family. They were English bankers who sent gardeners out from
England to carry out plantings on the Raincliff Station. The stock of seeds
surplus to their requirements were gifted to the Council for planting in the
domain. It would appear that they were planted by a nurseryman from
Timaru, Michael Fitzgerald.</p>

<p>The original Domain is recreational land vested in the county, which means
that the county has full use and enjoyment of the land but does not own it and
could not, as of right, sell the area and utilise the funds for county purposes,
i.e. it is owned by the Crown.</p>

<p>The “Temuka Leader” is somewhat inaccurate when it states “80 acre
block” as it is actually 66.0 acres (27.09 ha.) It was not officially registered
under the Public Domains Act until 5th December 1882.</p>

<p>Many trees in the original Domain are now well over a hundred years old
and a lot have been damaged over the years and have had to be felled. The
storm on lst August 1975 funnelled through the park leaving many uprooted
trees in its wake.</p>

<p>Since that time, efforts have been made by the local community, under the
guidance of Mr F. Bartrum, to tend the existing trees, remove dead branches
and plant new species so that the number of trees in the old Domain has
multiplied. A popular walking/jogging track has been formed between the
trees round the perimeter of the park.</p>

<p>In the last decade, the Council has purchased 5.3 ha. of land, adjoining the
Domain, from Mr and Mrs D..J Armstrong, to meet the need for more playing
fields Mr and Mrs Armstrong donated a strip of land from their remaining
property to provide access to the new sports field from George Street.</p>

<p>These grounds were developed in 1980 with the costs being met in part by the
County and in part by a grant from the NZ. Lottery Board.</p>

<p>Another block of 4.5 ha. was purchased from Mr M. Blakemore in 1985.
This is the area fronting the Main Road and the purchase and other cost were
met by a $70,000 loan.</p>

<p>As all the money was not needed for that purpose, $4,000 of it was used for
cabin replacements in the camping area and the surplus of approximately
$3,600 has been set aside for future development.</p>

<p>The New Fields and Blakemore Block are freehold although the County, in
owning the Fee Simple rights has the final say in terms of use, subdivision or
disposal.</p>

<p>The whole Domain is a recreational area which caters for the following:</p>

<ol>
  <li>GOLF — The Pleasant Point Golf Club leases the main area of the original
  Domain in which they have nine of their eighteen hole course.</li>

  <li>TENNIS —— The Pleasant Point Tennis Club has two hard courts and a
  practice area located in the northern corner of the original Domain.</li>

  <li>TUG O’WAR — The Pleasant Point Tug 0’ War Club has a club house,
  formerly the old golf club house, in the eastern corner of the Domain.</li>

  <li>GYMKHANA and TROTTING — The Pleasant Point Gymkhana
  Committee holds its annual event in the Domain when races are also run on the
  Trotting track.</li>

  <li>HOCKEY — The Pleasant Point Hockey Club shares club rooms with the
  Soccer Club and have their playing field at the north—west end of the New
  Playing Fields.</li>

  <li>SOCCER — The Pleasant Point Soccer Club has its field at the south-west
  corner of the New Fields.</li>

  <li>RUGBY — The Rugby Club has been established in the Domain for many
  years. Until the New Fields were added, they played on the oval in the old
  Domain but have since acquired two more fields. In conjunction with the
  Tennis Club and the Levels County, the Rugby Club built a new pavilion in the
  late 1970s with social, shower and changing facilities.</li>

  <li>CRICKET — The Cricket Club operates from a wicket on the New Fields
  and an artificial wicket has already been completed.</li>

  <li>CAMPING — For many years, the Strathallan County Council has
  operated a camping ground in the northwest corner of the Domain. Camp
  facilities include the shower rooms under the rugby pavilion, cooking and
  toilet blocks, laundry, power points for caravans and a camping area of
  approximately 1.5ha. This camp is very popular during summer but gets
  insufficient use on an annual basis to adequately cover overhead and operating
  costs.</li>
</ol>

<h3 id="tennis">Tennis</h3>

<p>Although no early records are available, it would seem, from the following
report, that a Tennis Club existed in Pleasant Point as early as 1895. Timaru
Herald, 18 January 1895 states:</p>

<blockquote>
  <p>Pleasant Point Tennis Club met the Victoria Tennis Club (Ballantyne and
  Co.) in friendly games on the Halsteads’ private lawn yesterday afternoon. It
  was a most enjoyable afternoon despite the fact that a strong Nor’wester swept
  the court and made playing very erratic. Mr Halstead, (president) and Mrs
  Halstead (secretary) and the ladies made the visitors most welcome.</p>
</blockquote>

<p>This was on Wm. Halstead’s property at 12 Halstead Road.</p>

<p>Some years later, a band of enthusiasts chipped a court on Wm. Halstead’s
son, Ellis’s property at 13 Afghan Street where the game was played for a
period. Later, the school grounds became the venue.</p>

<p>During the Great War, with so many members away on active service, the
Club became defunct but the game received an impetus when, some years
afterwards, the reformed Club had two asphalt courts laid in the Domain.</p>

<p>Largely owing to the efforts of Dr A.M. Patterson, the game had again
become popular in the district and, since that time it has continued, through
varying fortune, to function until today. It is the most popular of Summer
sports and now has three good courts, delightfully situated, in the Domain.</p>

<p>By the late 19305 the Club was competing in both Timaru and Te Ngawai
competitions and, in 1939, won the Te Ngawai Challenge Cup.</p>

<p>Finances were not healthy at that stage. Subscriptions were men 15/-, ladies
7/6d, juniors 5/— but it took several dances and Tug 0’ War to defray the
expense of two new nets.</p>

<p>With the onset of World War II, membership declined and only one team
was available for competitions. Club Championships were held in abeyance
for the duration. In 1942, a team was entered in the South Canterbury
competitions and one in the Temuka sub-competitions but petrol restrictions
eventually forced the club to withdraw from competitive tennis and confine
itself to friendly games.</p>

<p>By 1950, the Club had affiliated with both Timaru and Te Ngawai
Associations and membership had risen to thirty—three. From then on the Club
ﬂourished and enjoyed regular matches as well as friendly games with Aorangi
(Timaru) and Totara Valley. Club Championships were completed for the first
time in ten years.</p>

<p>Membership dropped to only twelve in 1962—63 but had risen to 80 by the
1968-69 season. The Club was able to enter six teams in the Te Ngawai
Association and one in the Timaru competitions. Several members enjoyed
representative honours with Claire Collett being winner of the Ladies’ Singles
in 1969.</p>

<p>Big efforts at fund raising were made to reseal the Domain courts in 1966
and augment club finances. Members were encouraged to attend weekly club
days and play ladder matches as well as participating in friendly matches with
St. Mary’s Club of Timaru. Coaching of juniors helped in developing young
players.</p>

<p>In the 1970-80 decade, membership continued to grow and it became
necessary to hold two club nights weekly for juniors but numbers declined
again in 1976 when Cave and Totara Valley Clubs were revived. An annual
newsletter was introduced to keep members in touch with Club affairs and it
has continued ever since. Players particularly prominent in South Canterbury
teams were Seniors C. Collett and G. Henderson and Juniors A Lyon and G.
Higginbottom.</p>

<p>In 1975, the Tennis Club agreed to join the Rugby Club and the County
Council in funding and constructing new club rooms. Members gave many
hours of their time in fund raising pursuits as well as assisting with the building
and decorating of the pavillion.</p>

<p>The Club has continued with good membership and considerable success in
competitions through the last decade and representative players have gone
forward. Having the use of the Rugby Club rooms during the Summer has
been of great benefit.</p>

<p>The South Canterbury Lawn Tennis Association recently held discussions
with a view to having Timaru, Temuka-Geraldine and the Te Ngawai Clubs
play in one competition over a range of grades for the 1989-90 season.
However, Pleasant Point was the only Club willing to take up the challenge
and. it is hoped, will continue to pursue it.</p>

<p>It should be noted that St. Mary’s Church have their own tennis club in
Pleasant Point and compete in the Te Ngawai competitions.</p>

<h3 id="badminton">Badminton</h3>

<p>On March 22, 1965, J. Crossan, Headmaster of the District High School,
presided over a meeting in the Town Hall to form a Badminton Club. Those
present were: Messrs L. Hardie, L. Te Koeti, B. Brown, G. Hardy, W. Zwarts,
J. Moore, B. Dykstra, Mesdames P. Holland, J. Henderson, P. Bartrum, D.
Te Koeti, Miss K. Holland.</p>

<p>Mr Crossan offered the use of the Victor Wilson Hall for which it was
decided to give 10/— a night to cover electricity. Subscriptions were set at 10/7 a
year plus 1/- per night.</p>

<p>Miss V. Moore gained Representative honours in the under 18 years team
for South Canterbury and, in 1975, six members gained similar honours in
Junior Division and Gosnell Trophy. Miss Ann Esler represented South
Canterbury in 1975, 1976 and 1978.</p>

<p>Subscriptions are now, Senior Competition players, $45, Senior none
competitive $15, Juniors $25 and $10. There are twenty—four members in 1989.</p>

<h3 id="bowls">Bowls</h3>

<p>In 1936 proposals were put forward by a few enthusiasts for a bowling green
in the district but it was another two years before it became a reality. The new
headmaster of the District High School happened to be a keen bowler and his
persistence led to the formation of a Bowling Club.</p>

<p>Fund raising was the first task for the Club. A Queen Carnival to be run as a
joint venture with the Croquet Club was ultimately agreed upon.</p>

<p>With Doris Murphy and Dorothy Chapman as the two Queens, the carnival
created much rivalry between the clubs and 500 Pound was netted from the
event. The Club was now in a position to construct its bowling green.</p>

<div class="thumbnail">
  <%= image_tag 'ch16-1.jpg' %>
  <div class="caption">
    <p>Procession for Bowling Carnival lead by Mr H. Christie and the 2 Carnival Queens,
    D. Chapman and D. Murphy.</p>
  </div>
</div>

<p>The Timaru Employment Office provided the labour and J.T. Hunt of
Timaru agreed to supervise the laying. South Canterbury Bowling Centre
contributed five pounds and A. Woods gave a few sets of bowls to help the
Club along. The pavilion was built by W. Grant and J. Smillie and the final
cost was nearly 1,000 Pound. W. Edyvean gave a set of gold buttons to be
competed for by members.</p>

<p>W. Grant was president of the first committee and others elected were Mrs
W. Taylor, Miss A. McBean, Messrs. S.C. Gibb, H.E.Frew, H. Christie, R.
Turnbull, F. Malcolmson, G. Gray, A. Oborn and J. Hosken.</p>

<p>The Croquet Club committee were Mesdames J. Cunningham (president), J.
South, A. Thomas, J. Smith, R. Halstead, A. Gray, F. Simmons, E. Candy,
A. Davison, Misses H. Kime and 1. Gray.</p>

<p>T.D. Burnett, M.P. was the guest speaker at the official opening which took
place on 26 November 1938. In his speech, he described the opening as a
milestone in the history of Pleasant Point. He went on to say: “The club will
be a great asset as it will bring town and country together in a spirit of
brotherhood. It is only right that they should make contact with fellow men
when the day is over and that the ladies should gather for a little district gossip
whilst the men try their skill at bowls.”!!</p>

<p>At this stage, the women did not play bowls.</p>

<p>Croquet was the ladies’ game and their green was situated where the Fire
Station now stands.</p>

<p>The Croquet Club did not last for many years and, before long, the women
became interested in playing bowls. As three or four women were already
playing in friendly games with the menfolk, it was decided to form a Women’s
Club in October 1955. Mrs P.J. Bowman was the first president and Mrs PD.
Roberts secretary.</p>

<p>Membership of the Bowling Club has grown through the years to
approximately 90 in 1989. Each group participates in inter—club competition as
well as in social and friendly contests with Fairlie Club. The women compete
for the Roberts Shield and the men for the Hosken Trophy.</p>

<h3 id="golf">Golf</h3>

<p>Golf was played in a paddock behind the Pleasant Point Hotel before the
turn of the century, (Cooks. Sawmill now stands on the site), but it was not
until 28 February 1921 that a meeting was convened to consider the
establishment of a golf club.</p>

<p>A committee was formed with J.H. Morris as president, Dr Milne as
secretary and W. Garton as treasurer. Other members were Messrs H.C.L.
Dossett, A. May, Cuison and Batchelor.</p>

<p>Land was obtained from J. Cartwright who farmed the property bordering
Keanes Road and behind where the Railway and Historical Society’s shed now
stands. This was sufficiently established for an opening day to be arranged for
19 May 1921.</p>

<p>Mrs N.E. Wright (nee Hinson), the then reigning NZ, Champion woman
golfer, was asked to drive the first ball. It is interesting to note that, as Mrs
Templar of Geraldine, she again drove the first ball for the Club’s 50th Jubilee
and yet again a few years later for the opening of the second nine holes in 1976.</p>

<p>At a meeting later in 1921, it was decided to buy land on the far side of the
Opihi River in Waitohi and establish an eighteenrhole course on the property
of J. Orr and E. Prattley. Golf was played there until 1923 when it was decided
to move to the Pleasant Point Domain and establish a golf course there. This is
now the first nine holes of the Club’s present course.</p>

<p>As the racecourse was already there, the golf course had to be planned
around it. The first club house was the old pavilion which still stands near the
Rugby Club rooms. Up until 1930, subscriptions were men 1 Pound, ladies
10/7 but, in 1933 this was reduced to half because of the depression and no
family was expected to pay more that 1 Pound 10/—.</p>

<p>Over the next twenty years, the Club progressed slowly with a very small
membership owing to the war years following the depression. All work had to
be done on a voluntary basis and the names of Roberts, Patrick, Clarkson and
Evans were for ever to the fore in this category. All fairway mowing was done
by sheep and the greens were enclosed in low fences.</p>

<p>In the early 1960s when golf started being featured on T.V., many budding
‘Arnold Palmers’ began to seek membership so that, by the end of the decade,
there was a big waiting list for membership. The committee agreed that it was
to the detriment of Pleasant Point when people moving into the district whose
favourite recreation was golf, could not join the Golf Club.</p>

<p>Consequently, in 1969, when the opportunity arose to buy 50 acres from
R.R. Jordan, it was decided to move forward once again and establish a full
eighteen hole course. This was accomplished with the dedication characteristic
of small communities and Pleasant Point especially. Ninety per cent of the
labour of developing the new course was voluntary and machinery was lent
free of charge.</p>

<p>With an extended course. the Pleasant Point Golf Club began to look to
Timaru for increased membership and soon, Town and Country players made
up a Club which became recognised as the Friendly Club of South Canterbury.</p>

<p>A new club house of the highest standard was soon built on the new land. It
is estimated that all this would have cost something like a quarter of a million
dollars had it not been for the voluntary efforts put into the project. As it was.
it only required the Club to take out a manageable loan in the form of
debentures.</p>

<p>By 1986, the Club membership had risen to 600 * a far cry from the original
few of 1921. In March of 1986, the disastrous flood completely devastated the
new nine holes and construction work had to start all over again. However,
local and city members rallied round and, with the large membership
providing hundred of hours of voluntary work and thousands of dollars worth
of machinery, combined with various fund raising schemes, the course was
once again ready for play to resume.</p>

<p>Today, the Pleasant Point Golf Club is one of the largest and strongest clubs
in South Canterbury — something of which the whole community is justly
proud.</p>

<h3 id="the-pony-club">The Pony Club</h3>

<p>Pleasant Point Pony Club was first formed in 1963 but such a club had
functioned at Totara Valley for a short time in 1954.</p>

<p>Cecil Maze was the first chairman and Mrs JD. Stewart the first secretary.</p>

<p>Members who have, over the years, been selected to represent South
Canterbury in the National Championships include: Ron Small 1968, Jim
Esler, Gay Dunn, Anne Esler, Andrew Munro, and Phillip Ward Smith.</p>

<p>Club membership stands at about thirty today.</p>

<h3 id="miniature-riﬂe-club">Miniature Riﬂe Club</h3>

<p>This club had its beginnings on the night of 15 April 1926 at a meeting in
Bowman’s Tearooms convened by PJ. Bowman and T. Forrest.</p>

<p>There was good attendance and plenty of enthusiasm and the Club was
founded on the high note that has been a feature of its activities ever since.
PJ. Bowman was elected president, Mr Howell secretary and T. Forrest Club
Captain.</p>

<p>A dance was held to raise funds and mark the opening of the season and it
was such a success that a similar function was held for years to come.</p>

<p>In June 1926, the club was affiliated to the South Canterbury Miniature
Riﬂe Association and appointed Messrs Trilford and Fenton as its delegates.</p>

<p>Shoots were held weekly in the Oddfellows’ Hall and the Club celebrated its
foundation by winning the premier team trophy of the district — the Herald
Shield.</p>

<p>When the present Town Hall was completed in 1928, with a riﬂe range
incorporated in the plan, the Club transferred from the Oddfellows’ Hall and
still holds its shoots and meetings there today.</p>

<p>In 1929 an Annual Women’s night was introduced and the Club's official
seal adopted. In the following year two shell cases were presented as prizes for
the most possibles off the riﬂe and the Junior Championship.</p>

<p>In 1941-42, all members away on war service were made honorary but, like
other clubs, shortages caused the Riﬂe Club to go into recess. Its money was
then invested in War Bonds.</p>

<p>The Club reopened in 1946 and in 1949, the first euchre evening, an event
which has continued ever since, was held in conjunction with the presentation
of trophies. Several shields and district competitions were won in 1952 and
WT. Taylor was chosen to represent the South Island. On his departure from
the district in 1956, he was made a life member in recognition of over thirty
years of service to the club.</p>

<p>South Island honours were gained by M.F. Blakemore and H.A. Smith in
1959 and Mr Blakemore also won the New Zealand Championship. In the
same year, the Club became Champion of Champions for the first time.</p>

<p>During the 1960s Club membership increased to over forty and success came
regularly in team shoots and in South Island and NZ. representative shoots.
Mrs A. Kingsbury gained honours in South Island Ladies’ competitions and
Mrs S. Brown who was NZ. Women's Champion in 1936, continued to give
strength to the Club.</p>

<p>In September 1975, a dinner was held at ‘The Poplars’ to celebrate the
Club’s Golden Jublilee and 1976 saw the ‘A’ Team win the Herald Shield, the
Hayhurst Shield and the Herald Cup — the three major trophies competed
for.</p>

<p>With the introduction of the new outward gauging targets in the last decade,
scoring has become much more difficult despite improvements to the range,
lighting and riﬂes. Shooters have not scored consistently well and membership
has dropped in clubs throughout the country. Nevertheless. members still
represent Timaru and South Canterbury with Mr and Mrs H. Smith, G. Bailey
and N. Gould to the fore.</p>

<p>With membership down to ten in 1988, members decided not to affiliate
with the N.Z. Association in protest at the high cost and, as rebels, reverted to
using the old targets. This action, of course, prevented the Club from being
affiliated to the urea associations and caused a break in the long—standing
representative career of Harry Smith’s thirty-two consecutive years.</p>

<p>Consequently. the Club relented and decided, to re—affiliate in 1989 and use
the new targets.</p>

<p>The Riﬂe Club has always been grateful for the support and many trophies
which have been given. The H.D. Roberts trophy is one with a history as he
was one of the early members of the club. When he returned from war service
in the Middle East, he presented the Club with a brass gong which has been
contested for every year since.</p>

<p>Besides top grade shooters, the Club has produced excellent administrators.
H. Smith has been president of the Timaru Association for fifteen years and
also served for a similar period on the New Zealand Executive. Mrs A. Smith
as secretary and L. Beck as treasurer have also given years of service on the
Executive Association.</p>

<h3 id="tug-o-war">Tug O’ War</h3>

<p>The sport of Tug O’ War has been part of Pleasant Point life since 1903.
Photographs taken at Waitohi in that year show the teams in a standing
position which is the European style of competing. The 19305, however,
brought in the change to a sitting position which has been adopted as the New
Zealand method.</p>

<p>Over the years, competitions have proved great fund raising pro1ects for
local organisations. In the early 19305, money was raised for the establishment
of the Pleasant Point Bowling green from competitions held in the ‘Blue
Garage’. Patriotic Funds during World War II were boosted by contests
between teams such as Gould Bros, Cook and Sons Sawmill and Christchurch
Railway Workshops held in the Town Hall.</p>

<p>The 1950s and 60s were particularly strong years for the sport with Glenavy.
Cave. Totara Valley and Point all having good teams in each grade. Frames
Transport Team won the NZ. Open Championships in 1963 and 64. The
middle and lightweight teams won many South Island titles during the 1960s
and 70s.</p>

<p>Ladies’ teams began competing in 1962 and the local girls have had their
share of the prizes.</p>

<p>The Club is still active, entering the 19905 with three teams competing
locally. Since purchasing the old Golf Club pavilion in the Domain, it now has
its own premises for storage of its equipment, practices and social functions —
an advancement on the farmers’ sheds of the past.</p>

<p>The Tug O’ War Club has played its part in promoting the name of Pleasant
Point throughout New Zealand. Long may it continue.</p>

<h3 id="netball">Netball</h3>

<p>Originally known as the Pleasant Point Basketball Club. this body had its
beginnings about 1932. In that year, the Temuka Basketball Association was
formed and the P.P.D.H.S. happened to have two enthusiastic NZ.
Basketball referees on the staff.</p>

<p>They were Agnes McBean and F. Malcolmson and, under their leadership
and coaching, the Club competed in Temuka Association matches which were
played in all the districts whose teams were members. The tennis courts in the
Domain were used for matches in Pleasant Point and, as team numbers grew,
they were transferred to the school courts.</p>

<p>In the 1960s all matches were centralised at Temuka since which time,
Pleasant Point teams have had to travel there each Saturday in order to
compete. These days, both school and adult teams compete there with as many
as fourteen teams playing in various grades.</p>

<p>Many members have attained South Canterbury representation status and
the Club was especially proud when, in 1959, one of its former players Miss
Shirley Patrick became a N.Z. representative in a team which travelled to
Australia.</p>

<h3 id="cricket">Cricket</h3>

<p>A Cricket Club was formed in November 1879 under the chairmanship of
the School Headmaster, H. Henri with a membership of 24 but it seems to
have gone into recess some years later.</p>

<p>Since then, it has been difficult to find any records of a cricket club in
Pleasant Point until 1959 when town cricket matches were played
spasmodically up to 1966 when it again went into recess.</p>

<p>The Club was revived in 1978 with Tom Dossett as president and John
Oliver as secretary and its team has played in Grade II competitions ever since.
In 1989, it won the competition for the first time.</p>

<p>School boy cricket has been played here since 1981 and two teams have been
entered in the School Boy Competitions each year since 1984.</p>

<h3 id="soccer">Soccer</h3>

<p>It is owing to the enthusiasm of Mr and Mrs D. Ottley who inaugurated the
first club, that soccer has become established in Pleasant Point.</p>

<p>Peter Roddick was the first Club President and, in 1980, a senior team
competed in the competitions. Promotion was on merit and, by 1982 they were
competing in the first division.</p>

<p>A ladies’ team was formed in 1981 and participated in competitions until
1984.</p>

<p>In 1989 the Club was fielding three senior and four junior teams as well as
six school boy teams.</p>

<h3 id="squash-courts">Squash Courts</h3>

<p>As early as 1970, the idea of establishing squash courts in Pleasant Point
was contemplated by Rugby Club members. Investigations revealed that a
demand for such a facility existed in the district and, in 1984, the Pleasant
Point District Squash Racqueters’ Club was formed.</p>

<p>A committee with Norman Blakemore as chairman was elected to undertake
the responsibility of instituting the project and a suitable site ~ part of what
was once the saleyards — Was purchased.</p>

<p>The Committee, assisted by several volunteers, then canvassed the Pleasant
Point schools catchment area asking for financial commitment from
householders by way of prepaid ten-year family membership for $1000, single
ten-year membership for $500, ten-year debentures or simple cash donations.</p>

<p>Further funds were raised by donations of livestock, grazing land for
donated livestock, wool or other saleable items. The result of these efforts was
estimated to be in the vicinity of $30,000.</p>

<p>The two-court complex was officially opened in July 1986 and the Squash
Club began playing with a membership of 180. Competitive matches are
played and the Club continues to have strong support.</p>

<h3 id="hockey">Hockey</h3>

<p>The Pleasant Point Hockey Club was formed in 1974 and has gone from
strength to strength ever since. At first, the Club had no grounds of its own
and used the High School field for practices.</p>

<p>In 1981 part of the new playing field at the Domain was allocated to the
Hockey Club and it is hoped that two more pitches will be available in the
future.</p>

<p>Four teams played in Saturday competitions in 1989 when, after several
years as runner-up, the Primary School team came first in its grade. The
Intermediate team finished first equal in its grade and the ‘A’ and ‘B’ teams
had an enjoyable season in the A and Senior B Grade competitions.</p>

<p>Seven of the Club players represented South Canterbury at the National
Tournament.</p>

<h3 id="rugby-football">Rugby Football</h3>

<p>From very early days Rugby football has had a keen following in the
district. The starting point of organised Rugby was in 1889 when a local team
played against Timaru Crusaders. This was a team of school boys playing in a
Club match with C. Goldstone, the Waitohi teacher as their coach. From then
on, inter-school matches between Waitohi and Pleasant Point continued on a
regular basis.</p>

<p>Although the Club experienced its ups and downs in those days, sometimes
fielding a strong team and, at other times, finding it impossible to raise a team
at all, it did not disband. Being a rural community it was often difficult for
farming men to be available for matches but the odd friendly game kept the
Club alive.</p>

<p>Travelling to matches was also a problem with the choice of transport being
between horseback, express waggon or train. However, in 1914 a team was
entered in the third grade competition of S.C.R.U. but, although there was
plenty of enthusiasm, it met with little success.</p>

<p>During the first World War years, nearly all the members were away in the
forces so the Club went into recess until 1921 when it was revived under the
leadership of Rev GD. Falconer. A friendly opening game with Fairlie
marked the beginning of what was to become an annual event.</p>

<p>Teams were entered in Junior Flag and Fourth Grade S.C.R.U.
Competitions, this time with considerable success which continued through the
ensuing years.</p>

<p>In 1926 the Club hosted a Seven-a-Side Tourney in which Primary and High
School pupils competed. Thanks to the generosity of TD. Burnett, the Club’s
Vice President, forty-two medals and trophies were presented to the winning
teams. Five members of the Junior Grade Team became South Canterbury
representative players.</p>

<p>To mark forty years of local Rugby in 1929, TD. Burnett donated the
Mount Cook Cup for the best all-round team in the Tourney, not necessarily
the winning team. Eighty teams competed. This coveted trophy is still
competed for annually but nowadays, in a contest between the Pleasant Point
and Mackenzie Rugby Clubs played on the holder’s ground.</p>

<p>The 1930s depression had its effect on the Club with rural job losses
depleting the available players. However, the junior team which was still
entered in local competitions formed a nucleus for senior teams in later years.</p>

<p>Again, the Club went into recess during the second World War with so many
members away on active service, to be resurrected in March 1945 when a
meeting was called to reform it.</p>

<p>A Third Grade team was entered in the competitions and from then on
membership grew steadily. Working bees and social fund raising activities
were held to improve playing facilities. At that time, there were no showers in
the Domain and players had to use those at the hotel. Wet weather training
was held in the disused grocery store (now the Scout Den) and lighting for
evening practices was badly needed at the Domain.</p>

<p>By 1956 five teams were entered in the competitions and, by 1960, the Club
had settled into an established pattern of fielding a reasonable Senior Reserve
team and five in Grade and Schoolboy Rugby.</p>

<p>As the Club grew, attention was given to improving facilities and
ﬂoodlighting was installed on the field. Eventually a new concrete block club
house was built incorporating changing and shower rooms and a social room
with open fireplace.</p>

<p>In 1963 the Club made history by winning the Senior Reserve competition -
the first win for the Club in 39 years.</p>

<p>Since 1979, morning grade schoolboy teams have been entered in
competitions and many of these players have gone right through to senior
grade.</p>

<p>In 1980, extensive improvements were made to the Football Pavilion at a
cost of $65,934. Superb fund raising efforts made this possible. Hay carting,
slink skin collections, hare drives all contributed to clearing the debt on the
building by 1986. Since then, even more improvements have been made to the
club rooms enabling members to enjoy first class facilities.</p>

<p>Much excitement and great community support was generated in 1988 and
89 when the senior team reached the finals of the Skinner Cup. Hopes were
high for a victory to celebrate the Club’s centennial but the match did not go
Point’s way.</p>

<p>Several Club members have become South Canterbury Representatives
during its history. One family can claim this honour for two generations — Ian
Patterson and his son Robert. The Ryan name has appeared in two generations
with E. Ryan and his two nephews Peter and Mark all gaining representative
honours. Stephen Sugrue brought honour to the Club when he was selected for
the NZ. Youth Team to tour America. Five Club members played in the
South Canterbury team which toured Queensland in 1987.</p>

<p>The Pleasant Point Rugby Club has been fortunate in always having strong
support from the district and this has played a great part in its achievements to
date.</p>

<h3 id="the-annual-gymkhana">The Annual Gymkhana</h3>

<p>The Gymkhana, held on the first Saturday in November, is recognised as
one of the big events of the year for Pleasant Point.</p>

<p>Since the first Gymkhana was held in 1947, it has grown steadily and now
attracts a crowd of 3,000, many of whom are from ‘out of town’. Spectators
can watch such competitions as wood chopping, shearing, dog trials, show
jumping and dressage, highland dancing and the trotting races which are a
regular draw—card with the Pleasant Point Cup as the feature race.</p>

<p>Audience participation is encouraged with games of skill and chance,
children’s athletics, a baby show. An amusement park caters for children’s
entertainment.</p>

<p>All profits are distributed to local voluntary organisations which apply for
assistance. There would be few which have not benefitted from Gymkhana
profits.</p>

<p>Before the advent of the Gymkhana, similar annual events were always a
feature of Pleasant Point life. The Caledonian Sports Meeting, held earlier in
the century on Canterbury’s Anniversary day 16 December, was a popular
gathering.</p>

<p>In the late 1930s, it was replaced by ‘Gala Day’ held in late December to
cater for the holidaying public as well as the locals. This event lapsed during
the war years and was replaced by the Gymkhana after the war had ended.</p>
