<div class="page-header">
  <h1 id="nomenclature">Nomenclature</h1>
</div>

<p>Pleasant Point was formerly known as The Point, the Point of old being a guiding
landmark for the waggoners making their inland journeys to the Mackenzie
Country. What this guiding point was, has called for speculation and several theories
have been propounded as to its location.</p>

<p>However, the Point would appear to be either where the Te Ngawai and Opihi
rivers meet or one of the cuttings in the hills that form the backdrop of the township.
Some have considered the Point to be at the foot of where Rayner and Kabul streets
meet whilst others maintain it was at the foot of Manse Hill Road. The latter seems
the most likely point as that is the area where the township began to develop.</p>

<p>According to Lands and Surveys Department records Pleasant Point is ‘that part of
the Mt. Misery Range terminating in R.S. 10169 and R.S. 13983) and on which is
erected Trig of 293‘8 ‘, which is definitely that piece of land between Manse Hill
and the cemetery on the original survey maps of the settlement.</p>

<p>It has to be acknowledged that this area may have been designated ‘Pleasant
Point’ as a result of verbal reference to it by the earliest waggoners. Therefore
we must now recognise that area as officially ‘The Point’.</p>

<p>In those days the countryside was practically all tussock, flax and matagouri
with a few rough tracks, serving as roads, straggling through it. These tracks
took a vastly different route from the surveyed roads of today. Travelling at
the rate of two miles an hour, a bullock team took about three weeks to make
the return trip from Timaru to the Mackenzie Country. Mishaps such as ﬂoods
often lengthened the time to as long as six weeks. For company and mutual
support, two or more teams would travel together, resting at recognised
bullocky camps along the roadside where as many as thirty waggoners might
pull in for the night.</p>

<p>Townships grew around these camping grounds and ‘The Point‘ was one of
the popular overnight stops with ready access to water from the ‘Creek‘ and
good grazing for the bullocks. Grazing on the land saved the space otherwise
taken up with fodder carried on the waggons. The waggoners returning from
the back country always camped at The Point, travelled to Timaru next
morning and returned to The Point that evening.</p>

<p>Road development in the 18805 brought a gradual replacement of bullocks
with horse teams which were faster. As more settlers moved inland, The Point
became an extremely popular overnight stopping place and it is said that it
derived its full name of Pleasant Point because of the pleasant surroundings,
excellent feeding and watering facilities for the horses and a good hotel
complete with alcoholic sustenance for the weary traveller.</p>

<p>There is another story recorded about the origin of the townships name
which goes back to before the hotel came into being. One of the surveyors
engaged in mapping the district for the government was a man by the name of
Sharland who was camped at Opuha Station, then known as Wigley’s Station.
His wife was pregnant and he decided to take her in a bullock waggon to
Temuka, the nearest place where skilled medical services were available.</p>

<p>There being no roads. Sharland took a route along the banks of the Opihi
but, on reaching its confluence with the Te Ngawai, he found the rivers in
flood and was forced to camp at a point between them. After twenty-four
hours at this camp, Mrs Sharland gave birth to a fine baby boy. The Sharlands
remained there for a few days before returning to Opuha.</p>

<p>On their return, the people at the station were commiserating with them on
their misfortunes and one of the assistants remarked that it must have been
very unpleasant camping at the point between the rivers. But Mrs Sharland
exclaimed ‘Look at my fine baby boy! It was a very Pleasant Point to me’.</p>

<p>Mr Sharland turned to the men and said “We shall call that place Pleasant
Point”, and he went straightway to his tent and, on that portion of his rough
survey plan, he wrote Pleasant Point at the conﬂuence of the rivers.</p>

<p>Another story maintaining that the confluence of the two rivers is the
original ‘Point’ tells that waggoners travelling between Timaru and here
followed the banks of the Opihi because much of the Levels Plain was in
swamp and not negotiable by waggon. On reaching this point, they journeyed
towards the Cemetery hill seeking shelter for the night and found it a pleasant
point to set up camp.</p>

<p>Whatever its origins, there can be no doubt that the name of Pleasant Point
stemmed from a landmark, be it river or hill, which guided the early
waggoners on the first leg of the journey from Timaru to the Mackenzie
country.</p>

<h2 id="street-names">Street Names</h2>

<p>The streets of Pleasant Point were surveyed in the 18705 and named
accordingly but it would appear that, in the early days, the names were not
publicised. Very often they were referred to, according to the landmarks in the
area. Early newspaper reports refer to Afghan Street as Railway Terrace,
Halstead Road was known as Saleyards Road and then, when Greig Street was
r)pened up, it became recognised as Saleyards Road and the name stuck as long
as the saleyards remained.</p>

<p>When the District High School was sited in Halstead Road, it became
known as School Road and, at one stage, when the first Anglican church was
sited there, Harris Street was referred to as Church Street. The Main Road was
for many years known as Dominion Street, presumably linked with the
declaration of New Zealand as a Dominion.</p>

<p>However, when the township grew with big increases in housing, the official
names became a reality with every street duly signposted as time went on.</p>

<p>In the naming of the streets, the township has been divided into areas. All
the streets on the southern side of the railway line have Afghan names. Many
people ask why. At the time of the survey, the Anglo-Afghan wars were
making headlines in the newspapers and it seems obvious that the names were
taken from those figuring in the news.</p>

<p>The western side of the town has been given the names of our native trees
while the northern side has been named after notable early settlers of the
district or after people, who originally owned property in the locality. Acton
Street, for instance, is after Edward Acton who owned 1100 acres in the Opihi
area known as ‘Fordlands‘. He was first chairman of the School Committee,
first Anglican church warden and owned the first butcher's shop in Pleasant
Point. He also served on the first Levels County Council and on the Timaru
Harbour Board, was chairman of the South Canterbury Refrigeration
Company and of the Pleasant Point Saleyards Company.</p>

<p>William Halstead was a fellmonger who owned the land in the vicinity of
Halstead Road and lived at 12 Halstead Road. He classed wool for the Levels
Estate and afterwards, scoured all their wool. He set up his own wool scouring
business opposite the Primary School. He was chairman of the Domain and
Cemetery Boards and served on the school committee. He also instigated the
first tennis club in the district.</p>

<p>John Porter Harris owned property in the vicinity of Harris Street and
Alfred George Horton owned a block of land jointly with Harris. Some people
have argued that Horton Street was wrongly named and should have been
‘Orton’ but, although Reginald Orton did live in that neighbourhood, this is
incorrect.</p>

<p>On the original map Harris Street replaced the name Le Cren Street. The
land was at first owned by Henry John Le Cren and, later, Frederic Le Cren.
A.G. Horton and JP. Harris. It has been said that the land was gifted to
Horton and Harris for charitable works they had performed.</p>

<p>Greig Street, formerly referred to as Saleyards Road, was originally the
property of John Greig who lived in Te Ngawai Road and farmed in the
vicinity. He was once chairman of the Cemetery Board, served on the library
committee and was active in community affairs.</p>

<p>Morris Lane is named after a very early storekeeper who owned a grocer’s
shop about where Pleasant Point Motors now stands. The business was then
held in partnership with a Temuka businessman, F. Mendleson, Morris being
manager. An early settler‘s name lives on in Burgess Street. Raynor Street is
named after Albert and Algernon Raynor who lived in Te Ngawai Road. Sons
of a Temuka doctor, these two men were responsible for fencing many of the
properties when the Levels Estate was split up. They were notable in the
fencing business for patenting an iron standard which made the job easier.</p>

<p>George Butler farmed 300 acres in the Butler’s Road area and represented
Pleasant Point Riding on the Levels County Council. He served on the School
Committee as chairman, was a member of the Domain and Cemetery Boards
for many years and was always an enthusiastic worker for the advancement of
the district. He was very involved in the Weslyan movement.</p>

<p>Maitland Street, in early days, was known as ‘Thread and Needle’ Street
presumably because the local tailor‘s shop was situated there.</p>
