<div class="page-header">
  <h1 id="foreword">Foreword</h1>
</div>

<p>As we enter the year 1990, communities throughout New Zealand are celebrating
150 years of colonisation. It is fitting, then, that our little township should mark the
occasion with this publication of its history from the time when it was part of the
Levels Run.</p>

<p>The book had its beginnings in 1980-81 when some senior pupils of Pleasant
Point High School, as part of a Temporary Employment Scheme organised by the
Labour Department, were given the task of researching the township's history.</p>

<p>Under the guidance of Steve Cutler, a school staff member, they researched much
of the basic history and presented their findings to the Railway and Historical Society
for future reference.</p>

<p>Members of that committee approached me and the late Beattie Smith with a
request that we write a book on the history of Pleasant Point, elaborating on the work
the school pupils had done.</p>

<p>Together, we collated the huge quantity of material that Beattie Smith had already
collected over the years but, sadly, her sudden death curtailed progress on the
project.</p>

<p>As time went by, The Historical Society Committee expressed concern as to the
likelihood of the book ever becoming a reality and a sub-committee was formed
under the chairmanship of L. Blakemore to promote its publication.</p>

<p>Researching and compiling the necessary information, although intensely
interesting, has been a long and arduous task. Admittedly, there will be errors and
omissions and for these, I apologise.</p>

<p>Nevertheless, I trust that this book is a true record of the development of Pleasant
Point from a small accommodation house to the township we know today.</p>

<p>O.P. Oliver<br />
Pleasant Point<br />
December 1989</p>
