<div class="page-header">
  <h1 id="health">Health</h1>
</div>

<h2 id="the-plunket-society">The Plunket Society</h2>

<p>As reported in the Timaru Herald:</p>

<blockquote>
  <p>A sub branch of the Plunket Society was formed at Pleasant Point on 15th
  July 1920 after an appeal had been made in the Technical School by Mrs
  Armitage of Temuka and Plunket Nurse Cameron of Timaru who were
  supported by Mrs Gray, Timaru and Mrs Morris, Temuka. After short but
  instructive addresses to a good attendance of ladies, a Committee was elected
  consisting of the following: Mrs Milne, President, Miss Maze Sec/treas,
  Mesdames Chisholm, Curson, Dollimore, Falconer, Gosling, Tozer, Wright,
  Wicks and Miss Bishop. Mrs Dollimore offered the use of a room to the Nurse
  for her work from 2 - 3.30 pm every alternate Thursday.</p>
</blockquote>

<p>This was then a sub branch of Timaru and it was thought that the work was
going to be difficult because many were opposed to a young nurse telling
mothers how to look after their babies. However, it was not long before Nurse
Cameron had won her way into the hearts and homes of the mothers.</p>

<p>Work increased so much that an extra eight members were added to the
committee to assist the organisation in the fund raising. The Nurse’s salary
and car expenses for such a vast area were very high and, ultimately, it was
decided to solicit subscriptions in each locality. The results surpassed all
expectations.</p>

<p>In 1921, reorganisation took place resulting in Pleasant Point joining with
Geraldine sub branch and with Temuka as the centre. This meant better
services from the nurse and reduced expenditure. TD. Burnett M.P. gave
substantial donations to the society, thereby placing it in a sound financial
position.</p>

<p>Demands on the nurse became so great that, throughout 1923-24, Nurse
Flight was appointed as assistant.</p>

<p>The venue for the Plunket Clinic has varied over the years, a private
residence being used for nearly twenty years. Then the Gospel Hall allowed the
nurse to use a ‘front room’ free of charge except for a shilling a time for
heating. Mrs Rose, in the house opposite, took messages for the nurse for
many years.</p>

<p>In 1944, the Garrick Trust donated a hundred pounds which was set aside as
a nucleus for a building fund for Plunket Rooms and, later, another hundred
pounds was added. The Plunket Committee elected their President, Mrs
Clarkson, as their representative on the War Memorial building committee set
up for the Town Hall extensions project. Plunket rooms were incorporated in
the plans and, after years of fund raising, this became a reality on 4 March
1954. The Plunket Committee equipped the rooms to cater for the nurse’s
needs and it is now an up-to-date clinic with modern equipment.</p>

<p>Ever increasing costs means that fund raising must be an ongoing activity
and the Plunket Committee has undertaken many such pursuits. The Annual
collection helps to ensure financial stability and further assistance is gained
from donations from the Gymkhana Committee and the Trust Bank. The
Garrick Trust has also been a source of financial help.</p>

<p>Since the closure of the Karitane Hospitals in 1979 the Plunket Society has
set up the Plunket—Karitane Units to cater for a much greater number of
anothers. Such units have given invaluable advice and support to many in this
district.</p>

<p>Accident prevention is another concern of the Plunket Society and the
district has its own Safety Officer, Mrs S. Burt, who works in liaison with the
National Safety Officer at Plunket Headquarters to keep mothers informed of
measures for accident prevention. Funds raised through ‘Telethon’ have
enabled the Local Plunket Branch to finance a successful car seat hire scheme.</p>

<p>Help in the home for busy mothers of young children has been made
possible through collaboration with Women’s Division Home Help Schemes
and, more recently, a polytechnic course in Homecraft for girls has been a help
to young mothers.</p>

<p>The Plunket Mothers’ Club formed in 1962 as a social organisation has also
been supportive of the Plunket Society in the district.</p>

<p>Life membership of the Society has been bestowed on five ladies: Miss A.
Maze, Mesd. Molly Clarkson, Phyllis Chapman, Jean Clarke (Snr.) and Jean
Stewart.</p>

<p>While acknowledging the sterling services of these ladies, it is fitting that
special mention be made of Miss Aggie Maze who was Secretary/Treasurer for
forty-eight years. This must be a record for any organisation. All minutes of
meetings were meticulously recorded and, in 1945, she wrote: “Now that the
war is over, the birthrate must increase if we are to remain free from attack
from the Yellow Peril!” Miss Maze’s interest in the babies of the district was
paramount. Many a new Plunket Nurse had reason to be grateful for her
company as a personal guide on home visiting occasions. She was aware of the
arrival of every new babe in the district.</p>

<p>Plunket Nurses who have served this district are as follows:</p>

<table class="table">
  <tbody>
    <tr>
      <td>Nurse Cameron</td>
      <td>1920&ndash;1927</td>
    </tr>
    <tr>
      <td>Nurse Allen</td>
      <td>1927&ndash;1930</td>
    </tr>
    <tr>
      <td>Nurse McClurg</td>
      <td>1930&ndash;1934</td>
    </tr>
    <tr>
      <td>Nurse Brown</td>
      <td>1934&ndash;1939</td>
    </tr>
    <tr>
      <td>Nurse Huddleston</td>
      <td>1939&ndash;1953</td>
    </tr>
    <tr>
      <td>Nurse Strachan</td>
      <td>1954&ndash;1981</td>
    </tr>
    <tr>
      <td>Nurse J. Clarke</td>
      <td>1981&ndash;1983</td>
    </tr>
    <tr>
      <td>Nurse McLean</td>
      <td>1983&ndash;1986</td>
    </tr>
    <tr>
      <td>Nurse Hewitt</td>
      <td>1986&ndash;1988</td>
    </tr>
    <tr>
      <td>Nurse Moore</td>
      <td>1988</td>
    </tr>
  </tbody>
</table>

<h2 id="medical-services">Medical Services</h2>

<p>Since the time that Lovegrove and Hammond held surgery hours in the
Chemist's shop, several doctors have come and gone in the district.</p>

<p>The Timaru Herald of 25 March 1886 reports:</p>

<blockquote>
  <p>The greatest sensation of
  the hour is the near advent of a medical man to the district. Dr Britten, who is
  commencing practice, has secured a most desirable residence and intends
  practising in April.</p>
</blockquote>

<p>Where this desirable residence was is a matter for conjecture. Old identities
have spoken of a doctor residing at 108 Main Road whilst others recall doctors
practising in a residence on the corner of Totara and Matai Streets.</p>

<p>An ex ‘ship’s surgeon’ who boarded at Mrs Lyall’s Boarding House, 13
Afghan Street, was often called upon to minister to the sick even though he
was not practising as a doctor in Pleasant Point.</p>

<p>Dr Dryden practised in the township in the latter part of last century and he,
too, conducted his surgery in the building that was once the Chemist’s shop
but, at that stage, it was occupied by a dressmaker. One of the Miss Crawfords
was the doctor’s nurse there.</p>

<p>Others who served the district in a medical capacity were Drs McIntyre
Morris and Thomas. Dr Morris lived at 108 Main Road and seems best
remembered for a monkey he owned. Dr Thomas’s name is associated with that
of H.C.L. Dossett who earned the nickname ‘Doc’. Apparently, as a boy, ht
always travelled with the doctor on his rounds and it was his job to mind tht
horse and trap whilst Dr Thomas was inside attending to his patient.
Consequently, he was referred to as the ‘little doctor with the big doctor' and
the nick-name ‘Doc‘ stuck with him all his life.</p>

<p>Dr Burns took up practice at the corner of Matai and Totara Streets about
the turn of the century. In those days of horse transport, rough tracks and no
telephones, contacting the doctor in emergencies was difficult. Infant
mortality was high. Bronchitis, pneumonia and tuberculosis were prevalent as
were many other complaints which are readily cured by modern drugs.</p>

<p>Medical benefits were not available until many years later so that families
with limited means hesitated to consult a doctor. Home births were common
practice, confinements being attended by a midwife.</p>

<p>Mrs Exell was a well-known midwife in the very early days, travelling long
distances to isolated homes. Her daughter, Mrs Carson, as a young widow,
followed in her mother’s footsteps bringing many local babies into the world.</p>

<p>During Dr Burn’s time, a Nurse Doig had a small maternity home in Matai
Street and, later, at 12 Main Road.</p>

<p>Dr Burns was succeeded by Dr Patterson who was responsible for
establishing the local General Hospital at 13 Main Road. In the Timaru Herald
of 3 January 1911 it was reported that Dr Patterson “has taken into his
partnership, Dr Margaret McCahon of Timaru from January 1st. The
partnership are erecting a nursing home to be opened about the middle of
March and Dr McCahon will take up residence there.” (Whether or not Dr
McCahon did take up residence here is uncertain as no-one interviewed could
recollect it.)</p>

<div class="thumbnail">
  <%= image_tag 'ch12-1.jpg' %>
  <div class="caption">
    <p>Pleasant Point Hospital at 13 Main Road.</p>
  </div>
</div>

<p>The value of the half-acre section on which the hospital was built was
twenty-four pounds and the hospital itself, seven hundred pounds. When
established, it was not just a nursing home but a general hospital
accommodating up to eight patients. Operations were performed there and
some older residents recall having appendectomies, tonsillectomies and
fractures set. Also many babies were born there.</p>

<p>Nurse Lyall, daughter of the Boarding House proprietor, was Sister-in—
charge when the hospital opened and Nurses Olive Norton, Mary McCormick
and Hamilton followed.</p>

<p>It was a General Hospital until 1930 when it became a Maternity Hospital
only but it was closed in 1931 and leased as a private residence. For an interim
period in 1932, the surgery was converted into a School Dental Clinic when the
existing clinic was destroyed by fire. The building continues as a private
residence today.</p>

<p>Dr Patterson moved from Totara Street to a house on the corner of Khan
and Afghan Street which, later, became the Convent and held his
consultations there. He was also practising doctor at the hospital until he sold
his practice to Dr Milne and moved to Timaru. Dr Milne continued in the
practice until 1925 when he was succeeded by Dr Benham who built a new
house on the corner of Harris and Munro Streets which is now the Vicarage.</p>

<p>Following Dr Benham’s departure for Wellington in 1937, Pleasant Point
was without a resident doctor for many years. Residents had to travel to
Timaru or Temuka for medical attention. In cases of urgency, this was a
serious state of affairs and requests were often made to the Town Board to
take action in obtaining a doctor.</p>

<p>Following the war in 1946, Dr Melville Brookfield opened a practice in
Jopp’s Buildings although he resided in Timaru. He held surgery in Pleasant
Point three times a week and, afterwards, did his home visiting which, when
travelling to Waitohi, Cannington and back to Timaru, involved as much as
100 miles travel in a day.</p>

<p>Dr Spencer took over the practice in 1964 and carried on in the same way
until Dr Yee took up practice in 1968. He holds his surgery in the Plunket
Rooms of the Memorial Lounge two days a week.</p>

<p>Continued concern about the lack of a resident doctor prompted the
Community Council to call a meeting in 1983 to test the demand for a medical
centre in the township. A committee was elected to promote such a centre but,
so far, it has not eventuated. Increased building costs have caused any plans to
be shelved.</p>

<p>Meanwhile, Dr Kerry Neilson, resident in Kerrytown, began her practice in
the unoccupied building completed by Noel Guthrie as an appendage to
Lienert’s factory. She holds consultations there on a regular four days a week
basis.</p>

<p>The district still lives in hope that, one day, Pleasant Point will have the
proposed Medical Centre to meet the needs of the community.</p>
