<div class="page-header">
  <h1 id="transport">Transport</h1>
</div>

<h2 id="railways">Railways</h2>

<p>Suggestions of a tramway or railway to The Point probably started to
surface soon after Julius Vogel’s nowfamous ‘Immigration and Public Works
Act, 1870’ was passed by the General Assembly in September 1870. This Act,
coupled with the ‘Railways Act, 1870,’ amongst other things set in motion the
construction of certain railways in both the North and South Islands to open
up new tracts of land which had previously been unaccessable to all but the
bravest settlers. One of the railways scheduled under the 1870 Railways Act
was that section between Timaru and Temuka, and in 1871 construction was
started. A railway system promised fast (by 18703 standards) and reliable
means of transport, both for passengers and goods, and no doubt the early
settlers of The Point were very quick to realise the potential benefits to the
township should such a system be brought there.</p>

<p>While the General Government was undertaking the construction of the
‘trunk’ lines, the Provincial Governments were largely responsible for the
construction of any branch lines they saw fit to make, with the proviso that the
General Government would ultimately take them over. In this way the
Canterbury Provincial Government was providing money to build its own
railway system fanning from Christchurch, and other branch lines that were
from time to time proposed.</p>

<p>As far as public works in South Canterbury were concerned a Board entitled
the Timaru and Gladstone Board of Works was created in 1867; being
answerable and very much under the authority of the Canterbury Provincial
Government. Therefore, any works that required attention in this region were
generally delegated to the Board or Works to look after. This Board ceased to
exist when the Provincial Governments were abolished in 1876.</p>

<p>In early 1872 the Provincial Council allocated, amongst other things, the
sum of 5,000 Pound for the construction of a railway between Washdyke and
Pleasant Point. In July of that year the Timaru Herald published a
memorandum sent to Mr W. Rolleston (Superintendent of Canterbury) and
the Hon. E.W. Stafford, M.H.R., which stated: ‘We the undersigned
members of the Pleasant Point Farmer’s Club, and other residents interested
in this district, desire to represent to you that the Provincial Government has
voted the sum of 5,000 Pound towards a branch tramway, 8 miles in length,
from the Washdyke Railway junction to Pleasant Point, on the grounds that
the grain and wool products which would be thus carried, fully justify the
undertaking. Also that a very large area of agricultural land not now within a
days drayage (and absolute need for success in farming) would then become
available for farmers and permanent settlement. And we wish to represent to
you that the geographical position of this line of road, will necessitate its being
the only means of exit for a large extent of back country. We therefore hope
that in the furtherance of the interests of the district, you will think it proper to
urge on the General Government, the advisability of including this branch line
in the contracts now being arranged for railway works from The Washdyke to
The Orari, this utilising the Provincial Government’s vote, and prompting the
settlement and prosperity of this district.’</p>

<p>According to the Herald this memorandum had about 100 signatures.
Although the memorandum sought the General Government’s assistance, it
was the Provincial Government which would ultimatelv be dealing with the
Washdyke to Pleasant Point Railway.</p>

<p>In October 1872 the Timaru and Gladstone Board of Works discussed the
various monies that had been allocated to individual public works, finding that
it did not have sufficient funds in any one project to get any of them off the
ground. The Board forwarded their concerns on this subject to the Provincial
Government and in due course the Board was informed: ‘That the Provincial
Government would be glad to receive from the Board, any recommendations
(accompanied with estimates of costs) they may consider fit to make with
reference to the Public works in the district south of the Rangitata, either in
connection with those already under charge of the Board, or such others as the
Board may deem advantageous to the interests of the district.’ Naturally the
Board members were more than happy to do this and at the November 1872
meeting drafted a list which included 17,600 Pound for the Pointhashdyke
Railway. This sum was duly placed on the Estimates of the Provincial
Government in December 1872 for the year ended 30th September 1873.</p>

<p>Following the allocation of funds and further communication with the
Canterbury Provincial hierarchy the Board called for tenders for building the
branch railway on 3lst March 1873, using plans and specifications drawn up
by the Board’s Engineer, Mr G.M. Babington. However, due to the fact that
negotiations were not completed with the landowner at Washdyke - over
whose land the railway would cross V the contract was limited to the railway
starting from the western side of the Main North Road, thus making it
necessary to bring in all materials for the job by road!</p>

<p>The contract for the construction of the branch line was let by the Board.
subject to the usual approval of the Provincial Government, on 8th May 1873
to Mr William White Jnr.; his tender price being 22,040 Pound 1/6d. At the
time only 17,600 Pound had been allocated for this work, so another sum, this
time 5,500 Pound, was appropriated by the Provincial Government on 12th
June 1873. The Board of Works was advised of this by letter dated 19th June
at their meeting of the 26th instant. However at this meeting a problem arose.
Mr Babington had resigned as Engineer to the Board, and his successor, Mr T.
Roberts, recommended that an alternation should be made in the plan from
which the contractor had based his calculations so as to alter the site of the
station at the township of Piko (Pleasant Point), and also the line of railway
there so that a greater distance of road could be provided between certain town
sectors and the railway line, as by Mr Babington’s plan only about 13 or 15
feet of roadway would be left. Unfortunately Babington’s plans have not
survived so it is not possible to positively identify where he had planned to
place the Pleasant Point railway station. Roberts also stated at the meeting
that a fresh survey would be necessary for the Point Railway, which would
take another six weeks to complete. Therefore the Board had to request Mr
White to sign his contract with changes still to be made to the plans and
specifications.</p>

<p>In September 1873 the General Assembly passed through Parliament ‘The
Washdyke and Pleasant Point Railway Act, 1873,‘ which was, to quote the
title: ‘An act to enable the Superintendent of the Province of Canterbury to
construct a railway between the Washdyke on that portion of the Southern
Trunk Line between the town of Timaru and Temuka and Pleasant Point, in
the Levels Road District.’</p>

<p>After much delay and correspondence the contract was finally signed in
December 1873 and Mr White’s men started work on 18th February 1874. On
13th March it was noted that about 45 chains of formation had been done
from the Main North Road westwards.</p>

<p>In June 1874 the Canterbury and Otago Land Association offered the Board
of Works a piece of land. near where the Police Station is today, for the
railway station, suggesting that this site would be more suitable for the
purpose of station accommodation than that currently envisaged. Of course.
the offer was made with more than generosity in mind. as the Association
had land near the offered site, and in the 1870's a railway station near land
increased the land’s value considerably and made it more saleable. Naturally.
the settlers who had already purchased land near the station site as set down by
Mr Roberts in 1873 were not at all amused by the offer and started a petition
requesting the Board to stick to its current plans. After taking all relevant
matters into consideration the Board members on 13th August 1874 decided to
leave things as they were and declined the Association’s offer. By this stage
monies for the railway extension to Opawa (Albury) had been placed on the
Provincial Government Estimates. The extension was therefore certain to
proceed and the need for a bigger station site diminished with the knowledge
that Pleasant Point would not be the terminus of the line as originally
envisaged.</p>

<p>By early 1875 the contractor’s progress was beginning to be unsatisfactory
a point brought before the Board on several occasions by the new Engineer.
Mr John Rochfort. Tenders were called on 19th February 1875 for the
connection contract at Washdyke; the contract being awarded on 3rd March
1875 to Messrs Allan and Stumbles for 816 Pound 16s.6d.</p>

<p>While progress was slow on the main contract, sufficient work had been
done to allow tenders to be called on 23rd July 1875 for the construction of
station buildings at Pleasant Point, Waitohi Road (Waitawa) and Levels.
Although Mr Rochfort had estimated the increase in the price required to build
the Pleasant Point station and goods shed of stone. no doubt the Provincial
Government would not have agreed to such additional expenditure, and all
tenders received were for wooden structures. On 4th August 1875 the Board
accepted Messrs Ashton and Peter‘s tender for the construction of a 4th Class
station building and a goods shed at Pleasant Point at 1,268 Pound 12s. No
doubt this contract included provision for the completion of the platform as
well.</p>

<p>Finally, after all the problems and delays, a train consisting of Canterbury
Railways engine No. 21 (later N.Z.R. ‘C’ 53) and a carriage travelled on the
Point Branch Railway for the first time on Monday, 25th October 1875.
conveying some of the General Government and Provincial Government
authorities and Mr Rochfort. According to the local press the authorities
referred t0,expressed themselves highly pleased with the efficiency of the line.
The whole line, including buildings and fencing, was finished about 10th
December 1875 and was opened for traffic: surprisingly without public
ceremony, on 24th December 1875, with the following time-table, which
allowed for two trips each way per day: TIMARU, departing 8.50am. and 4
pm, arriving PLEASANT POINT at 9.15am and 4.45pm respectively,
and returning from PLEASANT POINT at 9.45am. and 5.15pm, arriving at
TIMARU at 10.30am and 6pm respectively.</p>

<p>The line was later extended to Albury (opened lst january 1877),
Winscombe (opened 22nd August 1883) and lastly Fairlie Creek and Eversley
(opened 28th )anuary 1884). Grandiose schemes to extend the line on to
Silverstream and through Burke's Pass into the MacKenzie Country were
devised and discussed, but these schemes never eventuated.</p>

<p>So for only a short time Pleasant Point was the terminus; quickly becoming
just another station on the Opawa (Albury) Extension and later the Fairlie
Branch Line. However the arrival of the railway did bring great improvements
in transport for the settlers, and land values generally increased about the
township. Settlers now had a reliable means by which to send and receive their
produce and supplies, and could also travel to Timaru in comfort six days a
week.</p>

<div class="thumbnail">
  <%= image_tag 'ch11-1.jpg' %>
  <div class="caption">
    <p>A very early scene at the Railway Station. Note the Catholic Church without its tower.</p>
  </div>
</div>

<p>In 1881 the Telegraph Department decided to implement a telegraph service
to Albury. While this was being established some prominent citizens of
Pleasant Point again brought up the subject of the site of the local station.
From the letters and articles in the Timaru Herald it transpired that
memorandums were sent to; and private consultations held with, political
representatives to get the station removed to a site further west. Around this
time, railway carpenters arrived to make the necessary additions to the station
building to accommodate the telegraphic equipment. After stripping the
boards off one end of the station they received instructions to stop all work in
this regard until the site problem was resolved. Of course, as often happens,
the subject dragged on from weeks to months, and at least one correspondent
to the Timaru Herald decried the deplorable and tatty condition of the
Pleasant Point railway station! To make matters worse the telegraph system
which had been completed to Albury;but which had no connection at Pleasant
Point, promulgated the ludicrous situation whereby residents wishing to
telegraph messages to Timaru would have to travel to Albury to do so! Finally
the station was removed westwards to its present site over July and August
1882 and the telegraph office built; telegraphic communication being started in
the township on 23rd October 1882. Further additions and alterations were
made to the station in 1900, when on 26th July 1900 the Temuka Leader noted:</p>

<blockquote>
  <p>Some important and much needed alterations have recently been made at
  the Pleasant Point railway station. Twelve feet have been added to the eastern
  end of the station, which will be used exclusively for postal and telegraphic
  work. Entering this addition from the platform on the left is a long desk
  extending the breadth of the building, subdivided so as to give privacy to the
  public in writing telegrams and other postal work. On the right is the postal
  delivery counter, divided from the office proper by sliding glass windows.</p>

  <p>There are also let into the wall twelve private letter boxes, which should prove
  a great convenience to the public. The roof of the old station has been raised
  about two feet, and all painted throughout; also the waiting room. The ladies”
  waiting room has received special attention, and is carpeted and furnished
  throughout in a very comfortable style.</p>
</blockquote>

<p>The railway station also served from an early date (probably soon after 1875)
as the Post Office until the new (and now closed) Post Office building was
opened in 1913.</p>

<p>For many years the station acted as a training station for railway
telegraphers. Staff were being trained there in 1917 and the training facilities
may well have been provided up until the 1940s.</p>

<div class="thumbnail">
  <%= image_tag 'ch11-2.jpg' %>
  <div class="caption">
    <p>Grain being unloaded at the Railway Station.</p>
  </div>
</div>

<p>From the day it opened, The Point’s main traffic was wool, grain and
livestock, although obviously passengers and mail contributed to the line’s
profitability. At times the goods shed would be full to overﬂowing with bags
of wheat and grain, so much so that a shortage of railway trucks meant that
the Railways Department could not always clear the produce within a
reasonable time — a long-standing problem that no doubt annoyed those
involved no end. In later years the local area sent timber away from Cook’s
Sawmill and brought in equipment and supplies for the Downlands Water
Supply project. The Pleasant Point saleyards also provided the station with
revenue as livestock was transported in and out.</p>

<p>In many ways the railway station was a very important place in its hey—day
and the local Station-master held a place of respect in the community. When a
Stationmaster, and even in many cases a lower ranked officer, was transferred
out of the district, a farewell dinner or gathering would be held and a public
subscription raised to buy the departing officer a gift with a token of the
community’s esteem. lnvariably the local newspaper would cover the
gathering word for word. Two very popular Station-masters farewelled in this
way were Mr M.L. Bracefield in 1918 and Mr B. Felton in 1927.</p>

<div class="thumbnail">
  <%= image_tag 'ch11-3.jpg' %>
  <div class="caption">
    <p>Timber from Cook's Mill waiting to be transported by rail.</p>
  </div>
</div>

<p>Apart from the alterations to the Pleasant Point station already mentioned,
occasional changes were made to the yards and facilities, and even more
requests for the same. In 1906 the sole loading bank was altered following
local representations, and in 1923 a second loading bank was requested and
approved; it being noted as being complete by September of that year. A third
loading bank was asked for in 1944 but because of the war raging at the time it
was politely declined, and in fact by 1951 questions were being asked by
Railways Head Office as to whether two loading banks were required.</p>

<div class="thumbnail">
  <%= image_tag 'ch11-4.jpg' %>
  <div class="caption">
    <p>A typical train load at the Railway Station when Railway Transport was at its peak.</p>
  </div>
</div>

<p>Supposedly Pleasant Point had stock yards by 1876, and at a later stage new
yards were erected near the location of the former station site. Alterations or
renewal of the stockyards were discussed in 1911, and additions were noted as
having been made in 1915 and 1926. In 1911 and 1923 plans were drawn up to
extend the cattle yard siding, which was eventually done. With the advent of
bigger locomotives and longer trains, larger capacity water vats were installed,
which in turn showed up weaknesses in the windmill’s capacity to pump
sufficient water to meet demand. In 1924 the Stationemaster suggested in
correspondence to the District Traffic Manager, Christchurch, that a small oil
engine be supplied to do the necessary pumping of water when the windmill
was unable to fulfil its work. It was stated that to the year ended 3lst March
1924 the sum of 26 Pound 6s 9d had been expended by the Railways
Department for casual labour employed on pumping water at The Point! The
request for an oil engine was declined on the basis that it was expected that
electric current would be available shortly and the Pleasant Point would be one
of the stations where an electrically operated pump should be installed.
Whether the electric pump was supplied is not recorded but on 10th September
1941 the Station-master of the day was advised that the Department was
considering a proposal to eliminate the windmill in favour of connecting the
water system to the Downlands Water Scheme.
</p>

<p>As time went by the motor car and motor lorry started to appear in greater
numbers, and those with foresight would probably have seen the writing on the
wall for branch lines such as that to Fairlie as early as the 19205. On 2nd June
1932 the District Traffic Manager, Dunedin, wrote to the General Manager of
Railways, Wellington, stating that:</p>

<blockquote>
  <p>For the year ended 27th February 1932 the
  loss in the operation of this line was 1,566 Pound, with a feeder value of 1487
  Pound, and in view of the satisfactory position disclosed, it obviously would
  not be an economical proposition to close this portion of the line. At the
  present time road motor competition is particularly keen in this area, one
  regular service and four irregular services running between Fairlie and Timaru,
  and one regular service and five irregular services running between Pleasant
  Point and Timaru. The volume of business handled on the Branch is not
  sufficient to justify the two competitive forms of transportation, and the
  regulating of the road transport would eliminate the loss incurred in operating
  this Branch. With a view to reducing the operating costs on this line the train
  service has been overhauled from time to time and the present service which
  comprises one mixed train each way daily is found to be the minimum service
  that will adequately handle the traffic and combat the keen road competition.
  The question of abandoning the passenger traffic and running a restricted
  goods service on this line was gone into in March last but it was found that
  such action would divert a considerable portion of our goods traffic to the
  road and would result in a loss of over 1,000 Pound per annum in passenger
  traffic. In areas where keen road competition is in operation, our experience
  has been that with any less frequent service than a daily one, consignors will
  not hold back consignments when a daily service is available by road.</p>
</blockquote>

<p>Obviously from the questions asked by the General Manager’s Office, the
Railways were looking at cutting costs as the Great Depression deepened, and
the closure of the Fairlie Branch, along with other branches, was obviously
considered in 1932. The motor car was reducing passenger numbers, and with
the influx of motor trucks into the district, especially after the Second World
War, the gradual decline in freight traffic slowly but surely continued to take
its toll on the profitability of the Fairlie Branch Line. The system of transport
which had so successfully replaced the earlier forms of road carriers was itself
being worn down by more modern methods of road mobility. There were
times, even after the last war, when the Branch was exceedingly busy, but these
were more than outweighed by times when a train to Fairlie was little more
than an engine, a few trucks, and a guardsvan. In the late 1950s and early
1960s stations on the Branch were closed and the buildings sold off, until
finally, on 10th August 1967 the Minister of Railways, the Hon. J.B. Gordon
announced that the 35 mile Washdyke—Fairlie branch line would be closed as it
was losing $43,000 a year.</p>

<p>Despite the actions of a group calling itself the Fairlie Railway Retention
Committee in taking the Minister of Railways to Court to try and stop the
closure, the Branch was closed to all traffic, officially on the lst March 1968,
although this was extended by one day to allow a special passenger train to run
from Timaru to Fairlie and back. The last run of the Fairlie Flyer had arrived!
While the Retention Committee was challenging the Minister’s authority to
close the railway, another group, aptly named the Fairlie Flyer Committee,
was making plans to run a farewell trip and to createa lasting memorial to the
Fairlie Branch Railway. The first stage involved a massive eighteen carriage
‘last’ train hauled by ‘Ab’s 718 and 798 travelling to Fairlie on 2nd March
1968. There were special events held at most of the stations along the way, and
those fortunate enough to be amongst the 1,000 plus passengers who packed
the train on that day will long remember the trip. A special souvenir booklet
titled ‘Farewell To The Fairlie Flyer’ was published for sale on board, and
local radio personality Bill Timmings wrote a ballad called ‘The Fairlie Flyer’
which was sung by the Picasso Trio during the trip.</p>

<p>The second part of the Fairlie Flyer Committee’s objectives centered initially
on the placing of a railway locomotive in the Fairlie township. However there
was some local opposition to this scheme, and following discussion with the
Pleasant Point Businessman’s Association a meeting was convened on 5th
February 1970 to form a committee to place an ‘Ab’ class locomotive and to
form» a Historical Society and Museum at Pleasant Point. From this meeting the
Pleasant Point Railway and Historical Society was launched. Following
successful fundraising which included a vintage machinery ‘Extravaganza’ on
2nd and 3rd May 1970 sufficient monies were in hand by May/June 1970 to
purchase steam locomotive ‘Ab’ 699 from the New Zealand Railways for $600.
The engine was towed from Ashburton to Timaru where it was externally
restored to display standards while negotiations continued over the aquisition
of the Pleasant Point railway station for a local museum. Once the station site
had been secured the engine had to be shifted quickly as the contractors lifting
the Branch were nearing Pleasant Point and did not want to be held up waiting
at that station indefinitely. On 28th November 1970 ‘Ab’ 699 was brought to
Pleasant Point and placed outside the station. As the speeches took place the
contractors started to lift the line towards Washdyke. Such was the speed of
progress! However, by the fact that the engine was sitting on several sections
of track, Pleasant Point did not lose its railway completely, and can honestly
boast having continuous railway facilities for near on 115 years.</p>

<p>Since 1970 the Pleasant Point Railway and Historical Society has grown
from a small local and railway museum to a nationally respected tourist
attraction. During the first four years the Society demolished the Pleasant
Point goods shed, restored the station, erected a verandah over the engine,
relaid a small section of track and successfully steamed its prize asset.
However, an engine of 699's size needs more than eighty yards of track to
operate realistically on, so the railway line eastwards, which had been ripped
up in 1970, was relaid in sections over several years from 1977. When the line
was finished it was one mile long and finished at Keanes Crossing where a new
railway complex was designed and built, including a storage, restoration, and
display shed, passenger platform, water vat, windmill, turntable, and storage
paddock. Rolling stock was purchased, transported by road to Pleasant Point,
and restored, including New Zealand’s only restored half-birdcage carriage
(‘A’ 421) and New Zealand’s only fully operational ‘D’ class steam engine (‘D’
16).</p>

<p>Since 1975 visitors to the museum have been able to enjoy a ride behind a
steam locomotive in a variety of carriages and appliances. Ultimately the
Society will create the scene where a typical mixed train (engine, goods
wagons, a carriage or two and a guardsvan); synonomous with the old Fairlie
Branch Line, will be run occasionally for the benefit of those too young to
remember or too old to forget — a truly remarkable memorial to the Fairlie
Branch Railway, and one which will fulfil admirably the ambitions of the
original Fairlie Flyer Committee.</p>

<p>It appears that the railway at Pleasant Point has turned a full circle in its 115
year history; being firstly a much needed asset in the early days to a run-down
and unprofitable liability in its latter days and finally back to an asset since
1970 which enhances the township and surrounding district. It would be
interesting to know what the early settlers of Pleasant Point, who so
vigorously fought for their railway facilities then, would think of their railway
today?!</p>

<h2 id="pleasant-point-traction-engine-rallies">Pleasant Point Traction Engine Rallies</h2>

<p>The name of Pleasant Point has been synonymous with traction engine and
vintage machinery rallies for two decades; and probably not surprisingly, as
the township is in the middle of and is a service centre for a district which saw
extensive use of the traction engine and all varieties of machinery for
threshing, hauling and farming use.</p>

<p>The first rally, aptly named an ‘Extravaganza’, was held on 2nd and 3rd
May 1970 on Maze’s property to the west of Pleasant Point, and boasted
eleven traction engines, and a large number of vintage cars, tractors,
stationary motors, and vintage farming machinery, as well as Sid Lister’s 1928
Hermes Spartan aeroplane. The proceeds from this rally paid for the purchase
of ‘Ab’ 699, which now sits proudly in the centre of Pleasant Point.</p>

<p>Ten years were to pass before another rally was to take place; this time on
Don Clarke’s property near Smart Munro Road, from 5th to 7th April 1980.
This was the first of the highly successful and eagerly awaited Pleasant Point
Easter Steam Rally and Country Fairs, and was organised by an independent
committee of members from the South Canterbury Traction Engine and
Vintage Steam Club and the Pleasant Point Railway and Historical Society.
The inclusion of craft displays and stalls added greatly to the attractions
available for family members. The 1982 and 1984 Pleasant Point Easter Steam
Rally and Country Fairs were held on the property of the Late Mr R.R.
Jordan, and again were resounding successes, the 1984 event topping the lists
with thirtyvtwo traction engines, fiftyefour vintage tractors, and thirty—three
stationary engines, and a huge collection of stalls and display stands.</p>

<p>The 1986 Rally and Country Fair was cancelled just before the event was due
to be held, because of the disastrous 1986 Pleasant Point ﬂood. However, not
to be outdone by the weather, the Rally Committee picked up the pieces and
ran what has since been called the best Pleasant Point rally ever —— the 1987
Pleasant Point Easter Steam Rally and Country Fair. The crowds that
attended this event made the whole effort of re-running the rally worthwhile
and made Saturday to Monday, 18th to 20th April 1987, days to remember for
a very long time.</p>

<p>These rallies have played a major part in bringing together, for the general
public and enthusiasts alike, a collection of machinery and crafts not normally
available for viewing in any one area, and in doing so have hopefully generated
sufficient interest to ensure that the district’s fascinating history is preserved
for the future.</p>

<h2 id="the-transport-operators">The Transport Operators</h2>

<p>In the very early days, the full burden of cartage was borne by the bullock
waggons which brought the wool from the back country. Theirs was a slow
and tedious journey and, before long, bullocks were replaced by Clydesdale
horses which were already being used for short distance road transport.</p>

<p>Teams of horses remained the main source of haulage power until traction
engines were introduced about the turn of the century.</p>

<p>The revolutionary development of the motor vehicle resulted in substantial
changes in the public transport business. It has possibly been the cause of the
biggest changes in the life of the district, e.g: loss of our railway, our saleyards
and trades like blacksmith and saddler.</p>

<p>The first passenger coach service, three times a week to Timaru, was
operated by Wm Warne before the advent of the railway. Later, Carl
Rollinson held a haulage licence in Pleasant Point.</p>

<p>A Mr Green owned the very first trucking business in the township and
Humphrey Friel, who bought his business from R. Knox in the 19203, held a
licence to operate a daily freight return service to Timaru. On Saturdays, he
would fit out the truck deck with seats to transport the local footballers to
their matches around the countryside.</p>

<p>In 1928, Alex Davison started business as a cartage contractor with two
Republic trucks. This business which was situated on the corner of Main Road
and Russell Street, was eventually sold to Richmond Bros.</p>

<p>Another carrying business was set up by Doug Brown about 1934 with one
truck and a licence for cartage in the Levels County. Grain carrying was his
major task in the harvest season, and off season, he carried and sowed lime
from the Cave Limeworks which was opposite the township, and from a
portable plant stationed near Rockwood.</p>

<p>He was the first operator to have a lime sower fitted to his truck and also the
first to have a sheep crate. In 1937 he bought out the local coal merchant, Lex
Borrell and, from then on, operated two trucks for general cartage.</p>

<p>About that time, farmers began to appreciate the inﬂuence of lime on the
land and Doug Brown, with George Frame as his assistant, had a busy season
spreading the first lime on Rockwood, Langley Downs and Raincliff Stations.</p>

<p>During World War II when Doug Brown was called up for military service,
he sold his business to H. Gould and Company. The business was then based
where the new shopping mall is now situated (they ultimately amalgamated
with Mount Cook Freight Company).</p>

<p>Porter’s Motors of Timaru also had a depot at Pleasant Point which
operated from a base opposite the Presbyterian Church on Manse Road.
General and stock cartage was their main line of business.</p>

<p>Frame’s Carrying Company started in 1956 as a Bulk Lime Carrier with one
truck owned by Ruby and George Frame. Two years later they purchased 2
G.M.C. bulk Spreaders from Rollinson Motors of Albury thus extending their
lime spreading business from Albury to the coast. A front end loader and tip
truck were duly added to the ﬂeet and, in 1963, the firm took over Richmond
Bros’ business.</p>

<p>Their buildings were then shifted to Horton Street where Frames’ Carrying
Company continued to be based while its ﬂeet expanded to eleven vehicles as
well as double-decker stock trailers.</p>

<p>About that time, baled hay cartage became big business besides being very
demanding. The men had to work all hours of the day and night. Also, at that
stage, there was a heavy demand for freight to be put on rail so that no matter
how many waggons were ordered, there were never enough to meet the
demand.</p>

<p>During the harvest season, the Railways had to run a special freight train
just to remove grain carted to the sidings by Frames and, after the big ewe fairs
at the saleyards, the situation was much the same.</p>

<p>Once the grain harvest was over, acres and acres of potatoes were waiting to
be carted. The thousands of sacks of potatoes had to be in the sheds by
nightfall as a safeguard against frost, then they had to be moved to the rail or
wharf.</p>

<p>In the mangold picking season, the men had to be at work while the frost
was still on the ground so that the trucks could get out of the paddocks before
the thaw set in.</p>

<p>Closure of the railway station, bulk heading of crops and centralisation of
the saleyards at Temuka has brought even greater demands on the transport
business.</p>

<p>In 1973 Frames’ Carrying Company was sold to H. McPherson and, some
three years later, the business was again sold to Mount Cook Freightlines
which continues to operate it from the base in Horton Street and serves a wide
area in the carrying of stock, grain, hay and general freight.</p>
