<div class="page-header">
  <h1 id="chapter-fifteen">Chapter Fifteen</h1>
</div>

<h2 id="social-and-welfare-organisations">Social and Welfare Organisations</h2>

<h3>Returned Servicemen’s Association</h3>

<p>The inaugural meeting of the Pleasant Point Branch of the R.S.A. was held
on 11 September 1931. The first president was the resident Doctor P.D.
Benham; the first secretary A.S. de Montalk, headmaster of the District High
School, and meetings were held at either Of their residences. There were five
members present at that first meeting.</p>

<p>At that time, the country was in the grips of the Great Depression and, to
make matters worse, South Canterbury was suffering from one of its periodic
severe droughts.The R.S.A. Executive was much concerned with the lack of
work and, hence, money for its members.</p>

<p>Relief work was foremost and men frequently cycled to Timaru for
employment. One member permitted unlimited willow wood to be cut on his
property by the R.S.A. Some early minutes illustrate the concern for members
who fell on hard times: “As this member has been in ill health for some time, it
was agreed that he be paid one pound from the funds in hand on condition
that it was worked for later.” And again: “Mr A. to cut two cords of wood
and deliver to Mrs X in repayment of a pound advanced to him previously.”</p>

<p>The third Annual Report records that T.D. Burnett, M.P., had given a very
generous donation of four pounds to be subsidised by the Branch for two
pounds to buy beef for free distribution amongst unemployed R.S.A.
members.</p>

<p>At Christmas time, for some years, orders for goods to the value of two
shillings were given to eligible unemployed returned servicemen to purchase
gifts for their children.</p>

<p>R.S.A. concerts were the social occasions of the district — admission 1/6d,
children 6d, in 1942. In 1945 the hi hli ht of the year was the R.S.A. Ball -
men 3/-, women 2/- The Annual Smoke Concert (men only) was always a
hilarious evening. In recent years, this has been replaced by a dinner and social
with wives and widows invited, at the Club Rooms in Timaru. The occasional
Mystery Coach Trip is also a social event.</p>

<p>The Memorial Lounge in the Town Hall is a fitting tribute to the local men
who made the supreme sacrifice in World War II. Pleasant Point R.S.A.
members purchased the section and were represented on the War Memorial
Committee responsible for the establishment Of this building. The lounge with
its Roll of Honour, is the centre for the Anzac Day Remembrance Services.</p>

<p>The Memorial Stone which had been erected on the green at the western end
of Afghan Street, was moved to the playground outside the Memorial Lounge
as it was deemed a more suitable site for it.</p>

<p>By mid 1989, the Branch had only two World War I veterans left — M.J.
Wilson and D. Connell. In 1968 all First World War veterans were granted free
membership. Branch membership peaked in 1962 with 115 members. Now it
stands at 56.</p>

<p>Many members have given sterling service to the organisation. In 1948 R.J.
Esler was awarded a Certificate Of Merit and Gold Star. He is the only member
of the Pleasant Point Branch to have received this award. Today, the Branch’s
immediate past President LW. Blakemore is current President of the South
Canterbury R.S.A. — the first Pleasant Point member to be appointed to that
office.</p>

<h3>Save the Children Fund</h3>

<p>As Mrs P.D. Roberts had undertaken the organisation of the Annual S.C.F.
collection locally, it was suggested to her that she convene a meeting with the
object of forming a sub branch in Pleasant Point. This she did in 1974 and was
duly elected its first president.</p>

<p>Members of this branch continue in their efforts to raise funds for the aid of
disadvantaged children at home and overseas.</p>

<h3>Red Cross</h3>

<p>Even though the Pleasant Point Sub~centre of the Red Cross is recorded as
having been formed on 6 September 1939, mention of such an organisation is
made in a Timaru Herald of 1915 when a Monster Carnival and Auction Sale
was held at the District High School in aid of the Red Cross.</p>

<p>Obviously, this would have been to raise money for the forces in the First
World War and could have been for a Red Cross central fund.</p>

<p>When the local subrcentre was formed in 1939, Mrs M.F. Maze was
appointed President and Miss Mary Davison Secretary/Treasurer. Members
immediately busied themselves with knitting and making up garments,
supplies of which were regularly sent to various services’ hospitals such as
Burwood and Hanmer Springs.</p>

<p>Other acitivities centred around fund raising through shop days, saleyards
catering, dances and canvassing. Quantities of goods were also sent to
International Red Cross for inclusion in parcels for prisoners of war and needy
families in Europe, Britain and other areas. Regular donations of cash were
also sent to the Timaru Centre.</p>

<p>Without a doubt, the greatest demand for the peacetime services of the sub-
branch came during and after the ﬂood of 1986 when the resources of the
branch, particularly in terms of man—power, were heavily committed for many
weeks. Hundreds of meals were provided for those working round the clock to
reinstate essential services and food, clothing, furnishings, etc. were supplied
to those who had lost their homes and, in some cases, their livelihood as well.</p>

<p>The Red Cross branch continues to support and render assistance to those in
need in the district. Hospital visiting and transport to and from medical
attention are willingly undertaken by members.</p>

<h3>Lions’ Club</h3>

<p>The Pleasant Point branch of this organisation was formed in 1983 with
about forty members and works towards the welfare of the community.</p>

<p>Amongst projects it has undertaken are: a shade house for the I.H.C. Farm
at Kerrytown, construction of equipment for the Cave Play Centre, providing
a C.P.R. mannikin for resucitation training, restoration of the water-wheel
from Walton’s Mill on Cartwright’s farm, extension to the public library
premises, White Elephant sales for the benefit of the Railway and Historical
Society.</p>

<p>Funds for these projects are raised by such means as hay carting, farm
manure sales. The annual Casino night is always popular, raising as much as
$3,000.</p>

<h3>Jaycees</h3>

<p>Another organisation working for the welfare of the community is Jaycees,
formed in 1976. It has a membership of up to thirty.</p>

<p>Through fund raising activities such as sales of fertiliser and firewood and
hay carting, it has provided the township with a children’s adventure
playground opposite the school on Halstead Road, and picnic tables for the
green median strip. The information kiosk on the parking area earned them
the N .Z. Jaycee—Insurance Trophy for the best project of 1985.</p>

<p>This kiosk was built at a cost of $5,750. Most of the money was raised by
members and supplemented by grants from the Strathallan County and
Pleasant Point Community Councils. Local tradesmen did the construction
voluntarily.</p>

<h3>Masonic Lodge</h3>

<p>The Masonic Lodge held its first meeting in 1909 at the Technical School of
the D.H.S. Meetings continued there until October 1909 when the Masonic
Hall was ready for use.</p>

<p>It appears that the section in Harris Street was bought by James Stewart and
Walter Brydon for thirty pounds. The cost of erecting the hall was met by a
loan of three hundred pounds for five years at 6 per cent. It was completed in
December 1909.</p>

<p>In 1910, ownership was transferred to the Trustees of Lodge St. Martin 162.
Some members travelled many miles by horse and gig to attend the monthly
meetings and, during the first year, twenty—one candidates were initiated.</p>

<p>With the growth of membership, the refectory was enlarged in 1953 and, in
1958, the kitchen was added. The building is now completely freehold.</p>

<p>Born of humble origins with twelve members in 1909, the growth of the
Lodge shows that “Peace, Love and Harmony” continue amongst its
members and the community around it.</p>

<h3>Federated Farmers (formerly Farmers’ Union)</h3>

<p>Even though there are no records before 1936, of the Farmers’ Union in
Pleasant Point, such an organisation did exist many years before that.</p>

<p>In “Jubilee History of South Canterbury” it states: ”In the beginning of
1872 there were two Farmers’ Clubs in South Canterbury; one at The Point
formed on 14th July 1870; one at Waihi Crossing working for the good of the
farming community.”</p>

<p>In 1872 the Timaru Herald reported that the Pleasant Point Farmers’ Club
published a memorandum requesting Central Government assistance for a
railway branch line to the township from Washdyke.</p>

<p>Whether or not this Club continued in existence up until the formation of
the first Farmers’ Union in Timaru in 1901 is a matter for speculation.
Nevertheless, Pleasant Point was well represented on that first committee. E.
Acton, J. Chisholm, A. Cleland and W. Shepherd were amongst the elected
members.</p>

<p>Pleasant Point certainly had its own Farmers‘ Union Branch in the early
1920s as reports in the Timaru Herald indicate. After the Second World War
in 1945, the Farmers’ Union changed its name to Federated Farmers and
Pleasant Point Branch has had a strong membership ever since working for the
good of the farming community.</p>

<h3>Young Farmers’ Club.</h3>

<p>A Young Farmers’ Club branch was formed in Pleasant Point in 1938 with
Dudley Gardiner as first president and AD. Talbot as secretary. Its aim has
been to develop leadership qualities amongst the farming youth and to educate
them in the advancement of farming methods. Debates and stock judging have
been two of the activities which have been strongly contended for in
competition with other branches of the movement.</p>

<h3>Country Girls’ Club (later Young Farmers’ Ladies Section)</h3>

<p>Country Girls’ Club was first formed in 1963 with Heather Munro the first
president and Margaret Porter secretary.</p>

<p>Several members have competed at a National level in stock judging
competitions with considerable success, Miss C. Collett having won the award
more than once. Debating, public speaking and home arts are other activities
for which competitions are held. Mrs Andrea Bailey has been elected to the
National Executive Council.</p>

<p>In 1973, Country Girls’ Club amalgamated with Young Farmers’ Club but,
in Pleasant Point, they continue to meet separately, known as Te Ngawai
Y.F.C.</p>

<h3>Women’s Division of Federated Farmers</h3>

<p>A branch of this movement was formed in Pleasant Point in November 1931
with Mrs C. Ley as president and Mrs Gordon Campbell as secretary. Its aim
was to foster interest in home arts and campaign for rural women’s rights and
welfare.</p>

<p>Much of this work was closely allied to that of Women’s Institute and it was
eventually realised that a more effective group would result if the organisation
disbanded and joined the Women’s Institute. This was done in 1957.</p>

<p>Branches of the Women’s Division of Federated Farmers continue to
function in outlying areas such as Kakahu, Sutherlands and Hazelbum.</p>

<h3>Country Women’s Institute</h3>

<p>The Pleasant Point Women’s Institute was formed in July 1931. Mrs W.T.
Taylor was elected president. It would appear that the Women’s Institute, at
that time, catered for women living the the township whereas the Women’s
Division catered more for farmers’ wives.</p>

<p>Pleasant Point C.W.I. continues to be supported by a dedicated group of
women in the township, meeting on a monthly basis.</p>

<h3>Garden Circle</h3>

<p>Twenty—five years ago a meeting was convened in Pleasant Point to assess
public interest in forming a Garden Club, Reverend R.]. Okey presiding. The
fifty strong attendance indicated plenty of enthusiasm and the first Garden
Circle was formed. Mrs Ann Fairburn was elected president and Mrs Margaret
Gardiner Secretary.</p>

<p>Meeting once a month, the Circle has a variety of subjects for discussion, all
related to promoting gardening in all its aspects. These include demonstrations
by experts, specialist speakers and the ever popular garden visits. Membership
has grown to over a hundred.</p>

<p>The group is community minded and has given financial assistance towards
many projects for beautifying the township.</p>

<h3>Floral Art Group</h3>

<p>The Te Ngawai Floral Art Group was formed in 1976 when some members
of the Garden Circle with a special interest in this skill decided that the
formation of a group would further the interest in this field.</p>

<p>Mrs Linda White was elected president and Mrs Ruth Mitchell secretary.</p>

<p>The group caters for wedding and other functions where ﬂowers are in
demand and the artistic skill demonstrated in their ﬂoral decorations has
earned them merit enough to enable the project to become a successful fund
raising venture for its thirtyefive members.</p>

<h3>Pleasant Point Beautifying Committee</h3>

<p>In 1988 a committee was elected at a public meeting called to consider ways
and means of improving the environment of the township to make an
attractive scene. Harley Stewart was voted chairman and Lester Chapman
secretary.</p>

<p>The group has devoted many hours of voluntary work to planting three
hundred trees on the median green strip bordering the Main Street and nursing
them through the dry seasons. The project was financed by Strathallan County
Council.</p>

<p>They have also planted the perimeters of the new sports field next to the
Main Road. These pin oak, ash and cherry trees will, in years to come, be a
fitting tribute to those who, in their retirement, helped make the township a
place to be pround of.</p>

<p>Some residents, keen to enhance the appearance of their streets, have
planted trees there at their own expense, thus contributing to the project.</p>

<h3>Senior Citizens’ Welfare Organisation</h3>

<p>In May 1974 a meeting was convened under the leadership of Mrs P. Scott,
to consider the formation of this body as a means of providing entertainment
for senior citizens of the district.</p>

<p>With support from local organisations, it was decided to proceed and Mrs
Scott was elected president. The Club has been active ever since with sporting,
church and social organisations undertaking to provide teas and socials on a
roster system.</p>

<p>This monthly event fulfils a social need for the elderly of the district.</p>

<h3>Scouting</h3>

<p>The first Pleasant Point Scout Group commenced activities on 8 February
1940 under the mastership of Reverend Schurr, assisted by AS. Watson of
Butlers Road. F.E.G. Malcolmson was the first chairman of the Scout
Committee.</p>

<p>It is interesting to record that this first pack met in the unoccupied shop
which is now the Scout Den. Owing to wartime restrictions, transport was
limited so that only boys within walking or cycling distance were able to attend
and the pack was small in number.</p>

<p>When Rev Schurr left to become an Army Chaplain, H.O. Fort took over as
Scoutmaster and, about three years later, a Cub Pack was formed under the
leadership of Miss Beattie Taylor. The pack numbered fifteen boys.</p>

<p>It would appear that the Scouts went into recess for some time and was
reinstated when Rev Ian Powell undertook the leadership in 1956. An old
cottage was purchased at 27 Harris Street for use as a Scout Den and was used
until 1985 when the present Den was bought from the Pipe Band Committee.</p>

<p>As Scout membership increased, the old cottage became inadequate and the
obsolete Catholic Church hall was acquired and moved on to the site in 1968.</p>

<p>Again, in 1974, the Scouts went into recess through lack of leadership but
resumed in the 19805 and has grown in numbers to a troop of 32 Scouts. four
of whom are about to attain Venturer status. There is a Pack of 27 Cubs and,
in 1988, a new group, Keas, was formed for six to eight year old boys.</p>

<h3>Guiding</h3>

<p>Early records of this movement are sparse but it is known that a Girl Guide
Company was formed in 1943 if only for a few years. At that stage, they met in
a small, disused cottage in Maitland Street.</p>

<p>In 1957 a Brownie Pack was formed under the leadership of Mrs Jan
Clemens who, apart from a few years when her own family took up all her
time, has continued as leader ever since.</p>

<p>As Brownie members reached the required age, their enthusiasm led to the
formation of a Guide Company in 1969 and, today, the organisation has
grown to two Guide units, a Ranger unit, two Brownie Packs and a Pippin
group which is a recent formation for six to eight year old girls.</p>

<p>Several Pleasant Point Guide members have, over the years, received the
Queen’s Badge, the highest award in Guiding.</p>

<h3>St John’s Ambulance Brigade</h3>

<p>A St. John‘s Ambulance Cadet Group was first formed in 1978 under the
leadership of Mr Haines and, in 1987, a Family Unit was also formed.</p>

<p>The Cadet Group, now led by Mr and Mrs Scott, is given instruction on
many facets of First Aid and proficiency badges are awarded accordingly.</p>

<p>The Family Unit attends local sports matches in order to treat any injuries
which may arise and are also to be seen on duty at the annual Gymkhana and
at the Railway Museum when the train is running.</p>

<h3>Pleasant Point Pipe Band</h3>

<p>The Band was formed in 1946, primarily by members of the wartime band
of the Levels Battalion of the Home Guard.</p>

<p>The convenor of the meeting to discuss its formation was E.G. Hewitt who
considered it would be an asset to the community. The meeting elected R.
Fraser Snr. of Sterndale as Patron and LC. Craythorne as President.</p>

<p>To raise money to outfit the players, the band gave afternoon and evening
performances and held shop days. They had received a grant of $400 from the
trustees of the defunct Caledonian Society.</p>

<p>The original uniforms were imported from Lawries of Scotland averaging 48
Found 15/- each —- a total cost of 692 Pound 13/4d. In honour of their
patron, the Fraser Tartan was adopted for the kilts.</p>

<p>For a number of years, the band practised in rented rooms until the
members decided they needed premises of their own for housing of equipment
and rehearsals. They purchased the disused store in Te Ngawai Road in 1953.
In the years that followed, they renovated the building extensively and, in
1967, the Band was equipped with new uniforms and a set of guard drums and
chanters.</p>

<p>The Pipe Band has played a prominent role in the affairs of the district,
always being in evidence at celebrations and ceremonies besides making
numerous appearances at National and Provincial contests where it has met
with some success.</p>

<p>For a period of about ten years, the Band went into recess although an
administrative committee was maintained. In 1985 a move was made by the
committee to revive the Band and it now has sufficient active players to be able
to join with the Temuka Pipe Band in competing in South Canterbury
competitions.</p>

<p>The hall is now the property of the Scouts but the band continues to practise
there.</p>

<h3>The Village Players</h3>

<p>In years gone by, Pleasant Point had an active drama group which provided
local entertainment besides competing in the South Canterbury Drama
Festivals. It was weakened by the introduction of television and other counter
attractions and eventually collapsed in 1970.</p>

<p>However, recent years have reawakened interest in live performances and, in
1985, the Village Players was formed in the township. This is a music and
drama group with a preference for musical performances. They have presented
successful evenings of lighthearted ‘revue’ and ‘cabaret’ style entertainment
besides a one act play.</p>

<p>Profits made at these performances have assisted other local societies as well
as providing finance for future entertainment.</p>

<h3>The Annual Procession</h3>

<p>The Christmas Procession is the social highlight of the year for the children
of the district who come to see Santa Claus. For the ‘not so young’, it is a
fitting opportunity for local organisations to join together in the township’s
Christmas celebrations.</p>

<p>Since it began in 1960, there has been a constant increase in the number of
ﬂoats taking part and also in the size of the crowds that gather to watch the
procession.</p>

<p>The first procession was conceived when Miss Margaret Winter and Mrs
Betty Bowman decided that Pleasant Point needed livening up at Christmas
time. With a small band of helpers, some of whom are still on the committee,
their idea became a reality.</p>

<p>The pattern of the procession has changed little since then. Floats are
entered by local businesses, sports clubs, charitable organisations and societies
with most of the community being represented in one form or another.
Themes are many and varied, often devised with an eye to local and national
issues.</p>

<p>Led by the Pipe Band and Marching Girls, the Procession proceeds from the
corner of Totara Street via Te Ngawai Road to the Main Street, through the
town to Harris Street, ultimately ariving at the playground next to the Town
Hall. At this point, Santa Claus distributes sweets and listens to children’s
Christmas wishes. The committee, which was formed in 1963, raises enough
money through rafﬂes, etc., to be able to distribute about 500 bags of sweets
free. The Christmas Procession has become an established event looked
forward to by young and old alike.</p>
