<div class="page-header">
  <h1 id="chapter-eight">Chapter Eight</h1>
</div>

<h2 id="local-government">Local Government</h2>

<p>Pleasant Point was originally administered conjointly by the Geraldine
County Council and the Levels Roads Board, rates being levied by each body.
The County Council looked after the bridges and the Roads Board concerned
itself with the roads.</p>

<p>The minutes of those meetings make interesting reading when one compares
the basic needs of the pioneers with the demands of today’s ratepayers.</p>

<p>In 1868, one of the immediate requirements was the reservation of land
suitable for a cemetery. About 35 acres was set aside on the hill and its
perimeters soon planted with attractive trees. The area not yet required for
plots was leased out for grazing and, in later years, has served as a car-park for
funerals.</p>

<p>With the absence of fencing in the district, wandering stock were a constant
worry to the Board so that the need for a Pound at Pleasant Point was the next
priority. Land was purchased in Te Ngawai Road near the creek, (now access
road to the sawmill), for ten pounds and a Pound was established in 1870 with
T. Watkins in charge of the stockyard. John Worthington was then appointed
Pound Keeper but it was not until 1874 that tenders were called for the erection
of a public Pound as such. Three years later, permission was granted for the
Pound to be used for holding stock sales.</p>

<p>The lot of the local Pound Keeper does not appear to have been a very
happy one! Pound Keepers seem to have been for ever changing. “There was
no money in it”, or they were dismissed for incompetence. Often, they were
accused of picking up stock from its rightful grazing area and deliberately
impounding it.</p>

<p>It would appear that the Pound Keeper leased the Public Pound and
collected the fines from owners before their stock was released. This often
resulted in unpleasant disputes.</p>

<p>In 1876, Henry Kee tendered successfully to build a Town Board Office at
Pleasant Point for the sum of fifty-seven pounds five shillings. It was situated
on Te Ngawai Road in front of the Pound.</p>

<p>Disputes over road and bridge building were common. Each farmer
maintained that a road to his farm was a pressing priority so that a great deal
of diplomacy was required from the Roads Board and the Geraldine County
Council in order to try and please everyone.</p>

<p>In 1879 tenders were accepted for the Te Ngawai Bridge and then, in 1882,
residents were demanding a road to the railway station which had been moved
to the far side of the line.</p>

<p>Flocks of exotic birds, finding no predators, swarmed the district and played
havoc with crops, causing constant worry to farmers. In attempts to lessen the
destruction, the Board distributed poisoned wheat to farmers and a bounty
was paid for birds’ heads and eggs. This was a welcome source of pocket
money to local children and, as early as 1883, the overseer reported having
collected 3,694 dozen birds’ eggs and 881 dozen young birds at a cost of fifty
six pounds.</p>

<p>By 1904, the bounty was one shilling a dozen for blackbird and thrush heads
and threepence a dozen for their eggs. Sparrows, linnets and larks brought
four shillings a dozen for heads and twopence a dozen for eggs. Birds were
described as being as destructive on arable farms as rabbits were on pastoral
runs. This scheme continued until the mid 1930s.</p>

<p>In 1890, when two or three children died from diptheria, water pollution
and insanitary conditions caused concern in the township.</p>

<p>Complaints about a gravel pit being dug on a vacant section were made to
the Board in 1891. It was between Harris Street and the Main Road near
Russell Street and was described as “a great disfigurement to the area and
injuring adjacent sections”. E. Acton of the School Committee stated that it
would ultimately become a dangerous pit of stagnant water and a depot for
refuse. The Board replied that they could not abandon the pit but would plant
its surrounds with trees. This pit remained a source of complaint right up to
1954 when the Council sold it and it was filled with sawdust.</p>

<p>As the demands on the Board increased, it was found necessary to change
the method of administration by separating from the Geraldine County and
creating the Levels County Council to attend to the needs of the area.</p>

<p>The first meeting of the Council was held with A.E. Saunders as clerk and
Wm. Annand as overseer and its concerns were much the same as those of its
predecessor, roads and bridges being the major priority.</p>

<p>In 1895, they were asked to “lay planks over the creek on the Main Road
near the park to enable sheep to be crossed with less difficulty”.</p>

<p>The siting of the bridge over the Opihi at the end of Halstead Road caused
much heated discussion and the farmers on Waitohi Flat were accused of
pressing for a bridge for their own financial gain. Their reason for wanting the
bridge was to get stock to the Pleasant Point sales which were the biggest in
South Canterbury and where sheep made a shilling a head more than
elsewhere. It took until 1903 before the Levels and Geraldine County Councils
could agree on its location. It was eventually built by Wm. Hopkinson of
Temuka for 4328 pound 19 shillings, Levels C.C. paying a half share.</p>

<p>As the township was growing rapidly, a request for three kerosene lamps to
be located in the village was approved in 1906.</p>

<p>Even in those days, the desire to live in attractive surroundings was evident.
Residents in the Morton zone applied to have the portion of the road fronting
the Creek set aside for beautifying purposes. This was, presumably, the area
skirting Kumara and Runa Terraces.</p>

<p>By 1908 the township had grown to such an extent that it was gazetted as a
Town District. John Crawford, local bootmaker, was elected first Chairman
of the Town Board and members were B. Butcher, E. Halstead, F. Dossett,
W.B. Oborn, Wm. McKibben, Wm. Halstead, Frank Nelligan and C. Smith,
clerk.</p>

<p>It became the Town Board‘s responsibility to attend to the welfare of the
township with boundaries extending from the Domain to the Police station. to
the end of Te Ngawai Road and just beyond the northern saleyards boundary.
As with the Council. roadworks and footpaths seem to have been one of the
first priorities of the Town Board.</p>

<p>When it took over from the council, the Main Road. then known as
Dominion Street, was a rough track on either side of an ugly gully. ln wet
weather. the gully filled with water and the street and footpath became almost
impassable with pedestrians ‘up to their knees in mud’.</p>

<p>It is said that Mary Lambert from the Chemist’s would throw pennies into
the gully when the water level was high. for boys to dive after and claim for
themselves. Thousands of tons of metal were carted from the shingle pit at
Sutherlands and railed to Pleasant Point where it was dumped by the railway
to be scooped into the gully by Town Board employees and railwaymen.</p>

<p>As happens with all such elected bodies, the Town Board received its share
of criticism from the ratepayers. The following ‘Letter to the Editor” of 1914 is
an amusing example:</p>

<blockquote>
  <p>To the Editor Timaru Herald, “Sir The annual
  election of the Pleasant Point Town Board Commissioners drawing near I beg
  through the medium of your valuable paper to urge the ratepayers of this
  township to ‘wake up’ and look around for some intelligent and progressive
  minded citizens to fill the coming vacant seats on the Board. We all know that
  some of our esteemed residents love to imagine themselves as living in an
  English village that their cup of joy would be filled if only the working men
  would go round in smocks pullng their forelocks and their womenfolk bob-
  courtseying in cotton gowns and sun bonnets. and that these good people have
  no wish to see the town advance and laugh at all suggested improvements. But
  surely we have a sufficient number of intelligent and independent members in
  our community to outnumber the voting powers of these antediluvians.
  Therefore, I say ‘Pleasant Point, wake up!’ and make your town worthy of its
  name.</p>

  <p>The following matters need urgent attention:<br />
  (1) The efficient and punctual lighting of the Lux Monument Lamp. (2) the
  efficient and punctual lighting of existing street lamps and the procuring and
  erecting of a dozen more. (3) The clearing of ground round the Coronation
  Memorial and fencing in of the same. (4) The opening of all closed roads in the
  Town Borough. (5) The demolition of several rotting and dilapidated empty
  shanties which are hideous eyesores and a menace to the public health. (6) The
  completing and forming and asphalting certain footpaths undertaken but not
  finished by the late contractor. (7) The appointment of a local sanitary
  inspector. — I am. etc..</p>

  <p>PROGRESS. 27th March 1914.”</p>
</blockquote>

<p>Sanitation was a major concern of the Town Board. Most local residents
had a ‘privy’ down the garden path and relied on the ‘night cart’ to empty the
bucket at a fee set by the Board. This task and the rating for same were
constantly under discussion.</p>

<p>In 1932 at the height of the depression it was proposed that the Sanitary
Scheme be discontinued as owing to many ratepayers defaulting on payments.
the Board was unable to carry on. Consequently, the duties of the ‘night man’
were confined to the inner area of the township and the outskirts were made
voluntary.</p>

<p>Payment of Board employees became so difficult that one man was
dispensed with and the sanitary and road works were combined at 14/6 per
day.</p>

<p>At that time. unemployment was rife and the Board was constantly being
asked to create work of a development nature. At one time. there were as
many as twenty-six men seeking jobs with the Board. Poverty was so severe
that rates were reduced to 7/8d in the pound,general funds, and 1/4d in the
pound for special Hall rate to try and alleviate the financial problems of the
ratepayers.</p>

<p>As a consequence. the Board was limited in the amount of men they could
afford to employ under any scheme they might undertake. Under the Scheme
in 1938, ten men were allocated to maintaining the footpaths. the Creek and
drains, screening shingle for side streets, gardening. fencing and control of
noxious weeds.</p>

<p>Another responsibility befalling the Town Board was the annual
appointment of a Dog Tax Collector whose duty it was to go from house to
house registering dogs at the set fee and issuing collars made under contract by
the local saddler.</p>

<p>The appointment of an ‘examiner’ for traffic licences was also made by the
Town Board and for many years, the office was held by the proprietor of
Pleasant Point Motors, C. Smith and, later, H. Blissett. The Board was so
irate when, in 1936, it was notified that, in future, the Transport Department
would take over the task, that an objection was lodged with the Department.
In expressing their disapproval, the Board stated that Local Bodies would suffer
a serious loss of revenue as a result of this move. They had issued 180 traffic
licences that year.</p>

<p>Speed limits in the township were set by the Town Board. A prosecution in
1920 reads: </p>

<blockquote>
  <p>The Inspector under the By—laws for the Pleasant Point Town Board has
    had a good deal of trouble in prosecuting motorists for exceeding the speed
    limit of 12 miles per hour on the Main Street. Tests were made on a stretch of
    190 yards, including the most dangerous spots, by stop-watch! The marks were
    a gutter at the Railway Goods Shed and a dip in the Creek west of all the
    buildings. Apparently the test car’s speedometer or the stopwatch were not
    functioning accurately and there were many irate motorists as a result!</p>
</blockquote>

<p>For some considerable time, the Board paid Mr Williams 5/- per week to
wind the Town Clock. In those days it was weighted similar to a grandfather
clock.</p>

<p>The Public Pound was also the responsibility of the Board and it would
seem that the Poundekeepers’s job remained unpopular. Impounded stock not
only included horses, cattle and sheep but also, on one occasion, a ﬂock of
ducks was seized following complaints from their owner’s neighbour that they
were forever fouling his garden and the Creek Reserve.</p>

<p>Setting the day for the statutory half-closing day for the shops in the
township was a constant headache for the Board in the 1930s. For many years,
Thursday afternoon had been the customary half day but, in 1934, it was
retained only by the casting vote of the chairman. From then on, it became a
hot issue with the business men who even suggested that a poll be taken at the
next Town Board election.</p>

<p>1936 brought two petitions to the Board from the business men. One asked for
Saturday afternoon to be the weekly half holiday and the other “prayed that the
Board see fit to still observe Thursday as the statutory half holiday”. The Thursday
supporters won and that continued to be so until 1939 when closing time was
changed to Saturday afternoon. At this, five local businessmen were so angry they
asked the Board to write to the Minister of Labour to rescind the motion. But the
battle was lost. The Minister replied that “nothing could be done”.</p>

<p>The main thoroughfare of Pleasant Point became a matter for concern in
the 1930s because of the “tremendous amount of travelling over the area”.
Application was made to the Highways Board in 1932 for a 300—Pound grant
for roads maintenance and, in 1934, approval was given for the tar sealing of
11/2 miles of highway within the township. in 1934, fifteen chains of the
highway was sealed for the full width but completion of the tar sealing of all
roads in the township was a long, slow process continuing into the 1960s.</p>

<p>The war years brought added concerns to the Town Board. Fears of
japanese invasion in 1941 prompted the enforcement of ‘black-out’
regulations everywhere. Temporary extinction of street lights was enforced, all
household lights had to be shrouded and wardens were appointed to see that
this was carried out and adhered to.</p>

<p>Hall maintenance and water supply were other major concerns of the Town
Board which are dealt with elsewhere in this book.</p>

<p>The suggestion that it should amalgamate with the Levels County Council,
was put to the Board as early as 1937 but there was strong objection to this
notion so that it did not eventuate until 1954. Since then, control of the
township has been the responsibility of the County Council.</p>

<p>The development of a complete sewerage system throughout the township
would be the biggest scheme undertaken by the County Council since it took
control. The scheme was started in 1968 and was extended to cover the western
side of the township in 1985. The project had a profound effect on Pleasant
Point’s development as it stimulated a demand for building sections and more
houses and permitted the subdivision of large sections.</p>

<p>In 1977 a Community Council of seven members was formed under the
chairmanship of R. Malthus, to assist the County Council in the planning and
control of the township Although not having complete autonomy, the
Community Council is given a measure of freedom to estimate its own level of
rating and authorise its own works within the approved estimates of the
County Council. Generally, all money raised in the community is spent for its
benefit.</p>

<p>A cost sharing arrangement does exist with respect to some facilites, e.g.
Recreational reserves the Cemetery, Beck Road rubbish tip are met on a 50/50
basis and the Baths on a 30 per cent basis by the County Council, the balance
being met by the Community Council.</p>

<p>The Community Council is levied by the County Council for administration
charges as follows:</p>

<ol>
  <li>20 per cent of general rate expenditure net of any loan charges.</li>
  <li>10 per cent of sewer scheme expenditure net of any loan charges.</li>
  <li>20 per cent of refuse collection expenditure.</li>
</ol>

<p>The basis of rating in the Strathallan County, including the community, is
capital value. In addition, uniform charges are levied for water, sewers and
refuse.</p>

<p>The current rateable capital value of the community is $31,544,900. It is
interesting to compare the rates and charges levied for the current financial
year with that of earlier times, viz:</p>

<table class="table">
  <tbody>
    <tr>
      <td>1989/90 General Rate</td>
      <td>$114,846.68</td>
    </tr>
    <tr>
      <td>Water Supply charges</td>
      <td>$72,335.64</td>
    </tr>
    <tr>
      <td>Sewer charges</td>
      <td>$50,571.07</td>
    </tr>
    <tr>
      <td>Refuse charges</td>
      <td>$21,949.01</td>
    </tr>
  </tbody>
</table>

<p>1932/33 Rates: 400 pound from general rate at 1—1/8d in the pound.<br />
Special Hall rate 100 pound from 14d in the pound.<br />
Sanitary fees 200 pound.</p>

<p>Under the reorganisation of local government, the Community Council will
go out of existance on 31 October, 1989. In its place will be the Pleasant Point
Community Board with similar functions but covering a large rural district as
well as the township.</p>
