<div class="page-header">
  <h1 id="community-services">Community Services</h1>
</div>

<h2 id="the-oddfellows-hall">The Oddfellows Hall <small>(later Gospel Hall)</small></h2>

<p>Can you imagine a bazaar in the Gospel Hall? In 1899, the Library
organised a bazaar there with stall holders in period costume and the special
drawcard of a Gipsy fortune teller. Bran dips were an attraction for the
children and refreshments and confectionery were in abundance. Shooting
gallery, fancy work stall, flower stall, art gallery collection and curios filled
every corner and what a din there must have been with livestock being
auctioned to the accompaniment of a new-fangled gramophone. It is to be
hoped that the three large ventilators in the roof proved ‘effectual in
equalising the temperatures’ and that the ‘large Rochester lamps’ rendered
yeoman service during the dance that followed.</p>

<p>At that time the hall was almost brand new and revelling in its pristine glory.
It had been built in early 1897 by members of the Oddfellows Lodge and
opened with a grand concert and ball on 8 April of that year.</p>

<p>Surprisingly, the Oddfellows did not purchase the land until 22 April when
Lot 26 containing 21 perches was acquired. The five adjoining lots were
bought on 3 December 1898. Whilst in the course of building, it was decided to
increase the width of the hall by 23ft, thus giving Harry Dossett the builder a
bigger job than he’d bargained for.</p>

<p>The extension was less elaborate than the original which had boasted ‘a
handsome dado of red and white pine, the colour panels alternating, 4ft in
height’ topped with ‘a very pretty diagonal pattern which gives an artistic
appearance to the whole interior.’</p>

<p>The Presbyterian Church was quick to make use of the hall for its Sunday
School Soiree on 30 April 1898 and, in October the same year, St Alban’s
Church ran an evening of entertainment to raise funds for repairs. Soon it was
fulfilling the Oddfellows’ hopes in functioning as a public hall.</p>

<p>Hire charges were 5/6d per night for the main room and 2/6d for the ante
room. The Brethren were not slow to take advantage of the special low charge
of one shilling for Sundays. By March 1900 they were holding G05 61 meetings
in the main hall and may, by then, have permanently changed their meeting
place from James Agnew’s home to the Oddfellows Hall ante room.</p>

<p>By the turn of the century the hall had become a popular centre. During the
Boer War, patriotism was strong so that, as well as library meetings, school
concerts, inaugural meeting of the Caledonian Society and a grand ‘Vocal,
Instrumental and Minstrel’ event, there was ‘an entertainment run for the
Patriotic’. In 1901 a reception for Troopers was held there.</p>

<p>School concerts were later patrons and, from 1912 to 1931, St Martin’s
Lodge held their banquets there. The Plunket Society found the cloakroom a
suitable place for mothers to visit the nurse with their babies from 1938 to
1953. Wedding receptions were also held in the Hall, two notable ones being
Manson-Carson and Goodson-Smith.</p>

<p>For many years, the weekly dances and picture shows brought regular
crowds to the hall — the two mysterious pillars still stand as a monument to
the dancers. The movie pictures, every Saturday night, were the highlight of
the week for the locals. Quite different from today’s cinema, they were at first,
silent movies with an accompanying pianist creating ‘atmosphere’ with
suitable background music. The reels were wound manually and an evening’s
programme could consist of up to twelve short reels. This meant frequent
intervals for reel changing but it did give the pianist a welcome break and Fred
Foley, the projectionist, often entertained with light hearted stories during
these interruptions.</p>

<p>Power failures were common as carbide lighting was fitted in the hall. A tin
shed beside the hall housed an inverted drum of water and two trays of
carbide, bought in airtight tins from Bob Knox’s bike shop. The acetylene gas
produced was conveyed through a pipe to the double sets of jets in the lamps
suspended from the ceiling. The system was not always reliable.</p>

<p>For the pictures, Fred Foley brought his own mobile generator and parked it
outside the hall. He took it by train to all the stops along the line for their
weekly entertainment. He established a tradition of film evenings, the
harbinger of which may have been the Grand Limelight lecture by Rev CE.
Woodward on Friday 28 July 1898, showing scenes from London life. Silent
movies continued for some years, even after the new Town Hall opened when
Ernie Crawford was the accompanist.</p>

<p>Although electricity proper came to the township in 1925, the Oddfellows
Hall does not appear to have benefited fully until bought by the Brethren in
1928. Certainly carbide and kerosene were still being purchased but in the last
quarter of 1928, electrical work cost seventeen pounds sixteen shillings and
Sixpence. By 1929, Power Board bills for 10/-, 11/4d and 1 Pound 0/6d were
paid.</p>

<p>Billy Andrews was caretaker of the hall when the Oddfellows Chapter in
Pleasant Point ceased to be and he continued as such until the hall was sold to
Harry Elms, water race ranger, in 1920.</p>

<p>In 1928, the Brethren bought the hall from him for 400 Pound and big
changes followed.</p>

<h2 id="the-town-hall">The Town Hall</h2>

<p>Up until 1928, the Oddfellows’ Hall in Maitland Street (now known as
Gospel Hall) was used for most local public functions. When this hall was
bought by a religious group the need for a town hall became imperative.</p>

<p>In March 1928, a poll of district ratepayers was taken by the Town Board on
a proposal to raise a loan to 3250 Pound for the erection of Town Board
offices, a public library and a hall. Seventy-seven voted in favour and twenty-one
against. The Board also announced the issue of debentures to the value of
1750 Pound for a term of twenty years at five and a half per cent towards the
building loan.</p>

<p>With the ratepayers’ approval, the Board set about advertising for a suitable
site. Six sections were offered and that of R. Knox was chosen, it being part of
the property on the corner of Halstead and Main Roads where he had a
drapery.</p>

<p>Tenders were soon called for the building and that of Geo. Dawson with
A.E. Lewis as architect was accepted at the quotation of 2620 Pound. The Hall
was completed by the end of the year.</p>

<p>On declaring the building open on 20 December 1928, TD. Burnett, M.P.
stated that this was: “the reddest letter day in the history of Pleasant Point”.
He went on to say:</p>

<blockquote>
  <p>The supreme need of the Pleasant Point district is that of
  more residents. People could then share one-another’s burdens and pleasures.
  The tendency nowadays seems to be for people to drift to larger centres for
  their amusement but this should not be so. Residents should all make an effort
  to make their own township as attractive as possible.</p>
</blockquote>

<p>The official party was piped to the stage by pipers O. Bain and J. Munro. A
musical evening was followed by a dance which went on into the early hours.
Mr T.B. Garrick, chairman of the Levels County Council, made a gift of a
piano to the new Town Hall.</p>

<p>Very soon, the hall was in frequent use. ].W. Hill tendered successfully at 2
Pound 10/- per week for a once weekly film show. School functions were
charged 2 Pound, dances 2 Pound 5/- till midnight and 3 Pound 10/» till 2
a.m. Flower shows were 3 Pound 10/-. The supper room was let for small
functions such as meetings, euchre, etc. and a miniature rifle range was set up
under the stage for target shooting. The Town Board met regularly in the
Board Room and the Office was opened once a week for ratepayers’ business.</p>

<h2 id="the-memorial-lounge">The Memorial Lounge</h2>

<p>On 24 May 1945, a public meeting was held in the Supper Room to discuss
ideas for a War Memorial for the district. The president of the R.S.A. said
that his association was not in favour of any more stone monuments. He
proposed an extension to the north side of the Town Hall to accommodate a
lounge for the benefit of the public in which a scroll bearing the names of the
fallen should be displayed.</p>

<p>Mrs Clarkson and Miss Maze, on behalf of the Plunket Society, expressed a
wish that Plunket Rooms should be included in the proposed extension and,
subject to the possibility of purchasing the adjoining section, a Women’s Rest
Room was also proposed.</p>

<p>A War Memorial Committee, chaired by the Town Board chairman, M.
Maze, was formed to proceed with these proposals. It was agreed to canvass
the district from Raincliff to Kerrytown and from Sutherlands to Waitohi for
donations. Areas outside these were asked to co-operate and the building
section was donated by the R.S.A. A target of 2500 Pound was set to form a
nucleus of the War Memorial fund.</p>

<p>Local organisations willingly co-operated with fund raising ventures such as
a Gala in the Domain, Drama performances and Tug 0’ War contests. Fat
lamb buyers and stock agents canvassed for gifts of stock and produce to boost the
fund.</p>

<p>As a Grande Finale to the fund-raising drive, a Queen Carnival was held.
Each district sponsored a local girl in a variety of fundraising pursuits and the
one who raised the greatest amount of money was proclaimed Queen of the
Carnival. Miss Jane Campbell was the winner.</p>

<p>With 4589 Pound raised and a pound for pound subsidy as well, tenders
were called in April 1953. Mr T.S. Gillies’ tender of 6309 Pound 15/- was
successful and the official opening took place on 17 March 1954. A grand ball
was held that evening to celebrate the occasion.</p>

<p>The use of the Town Hall has declined considerably over the years. This can
be attributed to the fact that, in the boom years of the 1950—60s, the schools,
churches and surrounding settlements all built halls of their own. Also, the
advent of television led to the decline of audiences and eventual cessation of
the once popular twice-weekly cinema shows in the Town Hall.</p>

<p>The Board Room fell into disuse with the termination of the Town Board in
1954 and the Office was closed in the 1970s when it was considered no longer
economic to employ a Town Clerk.</p>

<p>Modern youth with ready access to motor vehicles sought their
entertainment in Timaru and did not support the local Saturday night dances.
Similarly, local organisations no longer considered the once popular balls a
worth while venture.</p>

<p>All these things have combined to bring about the decline in use of this once
very necessary public amenity.</p>

<p>The Library continues to be well supported and the Women’s Institute and
Miniature Rifle Club still use the Hall on a regular basis but no longer is it a
popular venue for wedding breakfasts. Lack of facilities in the kitchen have
been blamed for this but the cost of updating it has been deemed unwarranted
by the Council owing to the lack of public support.</p>

<p>T.D. Burnett’s comments at the opening ceremony in 1928 would have been
more applicable in this day and age: “There is a tendency for people to drift to
larger centres for their amusement ..... ”!!</p>

<h2 id="the-post-office">The Post Office</h2>

<p>On 1 April 1868, the first Post Office Service commenced at James
Gammie’s smithy. In 1873 the agency was taken over by J. Strachan, general
Storekeeper and, three years later, it was transferred to the opposition store of
I.L. Morris. Then, shortly after the opening of the Washdyke-Pleasant Point
section of the railway on 24 December 1875, Post Office business was
conducted at the Railway Station by Mr Pilkington, Station Master—
Postmaster.</p>

<p>In 1910, residents asked for the separation of the Post Office from the
Railway Station and, after due consideration, the department decided to build
a Post Office. In October of that year, a one eighth acre section was purchased
from Mr Ellis Halstead who lived on the adjoining property in Afghan Street.
There was a four-roomed dwelling (the original Chemist’s shop) already on the
site and it was proposed to convert it into a post office at an estimated cost of
70 Pound.</p>

<p>However, a petition signed by John Crawford, Robert Knox and others
urging that a new building should be erected, was presented to the Rt. Hon. Sir
Joseph Ward through the local MP. T. Buxton and, following a departmental
inspection of the existing building, approval was given for a new office. It was
officially opened by Mr Buxton on 23 December 1912 although it had been
open for business transactions a month earlier. Mr E. Dollimore of the Post
and Telegraph’s permanent staff was appointed the first Postmaster at
Pleasant Point.</p>

<p>A telephone exchange was opened on 14 June 1913 at which time seventeen
subscribers were connected. By 1938 there were 140 and, in that year, six
officers were employed on the staff of the Pleasant Point Post Office and
Telephone Exchange.</p>

<p>As the years went by, most homes in the district had a telephone installed
and this made heavy demands on the staff at the exchange. Almost half the
subscribers were on heavily loaded party lines with as many as eight or nine to
a line. At busy times it was extremely difficult to make an outward call
especially as, in those days, every call outside the district was a toll call.</p>

<p>This led to the opening, on 10 December 1965, of the first automatic
exchange which was sited next door to the Post Office. Pleasant Point then
became part of Timaru free-calling network which was of great benefit to the
district from both business and social points of view. There was also the
advantage of the 111 emergency services.</p>

<p>In today’s atmosphere of ‘user pays’, it is interesting to note the comments
of an official speaker at the opening ceremony of the Automatic Exchange.</p>

<p>He said that profit was not a primary consideration of the Post Office
organisation but it was conducted according to the best standards of business
efficiency with a careful eye kept on relationship between revenue and
expenditure.</p>

<p>The introduction of the Automatic Exchange did mean that the services of
eight of the staff who had manned the old exchange were no longer required.
In latter years they had provided a twenty-four hour service on the manual
exchange. The Post Office staff was now reduced to the Postmaster, an
assistant and a postman.</p>

<p>The building boom over the following years into the eighties rendered the
exchange board quite inadequate and a bigger and more up-to-date one had to
be built at the end of Afghan Street opposite the hotel. It was designed to meet
the needs of a growing township and became operational in April 1982.</p>

<p>As everyone knows, Government policy of the late 1980s has revolutionised
Post Office organisation throughout New Zealand. Three separate enterprises,
NZ. Post, Telecom and Postbank, have been created, each responsible for its
own finances and organisation. Consequently, as happened in many parts of
the country, our local Post Office was closed in June 1989 and an agency for
handling postal services was let to Atkinson and Dossett’s Garage on the Main
Road.</p>

<p>Since the Pleasant Point Post Office was established, the following have
served as Postmaster:</p>

<table class="table">
  <tbody>
    <tr>
      <td>1912&ndash;1921</td>
      <td>E. Dolimore</td>
    </tr>
    <tr>
      <td>1921&ndash;1927</td>
      <td>G.W. McCarthy</td>
    </tr>
    <tr>
      <td>1927&ndash;1931</td>
      <td>L.S.R. King</td>
    </tr>
    <tr>
      <td>1931&ndash;1941</td>
      <td>H. Grocott</td>
    </tr>
    <tr>
      <td>1941&ndash;1946</td>
      <td>F.A. Taylor</td>
    </tr>
    <tr>
      <td>1946&ndash;1952</td>
      <td>H.L. Wilkinson</td>
    </tr>
    <tr>
      <td>1952&ndash;1960</td>
      <td>W.M. Wade</td>
    </tr>
    <tr>
      <td>1960&ndash;1964</td>
      <td>E. Southward</td>
    </tr>
    <tr>
      <td>1967&ndash;1969</td>
      <td>S. Richardson</td>
    </tr>
    <tr>
      <td>1969&ndash;1976</td>
      <td>H. Hinchcliffe</td>
    </tr>
    <tr>
      <td>1976&ndash;1984</td>
      <td>RM. Walker</td>
    </tr>
    <tr>
      <td>1984&ndash;1989</td>
      <td>Mrs D. Bray</td>
    </tr>
  </tbody>
</table>

<h2 id="police">Police</h2>

<p>The first police officer to take charge of Pleasant Point district was Sergeant
Ross who operated from Timaru. The first Police Station was opened in 1875.
At that time, the policeman, Constable Joseph Stanley, lived in the Burke
Street vicinity and it would appear that, even though the population was small,
the policeman’s ‘lot’ was a busy one.</p>

<p>According to a report in the Timaru Herald, there was a good deal of illicit
‘still’ work being carried on in the district at that time. Contraband liquor was
being disposed of through various channels and police had reason to believe
that the bulk of it was passing through Pleasant Point on its way to Timaru.</p>

<p>Sergeant Ross was given the task of locating these illicit stills but the culprits
were skilful in eluding the police. On one occasion, a clue led to the Hazelburn
district where a plant was unearthed but, to the disappointment of the police,
the ‘worm’ had quickly been disposed of at first sight of them. A prosecution
followed but was unsuccessful owing to absence of the necessary ‘worm’ as
evidence.</p>

<p>Later, a 50 Pound reward was offered for information leading to the
location of illicit stills and an ‘informer’ supplied the clues that lead them to a
fully equipped plant in the Waitohi district which resulted in a conviction. On
his discharge from prison, the convict was met by a delegation of friends and
presented with a sum of money to enable him to set up in business again. A
syndicate had been running the enterprise and this man, far from ‘squealing’
had ‘carried the can’ for his accomplices.</p>

<p>Bootleggers had several ruses to mislead the police, such as moving the stills
from gully to gully and lighting fires all over the place to confuse informers.</p>

<p>It is recorded in the Timaru Herald of July 1896 that the government had
purchased a residence for a police officer in Pleasant Point on two and a half
acres of land on the corner of Main Road and Rimu Street.</p>

<p>Concern was expressed at there being no lock-up and that it would be
difficult for the policeman to do his duty under such circumstances. Peace
loving residents thought it was time something was done “to ensure safe
lodgement for such as are not of the same mind. The police, as Public
Officers, are narrowly watched and should have facilities provided for the
proper discharge of their duties.”</p>

<p>The Police Station built in 1896 was, as reported by the Commissioner of
Police in 1937, “very old, insanitary without conveniences — is full of T.B.
germs and not fit for habitation.” (The policeman’s wife and daughters had
contracted T.B.) It was considered a menace to health and unfit for
renovation.</p>

<p>In January 1938 a sketch plan was produced and cost estimates for the
demolition of the old and erection of a new building were set at 1850 Pound. A
contract was let and, by June 1939, Constable Adam Kerse was installed in the
new Police Station which had one of its rooms designated as an office.</p>

<p>Although the report on the old police station was condemning, it was seen
fit to move it. It became a dwelling in George Street and is still occupied there.</p>

<p>Policemen who have served the Pleasant Point district are as follows:</p>

<table class="table">
  <tbody>
    <tr>
      <td>Constable Stanley</td>
      <td>1875&ndash;1896</td>
    </tr>
    <tr>
      <td>Constable Madden</td>
      <td>18.2.1897</td>
    </tr>
    <tr>
      <td>Constable Thos Barrett</td>
      <td>19.11.1901</td>
    </tr>
    <tr>
      <td>Constable Tom Hammond</td>
      <td>18.1.07</td>
    </tr>
    <tr>
      <td>Constable Valentine Pemeskie</td>
      <td>5.8.09</td>
    </tr>
    <tr>
      <td>Constable Pont</td>
      <td>1.6.34</td>
    </tr>
    <tr>
      <td>Constable John Home</td>
      <td>22.2.58</td>
    </tr>
    <tr>
      <td>Constable Adam Kerse</td>
      <td>8.5.39</td>
    </tr>
    <tr>
      <td>Constable Thos Parkhill</td>
      <td>4.9.45</td>
    </tr>
    <tr>
      <td>Constable Walter Ward</td>
      <td>1955</td>
    </tr>
    <tr>
      <td>Constable Stuart Wallace</td>
      <td>1960</td>
    </tr>
    <tr>
      <td>Constable Alfred Gregory</td>
      <td>11.8.71</td>
    </tr>
    <tr>
      <td>Constable Alister Barker</td>
      <td>30.10.73</td>
    </tr>
    <tr>
      <td>Constable Geoff Smith</td>
      <td>1985</td>
    </tr>
  </tbody>
</table>

<p>Constable Pemeskie, there for 25 years, was the longest serving policeman
in Pleasant Point. Everyone was aware of his presence. A now elderly
gentleman tells of spending two hours in the lock-up as a young boy for having
thought the apples on the other side of the fence greener than those at home!
The neighbour happened to be the policeman who apprehended the boy in his
orchard and duly detained by him. That punishment was not sufficient for, when
taken home by the policeman, the boy was given ‘a daddy of a hiding’ by his
father as well!</p>

<p>The public have always welcomed the presence of their own policeman at
local functions and he was expected to do more than just keep law and order.
The Town Board minutes of the 1930s record the constable being asked to see
that the ‘no smoking’ rule was adhered to at the Town Hall dances.</p>

<p>Many stories can be told of hasty exits from the hotel by patrons who
lingered after the six o’clock closing hour.</p>

<p>As against the ‘bobby on his beat’ of yesteryear, the Police Car of today
reminds the public that their Constable is upholding law and order in the
district. Added to that is the reassuring knowledge that his help is at hand
whenever needed.</p>

<h2 id="the-fire-brigade">The Fire Brigade</h2>

<p>In the beginning, the ‘Bucket Brigade” was the only means of fire control in
Pleasant Point. In 1928. PJ. Bowman purchased a hand drawn chemical fire
extinguisher for ten pounds from the New Brighton Council. This appliance
was purchased by the Town Board and, although its use was limited, it served
the township for many years.</p>

<div class="thumbnail">
  <%= image_tag 'ch13-1.jpg' %>
  <div class="caption">
    <p>The hand-drawn chemical fire extinguisher purchase by the Town Board in 1928.</p>
  </div>
</div>

<p>C. Knight, who ran a weekly picture show in the Town Hall, happened to be
superintendent of the Geraldine Fire Brigade and saw the need for some form
of fire protection in Pleasant Point. With the help of P.J. Bowman, enough
support was gained locally to call the first meeting of the Pleasant Point
Volunteer Fire Brigade which was held in the Public Library on 3 August 1944.</p>

<p>At that meeting F. Agnew moved that a fire brigade be formed in Pleasant
Point. A list was then taken of men who agreed to become members, nineteen
offering their services. At the next meeting P.J. Bowman was appointed
Superintendent. (He had been a member of London Metropolitan Fire
Brigade). Mr Knight demonstrated the necessary equipment for a newly
formed brigade and it was agreed to have practices twice a month.</p>

<p>Much financial assistance was required to establish a brigade and
representatives of local organisations formed a Dance Committee to run
dances every Saturday night. This enabled the purchase of a Chevrolet truck
for 70 Pound and assisted the Town Board to buy a suitable building for a fire
station plus a siren (50 Pound), hose, stand pipe and other equipment.
Uniforms were obtained from the War Assets Board, including old army tin
hats.</p>

<p>A Ladies’ Committee was also formed to assist with fund raising and one of
their projects was catering at the Saleyards on a roster system.</p>

<p>By 1955 the fire-fighting equipment had been updated to a 1952 Ford V8
with a front mounted pump, sixty gallon first aid water tank, hose reel, hose
and equipment, lockers and an extension ladder. In 1961 a Ford V8 trailer
pump was bought from Timaru Fire Brigade and, later, an Austin truck for
250 Pound which was converted into the first tanker unit. After a few years’
use, another vehicle was converted in 1968.</p>

<p>In 1974, after much research and planning, final approval was granted by
the Fire Service Council to purchase another appliance at a cost of $20,220. A
fund-raising appeal was launched over the whole of the district, (the first in the
Brigade’s history), and the sum of $5478 was raised. This enabled the Brigade
to acquire more firefighting equipment.</p>

<p>In 1980 application was made to the Strathallan County Council for
replacement of the Ford Thames Trader chassis which had been purchased in
1968 and, in 1981, the Brigade took delivery of a five ton short wheel-base
Ford D750 chassis.</p>

<p>This started one of the most ambitious projects undertaken by the Fire
Brigade members. After six months of trial and error and hundreds of man
hours, the unit proved to be above expectations with a 1200 gallon oval tank
(supplied by council), a 400 gallon-a-minute pump (supplied by Civil Aviation)
driven by power takeoff operated from the cab plus all the other necessary
fittings.</p>

<h2 id="the-fire-station">The Fire Station</h2>

<p>The first building used by the Fire Brigade was a corrugated iron shed next
to the Town Hall and owned by R. Knox. Later, it moved to a more suitable
building in Te Ngawai Road, owned by the Thoreau family.</p>

<p>In 1947 the sum of 199 Pound 8/9d was paid for a building on the Main
Road, formally occupied by W. Oborn, bootmaker. After much voluntary
work was done to the interior, it became the first official Fire Station.</p>

<p>The purchase of the new appliance in 1955 necessitated more interior
alterations in order to accommodate the vehicle.</p>

<p>In that year the Levels County Council bought a section in Halstead Road
for the purpose of building a new Fire Station. In 1961 tenders were called and
the Mallett Bros.’ tender of 695 Pound 9/9d was successful. The building was
officially opened on 1 December 1961 by Mr C. Knight. The building was
extended in 1965 and major improvements were made to the social room in
1971. Fire Brigade members contributed all the labour and also raised the extra
$939 required above the County Council grant of $1000. Since then,
improvements have included a new workshop bay and remodelling of the
social room, toilets and canteen.</p>

<p>Since its inception, all Brigade administration, maintenance and financial
matters have had to be approved by the Fire Committee, i.e. the Town Board
until 1954, thereafter by the Levels County Council and, finally by the Fire
Service Council (later known as NZ. Fire Commission).</p>

<p>Not only do members of the Fire Brigade give many hours of their time
answering emergency calls at all hours of the day and night but much time is
also given to regular training on their permanent practice ground in Kumara
Terrace which the Council gave to the Brigade in 1961. Here, too, members
have worked hard to equip the area for training exercises.</p>

<p>The Brigade has fought many serious fires in its time and had many anxious
moments. One that will never be forgotten was when fire broke out in the Cave
Plantation during the 1975 gale with great danger to the township.</p>

<p>They have also had their lighter moments such as the time when the Chief
Fire Officer, on turning out to a call one Saturday afternoon, found that the
tanker unit had already left for an incident at Sutherlands. He Proceeded in his
own vehicle, overtook the appliance at the Police Station and, seeing smoke
coming from the riverbed, opened the gates and guided the tanker to the fire.
The firemen were somewhat baffled to find that, instead of the whole river
bed, only a few clumps of gorse were on fire. However, with true efficiency,
they set to work with their 500 gallons of water and made a good save only to
be confronted by an irate farmer who had spent the entire afternoon with a
flame thrower trying to burn out the gorse.</p>

<p>Apparently, the fire to which the Brigade had originally responded had been
brought under control by the owners and the message cancelling the emergency
had been received on the unit’s R.T. just before the C.F.O. had directed them
to the river bed. A very useful lesson learnt by the Chief — ‘verify your call
before responding’!</p>

<p>Competitions with other voluntary fire brigades have been keenly pursued
since first instigated by Pleasant Point members in 1956. To create more
enthusiasm, Pleasant Point presented a shield for the team with the most
aggregate points for the day and the Bowman family presented a cup for the
winners of the under twenty-one event.</p>

<p>Six members have been awarded the treasured Gold Star of the United Fire
Brigades Association of New Zealand in recognition of twenty-five years of
valued service to the Fire Brigade and the Community.</p>

<table class="table">
  <tbody>
    <tr>
      <td>A.L. Thoreau</td>
    </tr>
    <tr>
      <td>G.C. Howey</td>
    </tr>
    <tr>
      <td>A.J. Walden</td>
    </tr>
    <tr>
      <td>R.C. Lienert</td>
    </tr>
    <tr>
      <td>R.H. Malthus</td>
    </tr>
    <tr>
      <td>W.J. Dockerty</td>
    </tr>
  </tbody>
</table>

<h2 id="the-library">The Library</h2>

<p>Pleasant Point could boast of a library as early as 1875 but, unfortunately,
no record of it has been filed and the only evidential proof is the library stamp.
However, the following extract from the Timaru Herald of 21 December 1884
is proof of its early existence:</p>

<blockquote>
  <p>The most striking social item in the village is the decided success of our
  Reading Room. In fear and trembling, the Library Committee decided to hire
  a convenient cottage, fit it up comfortably and throw it open daily from 10
  am to 10 pm. As a sort of special providence, Captain Sutter’s handsome
  donation of 20 pound dropped into their hands immediately afterwards and
  the promised Government grant will enable the management to make ends
  meet comfortably. The donation is to be spent only on books. An order was
  sent to London about three months ago and the new volumes should be in
  circulation shortly. Every evening the little room is crowded. At first, draughts
  monopolised attention but we have become ambitious and there are now to be
  found confronting one another, amateur chess players of all grades and some
  fearful and wonderful exhibitions are to be witnessed nightly.</p>
</blockquote>

<p>Captain Sutter was a political candidate who had addressed township
residents in November 1883. Whether or not the ‘Library’ was in a private
home up to 1884 remains a matter for conjecture.</p>

<p>The Reading Room described above was situated in Te Ngawai Road on
part of the site where Stowell’s Engineering shop is now situated. While
excavating for his new building in October 1982, Mr Stowell uncovered the
foundation bricks of the Library facing Te Ngawai Road next to Mr Dossett’s
property.</p>

<p>Following the purchase of this ‘Reading Room’, an active committee
became involved in fund-raising to augment Library funds. A Timaru Herald
report of 17 July 1894 states:</p>

<blockquote>
  <p>The bitterly cold weather and muddy roads
  somewhat militated against the attendance at the Library concert last week.
  The programme was an excellent one being varied, instructive and pleasing.
  The audience was most appreciative and performers met with hearty reception.
  The Chairman, Mr Grieg, explained the objects of the concert and referred to
  the great efforts made by the Library Committee and the Sports Committee in
  endeavouring to provide books and papers, etc. for the Institute. He was
  pleased with the aims of the young people in the district and he hoped that
  those that were not members would come and join the Library and so have the
  opportunity of reading in their young days what they would never regret in
  their old age.</p>
</blockquote>

<p>May 4th 1896 reports “a sports meeting held in Mr Cookes’ paddock and, in
consequence of fine weather, there was a large attendance.” It was a
programme of horse races and athletic events. Funds of the Library were
‘greatly augmented’. Mr Morris, Secretary of the Committee for six or seven
years was given all credit for the success of the meeting.</p>

<div class="thumbnail">
  <%= image_tag 'ch13-2.jpg' %>
  <div class="caption">
    <p>The original Library in Te Ngawai Road.</p>
  </div>
</div>

<p>Mrs Kathleen Muller has vivid memories of the old Town Library. She
recalls very clearly her childhood days when her mother, the late Mrs Harry
Dossett, was caretaker and librarian.</p>

<p>In those days, the Library handled up to six newspapers a day, a tremendous
supply of books and even sported a billiards room as an extra. It was a time
when the Christchurch Press, Temuka Leader, Ashburton Guardian, The
Timaru Herald and Timaru Post were all part of daily life. The Auckland
Weekly and the Free Lance were there too and, once or twice a week, the
Otago Daily Times.</p>

<p>The old building contained an entrance lobby, three rooms and a small
room that housed the kerosene for the lamps. Mrs Muller recalls helping her
mother sweep out with a straw broom and, in particular, the big, hanging
kerosene lamps which had to be trimmed and filled each day. She says there
was shiny brown lino on the floors and big open fires heated the reading room
and the library itself.</p>

<p>Cards and billiards were played there and the excitement of the year was the
annual challenge played with the Waitohi district.</p>

<p>Newspapers were pinned to the long tables in the Reading Room and the
Library room was well stocked with great rows of books. As few people
purchased newspapers in those days, it was not unusual to find people
queueing up to read the news there.</p>

<p>The Library was also a great gathering place. Elderly citizens spent a lot of
their time there —— in fact, some who lived alone filled most of their days at the
Reading Room. '</p>

<p>How long this building served the community is, again, a matter for
conjecture. It is believed there was a period when the Library was in recess
some time before it was relocated in the Town Hall although the building itself
was not demolished until 1942. According to the minutes of Town Board
meetings, it appears that the room set aside for a Library was not used as such
until six years after the Town Hall was opened in 1928. For a time, it was let to
the W.E.A. for their meetings at 2/6d a night and to the Plunket Society at the
same charge on a fortnightly basis.</p>

<p>In October 1933, a public meeting was called to consider the formation of a
Public Library and, a year later, the Library Committee made application for
the use of the Town Hall Library Room. F.]. Dossett and J. Medlicott as
trustees of the old Te Ngawai Road Library expressed approval for the
transfer of the old Library to the Town Hall.</p>

<p>The room was then equipped with shelves towards which the Town Board
granted 5 Pound and the Library was opened three times a week.
Responsibility for the Library was undertaken by the late Miss M. Price,
infant mistress at the P.P.D.H.S. and the late Mrs J. Liston. When they
resigned about 1942, Mrs M. Archer undertook the duties of Librarian besides
acting as Town Clerk each Wednesday at the office in the Town Hall. Mrs
Archer worked hard for the welfare of the library for many years.</p>

<p>For some years now, the Library has been administered by an incorporated
society which meets once a year to elect its officers. The main source of income
is the annual subscription of $10 paid by some fifty members of the society. As
this entitles everyone in the members’s family to borrow books, it is really only
a token fee.</p>

<p>Other funds are derived from rental books, donations from individuals and
organisations such as the Gymkhana Committee and, as a rule an annual grant
from the County Council. Sometimes, applications for grants from charitable
trust, etc meet with success and serve to augment the fund.</p>

<p>The Library is fortunate in that overhead costs are negligible, there being no
rent or electricity charges. Also, every minute of time given by members is
voluntary so that the work involved in keeping the books in order and opening
twice weekly requires no financial outlay.</p>

<p>At one time it was suggested that the Library should become part of the
Country Library Service but it was found that, in order to qualify, a new
building with a paid librarian would be necessary. Moreover, the librarian
must have some qualifications and be employed for at least fifteen hours a
week. This was considered quite beyond the County’s and the Library’s
resources and so the idea was soon quashed.</p>

<p>In 1986 a pilot scheme was set up at the High School to allow the public the
use of the school library on an experimental basis. The public was given access
for one evening a week over a trial period of many weeks but the anticipated
support was not forthcoming and the scheme was abandoned. The
Community Council had received requests from residents for a better library
service for the township but their attempt to provide it met with this poor
response.</p>

<p>Now, thanks to the Lions Club, many years of hoping for extensions to the
Library room has come to fruition. An inner wall has been removed to
incorporate what was the ladies’ cloak room, thus giving twice as much floor
space and room for more book shelves.</p>

<p>The committee works hard to keep the library up to date, buying in books
whenever funds allow. Their aim is to acquire 250 to 300 new books each year.</p>

<h2 id="town-lighting">Town Lighting</h2>

<p>Pleasant Point’s first town lights were kerosene lamps but, in 1921, the
Town Board had electric lights installed for which the power was generated
locally. The generating plant was housed in the original ‘Blue Garage’ building
where the Education Department bus depot now stands.</p>

<p>Mr Sid Gray was the pioneer of this device in which he converted an old gas
engine to petrol, linked it up with a generator and powered two street lights —
the very first in the township —— which shone nightly until 11 pm.</p>

<p>When a disastrous fire destroyed the building and left the town in darkness
for some months, the Town Board decided to ask the South Canterbury Power
Board to provide future illumination.</p>

<p>August 2nd 1926 when the electricity was switched on, was described by the
Town Board as a ‘Red Letter Day’. To mark the occasion, Board members
organised a ‘Switching on’ ceremony for 8 o’clock that night and a special
demonstration of ‘Cooking by Electricity’ was given by Miss Kennedy.</p>

<p>When arranging the function, M.F. Maze, Chairman, said “only fine
weather is now required to make the gathering one of the largest and most
momentous in the history of the township. Owing to the length of the
programme, it will be necessary to start punctually at 8 pm.”</p>

<p>Admission to the ceremony was one shilling with supper and dance to follow
at a charge of two shillings and Sixpence for gents and one shilling and
Sixpence for ladies.</p>

<h2 id="water-supply">Water Supply</h2>

<p>In the pioneering days, establishment of townships was very much
dependent upon ready access to water. In an early Timaru Herald of 1866, an
article concerning the development of Pleasant Point stated: “There is a never
failing stream close to the town and the Opihi River is only about half a mile
distant. In addition to these advantages, water can be obtained from the ground
at a depth of a few feet.”</p>

<p>But a later report tells quite a different story. Residents were complaining to
the Council that the underground water was “contaminated by cess pits,
piggeries and household sewage. Something ought to be done or the
inhabitants of Pleasant Point must change the name of their township or have
it changed for them.”</p>

<p>Suggestions were made to ‘tap’ water from outisde the township and lead it
down by a water race to the village. Sampling of the pure water below the
porous shingle on which the township was built, was also mooted. However, it
appears that residents had to rely on these underground wells or stored rain
water for many years to come.</p>

<p>In 1884, a scheme was devised for cutting open races from an outlet on the
Opihi River to carry water for stock to parts of the Levels flats. It was not until
1937 that the irrigation of the Levels Plains was undertaken by drawing water
from the Opihi.</p>

<p>Farmers on the Downs, however, had to rely solely on rainwater. They
dreaded the dry seasons when creeks and dams dried up and household tanks
contained less and less water. They would then be faced with having to cart
water from some permanent source, often some distance away, besides driving
stock to water at regular intervals.</p>

<p>Water proved the limiting factor to the carrying capacity of farms and stock
frequently had to be sold to conserve water for the essential animals. Farmers
soon realised that a system of watering their farms by conserving rainwater in
tanks and dams was unsatisfactory for the South Canterbury climate.</p>

<p>Healthwise, the household tanks were far from ideal as they became fouled
by refuse washed off roofs and spoutings. Downlands farmers began to press
for better water supplies. T.D. Burnett, M.P. for Temuka in the 1930s saw
that water was the limiting factor to production in these areas and to him must
all credit be given for the establishment of the Downlands Water Supply.</p>

<p>In 1933, a committee was set up to propound the merits of such a scheme
that would carry water to farms and houses in underground pipes instead of
open races. It was proposed not only to supply stock but also domestic users.
The committee was chaired by A]. Davey and had as its members, the
chairmen of Levels, Geraldine and Mackenzie County Councils, the Pleasant
Point Town Board and a number of interested ratepayers. Whilst Mr Burnett
emphasised to Cabinet the urgency of the scheme, Mr Davey gained the
interest and support of local ratepayers.</p>

<p>Investigations were begun in 1934 by T.G. Beck of the Public Works
Department who practically designed the whole scheme and was eventually
designated ‘irrigation engineer’. Construction began in 1938 under the
supervision of Public Works’ engineers.</p>

<p>The cost was estimated at two hundred and three thousand, one hundred
and sixty-five pounds but increased to two hundred and seventy thousand
when additional areas of Levels County and part of Waimate County were
included in the scheme.</p>

<p>Water for the scheme came, from a dam at the mouth of the Te Ngawai Gorge six
miles beyond Albury and one thousand and sixty-four feet above sea-level. The water
now comes from a pumping station 1 1/2 miles below the dam site. Mains from the
intake had a capacity of 856,000 gallons a day and fed six reservoirs with a total
holding capacity of more than three million gallons.</p>

<p>From these, water was piped to farms scattered over more than 140,000
acres. Each homestead was connected and water was piped free to one stock
trough in every hundred acres. A land-owner could have additional troughs by
paying the costs of material and labour.</p>

<div class="thumbnail">
  <%= image_tag 'ch13-3.jpg' %>
  <div class="caption">
    <p>Hundreds of bitumen pipes in readiness for Downlands Water Scheme at Mazetown.</p>
  </div>
</div>

<p>The headquarters of the Downlands scheme was set up on the Maze
property just west of the Pleasant Point township. This large settlement of
workshops, men’s quarters and dwellings became known as Mazetown. Stock
troughs were manufactured in the workshops on the site as were the specially
reinforced concrete components used in the scheme.</p>

<p>By August 1940, the first water was available and by 1941, the scheme was
almost complete. The township was supplied by its own reservoir on the
Downs by Manse Road above the township. It had a capacity of 250,000
gallons.</p>

<p>The Town Board’s share of the cost was six hundred and thirty pounds
which aroused strong objection at the time; but the establishment of the
scheme brought a changing scene in the township. The many windmills which
had been the driving force for pumping water to the houses quickly
disappeared. Those who had motor pumps fitted to outside wells dispensed
with them and rainwater tanks were no longer required.</p>

<p>By 1950, the Downlands Scheme was supplying 150 houses in the township,
75 fire hydrants were installed and several high pressure outlets for garden
watering were functioning. Numerous troughs and an ingenious system which
delivered a fine spray to cool pigs in hot weather, were installed at the
saleyards.</p>

<div class="thumbnail">
  <%= image_tag 'ch13-4.jpg' %>
  <div class="caption">
    <p>Laying of Downland's pipes in Afghan Street.</p>
  </div>
</div>

<p>An agreement was reached with the Ministry of Works whereby a uniform
charge of nine pence an acre and seventy-five shillings per house was levied over
the whole area of the Downlands Water Supply.</p>

<p>At the time the scheme was considered adequate for the needs of Pleasant
Point but, by 1960, residents were again expressing concern. “Pleasant Point”
it was pronounced “will continue to be a town without a future unless an
adequate water supply can be provided. Expansion is being curbed by lack of
water and yet the Opihi and Te Ngawai rivers flow past our back door”.</p>

<p>At this stage, the Downlands system had become so overloaded that the
Ministry of Works had refused all new applications for water connection after
October 1958 and those already served by the scheme could use the water for
domestic purposes only. Builders of new houses had to make provision for
wells or rain water tanks if they were building within the boundary. Even
established homes were putting down bores or, where possible, resurrecting
disused wells to provide water for parched gardens to avoid shortages.</p>

<p>By 1961 the County Council realised that the Downlands scheme would have
to be improved. This involved two new reservoirs, one at Claremont and one
at Sutherlands, and a duplication of several pipelines. A special pumping
station near Stratheona in Halstead road was also necessary to meet increasing
demands in the township. The cost of all this was estimated at 200,000 Pound.</p>

<p>In recent years, improvements have been made to the rural supply such as
renewed pipelines of wider guage and each farm having a monitored tank
supply to farm troughs.</p>

<p>Several options have been suggested for the township supply and the
Community Council has approached the Downlands Water Board with a view
to taking charge of the town’s water reticulation. In its plans, it has proposed
to up-grade the present pumping operations to cope with the increasing
demands of the whole township.</p>

<p>Ratepayers have been given options in meeting the costs of such
improvements and it is hoped that within the next few years, all residences in
the township will be fitted with a high pressure water supply and that the days
of restrictions will be a thing of the past.</p>

<p>At the same time, a feasibility study is in progress on the possibility of
providing water from Lake Tekapo to augment flows in the Opihi so that
farmers could still irrigate their land in times of drought. Irrigation of 27,000
hectares of South Canterbury farmland and improved fishing and recreational
opportunities are the projected benefits of this proposed Opihi River Scheme.</p>

<h2 id="swimming-baths">Swimming Baths</h2>

<p>A report in the Timaru Herald on 4th October 1967 attributed the building
of an Olympic-size swimming pool in Pleasant Point to tenacity, single-
minded purpose and whole-hearted community support.</p>

<p>The Pool project began in 1960 with the object of improving swimming
facilities at the District High School and four thousand pounds was raised in
the district for the purpose. An Olympic sized pool was mooted but the cost of
building and maintenance proved far beyond the scope of the School
Committee.</p>

<p>Nevertheless, determined to aim for the best, the Committee wrote to all
previous donors asking for their support to provide a larger, more
comprehensive pool. Little knowing that seven years would elapse before the
project was completed, the district gave its full support.</p>

<p>Much credit must be given to Mr V.W. Wilson, Chairman of the School
Committee, who was the driving force behind the project. He visited many
parts of New Zealand at his own expense to inspect other Olympic pools.</p>

<p>In 1963, it was decided to build a short Olympic pool, 110ft long by 42ft
wide, with one metre and 3 metre diving boards of latest design — a pool
which could cater for Provincial championships. A paddling pool was also to
be included. The project was designed by Mr D. Reynolds, M.O.W. engineer
in Christchurch, and plans were drawn by the (then) Levels County Council in
which body the pool was invested. Many organisations held special functions
as a means of fund-raising and all were well patronised.</p>

<p>There was a time, in 1964-5, when shortage of funds caused the Committee
to consider leaving out the diving pool but, not only did they resolve to press
on but also to add a thousand pound observation tower to the original plans.</p>

<p>With future generations in mind, the South boundary was designed to
enable the erection of trusses for a future covered pool and, for the same
reason, no piping was laid in the centre of the concrete concourse.</p>

<p>Long hours of working bees given by local residents assisted the contractors
with excavating, painting, fencing, installing lights and building seating, all to
reduce costs. School children bolted slats on to the stadium seating which will
accommodate 500 onlookers.</p>

<p>The project was planned in two stages:</p>

<p>Stage I: Three pools with concrete concourse and dressing shed worth twenty
thousand pounds.</p>

<p>Stage II: Filtration and heating plants worth twelve thousand pounds. Two
solar weirs, each 6 feet wide, were installed to raise water temperatures by 8
degrees Fahrenheit. An auxiliary diesel heating unit, thermostatically
controlled, was also fitted.</p>

<p>A four to one subsidy from Recreation and Youth Activities assisted greatly
in financing the project. Floodlights, a public address system and recorded
music system brought the pool up to modern standards.</p>

<p>Several costly items have been donated for the pool, namely, a lap-timing
clock by Sockbum Pool Committee, plastic lanes by South Canterbury
Swimming Association, observation tower clock by Motorways of
Christchurch, timber for seating by Cook and Sons and diesel tank by Atlantic
Oil Company.</p>

<p>The official opening in October 1967 was packed with people who had
worked so hard towards the achievement of such an ambitious scheme. It was
fitting that, after the speeches were over, the Chairman, V.W. Wilson should
take the first plunge. He swam the full length of the pool under water!</p>

<p>The Pleasant Point pool soon became a popular training ground for keen
swimmers throughout South Canterbury, it being, at that stage, the only one
of its kind in the region. Since then, other districts have acquired their own
heated pools and Pleasant Point Baths is used mainly by local swimmers.</p>

<p>In later years, the rising cost of Diesel oil made it an uneconomic means of
heating. Efforts were made to reduce consumption by adding more solar
panels but, by 1982, the expense was such that the diesel unit was dispensed
with and further solar panels were installed to make a total number of sixty—
five.</p>

<p>During the last two or three years, both diving boards have been replaced, as
has all seating and, to conserve water temperature, pool covers set on rollers
have been installed. Liquid chlorine is now used to purify the water and new
Peristaltic pumps are being installed for that purpose.</p>

<p>The main pool is now equipped with a water-slide which is very popular with
the children and a shaded area of about 18 square metres is being formed on
the surround.</p>

<p>In the season, all three schools use the pool regularly for swimming
instruction and this is followed up by an active swimming club training on a
competitive basis.</p>

<p>The County Council pays supervisor wages during normal working hours
and volunteers supervise the pool for weekend and evening sessions.</p>

<p>Fund-raising activities are organised by the Pleasant Point Baths Committee
to meet overhead expenses and pay for improvements. Admission fees and the
sale of season tickets also contribute to the general maintenance of the pool.</p>
