<div class="page-header">
  <h1 id="chapter-four">Chapter Four</h1>
</div>

<h2 id="the-changing-business-scene">The Changing Business Scene</h2>

<p>Time has wrought changes upon the commercial sector of the township but,
throughout its history, businesses have come and gone according to the needs
of the community of the day.</p>

<p>Up until the 1930s, horses were the most used means of transport and each
farmer kept a team of four to six. Consequently, there was a constant demand
for blacksmiths, wheelwrights and saddlers.</p>

<p>At the turn of the century, three blacksmiths were trading on the triangle
formed by Maitland Street and Main and Te Ngawai Roads in close proximity
to the livery stables and the hotels. A fourth blacksmith was established on
what is now the playing area next to the Town Hall.</p>

<p>The internal combustion engine brought about a decline in these trades as,
during the 1920s and 30s, motor cars and tractors replaced the horses. and
garages began to replace the blacksmiths.</p>

<p>Then, in the 1930s, the Great Depression began to have its effects on the
township and several businesses were forced to close. Although the demand
for services was Still there, the money to pay for them was lacking.</p>

<p>A garage proprietor of that era tells how he worked for six weeks without
collecting one penny for his labours. The crunch came when a client who had
owed him 25 Pound for a long time, asked him to square it off at 20 Pound.
On being paid 21 Pound, the proprietor decided to cut his losses and quit.</p>

<p>After the war, rising wool prices brought prosperity to the farmers. More
mechanisation in agriculture created a demand for engineering workshops.
New houses began to replace the old and the building trade flourished. The
increasing number of dwellings brought about demands for better shopping
facilities and empty shops once again became occupied.</p>

<p>By the 1960s, people began to appreciate the benefits of living in a small
community in preference to the city. Good roads, cheap petrol and ready
access to the town meant more and more people were happy to commute daily
to work in the city and elsewhere.</p>

<p>Sub-division of farmlets on the perimeter of the township made building
sections readily available at lower prices than those in the City. The completion
of a sewerage system further enhanced the desirability of living in Pleasant
Point so that, today, sections are scarce and at a premium within the township
boundaries.</p>

<p>In our changing life Styles, the Supermarket has replaced the general family
grocery stores and the local bakeries. In days gone by, the grocers made
deliveries in the outlying areas on a regular basis. Orders for the weekly
delivery were made by telephone and duly despatched on delivery day. Two or
three delivery runs a week into various district were not uncommon.</p>

<p>Similarly, the bakers made their rounds with freshly baked bread until
centralisation of bakeries with high-scaled production brought about the
collapse of small, local bakeries.</p>

<p>To appreciate the changing scene over this century, it is perhaps easiest to
site the businesses long since gone in relationship to those which operate today.</p>

<p>So, starting at the western end of the Main Road where Pleasant Point began,
let us move through the town and picture those former years.</p>

<div class="thumbnail">
  <%= image_tag 'ch4-1.jpg' %>
  <div class="caption">
    <p>Welch's Bread delivery cart.</p>
  </div>
</div>
