<div class="page-header">
  <h1 id="chapter-fourteen">Chapter Fourteen</h1>
</div>

<h2 id="disasters">Disasters</h2>

<p>Over the years, Pleasant Point has endured many trials arising from fire,
pestilence, ﬂood and drought.</p>

<p>In 1871 a grassfire started at the smithy and, fanned by a strong wind, swept
through the countryside as far as the Walton Mill on Cartwright’s farm. All
farm land in the path of the fire suffered extensive damage with Reginald
Orton’s crops being worst hit. Parr Bros. had sufficient warning to allow time
to plough a fire break in the path of the. advancing ﬂames and were thus able
to contain it before it engulfed the mill.</p>

<p>Some years later, a plague of caterpillars destroyed the crops. They
advanced in millions and left desolation in their wake.</p>

<p>Another time, following fires on the West Coast, large ﬂocks of parakeets
descended on the district wreaking havoc to the crops. It is said that the stacks
were green with them and that one blast from a shotgun would kill at least a
score.</p>

<p>Fires were not uncommon in the business community. The first bakehouse
owned by Morris was gutted with loss of life in 1887. When the Railway Hotel
was burnt down on 30 January 1911, it was described as “the like of which has
not been seen in South Canterbury for a long time with 1500 people witnessing
the conﬂagration". Motor car and taxi cab parties journeyed from Timaru to
view the spectacle. The fire started in Chisholm’s grocery on the ground ﬂoor
of the Hotel, spread rapidly through the adjoining buildings completely
destroying the hotel.</p>


<div class="thumbnail">
  <%= image_tag 'ch14-1.jpg' %>
  <div class="caption">
    <p>Railway Hotel after the fire in 1911 with Timaru Fire Brigade in front.</p>
  </div>
</div>

<p>A ‘Bucket Brigade’ fou ht the fire until an old manual fire engine drawn by
four horses from Glennie s Stables of Timaru, arrived on the scene but, by
that time, all was lost. Fortunately. the Brigade was able to prevent the fire
spreading into the neighbouring McKibben’s store.</p>

<p>On 13 December 1927, fire destroyed Pleasant Point’s oldest landmark —
the Point Hotel, part of which had been the original accommodation house.
The fire began in Frank Birse’s Cyclery on the ground ﬂoor. The ﬂow of water
was “so feeble with all the taps turned on” that the Bucket Brigade was
powerless to control the spread of the ﬂames. On this occasion, the Timaru
Fire Brigade declined to come out and assist, deeming it useless if the water
pressure was so low. Stories are told of the ‘locals’ rescuing bottles of whiskey
and planting them amidst the foundations of the ‘Orange Hall’ for future use.</p>

<p>Lienert’s Factory was twice the victim of fire. When disaster struck in 1917,
one of the Lienert children was found to be the culprit. The five—year-old was
sent by the coach painter to fetch some matches and was sidetracked to light a
fire in a pile of tow — a fibre used for stuffing coach cushions. It completely
destroyed the factory and only sterling work by the locals with buckets of
water and wet blankets saved the family home in Maitland Street.</p>

<p>When disaster struck again in 1984, the factory was destroyed and, this
time, there was no recovery. The ‘Blue Garage’ where the Education Bus
Depot is, was destroyed by fire about 1921, putting the town in darkness for
some time. The petrol generator which powered the two street lights was
housed in there. The Station Master’s new car which was garaged there was
also destroyed.</p>

<p>Oborn’s Bootmaker’s shop went up in ﬂames about 1940 while Mr Oborn
was chatting further up the street. He was a heavy smoker and it was suspected
that a cigarette butt had set light to wrapping paper under the counter.</p>

<p>When Burt’s Grocery was destroyed, the shop was vacant but the fire started
in the adjoining residence which was occupied at the time.</p>

<p>The first boarding house, owned by Mrs Geaney, was gutted in the 1960s.
By then, it had become a private residence.</p>

<p>In May 1984 much of the equipment was lost when Cooks’ Sawmill was
severely damaged by fire. Two units from the local Volunteer Fire Brigade and
one from Timaru were called out and firemen fought the blaze for an hour and
a half before it was extinguished.</p>

<p>Rob’s Milk Bar was damaged in 1988 when fire broke out in the roof. This
brought about the closure of the business but it has since been restored and
now operates as Cortez Leather Craft Shop.</p>

<p>In the days before the rivers were bridged, farmers living on the far sides
were often confronted with danger when fording the rivers during a ‘fresh’. A
teacher en route to the Opihi school was drowned when crossing the Te
Ngawai River on horseback. Once, when Mr and Mrs L. McCormack and
family from Waitohi were fording the Opihi at the fork when the river was
high, the trap capsized and the family was swept downstream. One of the
children was drowned.</p>

<p>Mr Reginald Orton was drowned when fording the river on his way home
from Temuka.</p>

<p>Floods have been frequent in the district from very early times. In 1877, a
major ﬂood swept through the district washing away part of the Walton Mill
and adjoining homestead with the loss of four occupants.</p>

<p>In 1928 a report in the Timaru Herald states: “Nowadays the Opihi and Te
Ngawai Rivers are thoroughly controlled by an extensive system of protection
banks and works and the risk of loss through ﬂood is practically nil.” How
wrong!!</p>

<p>February 1945 and April 1951 brought ﬂoods described as “the worst ever
to hit the district” with much devastation of farmland and damage to riverside
homes. Bridge approaches were washed away and many people were isolated
by surrounding water and had to be rescued.</p>

<p>Protection work undertaken by the Catchment Board strengthened the
ﬂood banks even more but, again, the power of water proved greater than that
of man. On 13 March 1986 when over 200mm of rain fell in the foothills within
a few hours early in the morning. the worst ﬂood in the history of South
Canterbury resulted.</p>

<p>The School Creek could not contain the ﬂow and homes in Kumera Terrace
were threatened and had to be evacuated. As the rain continued, the water
kept rising and the Opihi River was overﬂowing at the Saleyards Bridge.
Attempts at sandbagging proved futile.</p>

<p>Then the Te Ngawai River burst its banks above Hammond’s Road and a
torrent of water began to ﬂow across country towards the township. A
helicopter was called in to rescue Roger and Bruce Lundie who were marooned
in a tree. They and their father, David Lundie, had been swept away whilst
trying to move stock. David Lundie fell victim to the deluge and was the only
fatality of the 1986 ﬂood.</p>

<p>People in the western part of Pleasant Point had to be evacuated. Tractors
and four-wheel drive vehicles came to the rescue until the water became too
deep. People then climbed onto roof—tops and, at the peak of the operation
five helicopters were in service ferrying them to the Maipn Street and dry land.
Rescues continued all day.</p>

<div class="thumbnail">
  <%= image_tag 'ch14-2.jpg' %>
  <div class="caption">
    <p>Aerial photo of the township when flooded March 13, 1986.</p>
  </div>
</div>

<p>When the water approached the hotel corner, at 11.15 am. Civil Defence
emergency was declared and all on the ﬂat were ordered to evacuate. Because
of the damage to the water and sewerage systems, it was decided to evacuate
the whole population, ﬂooded out or not, to Timaru. The Army was called in
and road blocks were established on the perimeters of the township, manned
by police, volunteer firemen, and soldiers until, three days later, when
Pleasant Point residents were able to return to their homes.</p>

<p>For some, there was no home to return to and for many more, the mess and
destruction was horrific with mud deposited by up to a metre of water which
had raged through the houses ravaging everything in its path.</p>

<p>The ensuing clean—up will for ever remain in the memories of those affected
but so will the community spirit that prevailed throughout. The local
community rallied together with the Red Cross, Civil Defence. Salvation
Army, Police, Fire Brigade, Army to help restore the havoc the ﬂood had
created.</p>

<p>There have been occasional severe snow storms which have brought
disruption and hardship to the district. In 1945, just months after a severe
ﬂood, Pleasant Point was blanketed in snow on 14 July which, in places, was
three feet deep. The resultant loss of communications, electric power and
disruptions to water and transport services remained a problem for months to
come. Frosts which followed exacerbated the water supply difficulties so that
the school had to close. Power cuts sometimes lasted for weeks and housewives
were driven to seek alternative means of cooking and heating.</p>

<p>August lst, 1975 was another disaster day for the district when a Nor’wester
of hurricane velocity left destruction in its wake. Trees that had stood for
decades were uprooted and ﬂattened; roofs in the township and on farms were
lifted and power and telephone lines severed. It was many weeks before
communications were restored to some outlying areas.</p>

<p>In the last decade, severe drought conditions have improverished the land
and its husbanders. Parched pastures, shortage of feed, restrictions on water
usage, have necessitated drastic reductions in stock numbers. The resultant
economic losses suffered by the farming community has reﬂected on the
business community in the township.</p>
