<div class="page-header">
  <h1 id="statistical-survey">Statistical Survey</h1>
</div>

<p>The following figures from the Department of statistics’ Censuses of
Population and dwellings reveal the growth of Pleasant Point over the years.</p>

<p>Prior to the formation of the Town Board in 1908, the boundaries defining
Pleasant Point were much greater than those of the present township, hence
the greater population numbers for that period.</p>

<table class="table">
  <thead>
    <tr>
      <th>Census Year</th>
      <th>Population</th>
      <th>Inhabited Dwellings</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1888</td>
      <td>490</td>
      <td></td>
    </tr>
    <tr>
      <td>1881</td>
      <td>509</td>
      <td></td>
    </tr>
    <tr>
      <td>1901</td>
      <td>749</td>
      <td></td>
    </tr>
    <tr>
      <td>1906</td>
      <td>691</td>
      <td>122</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>(1908)</td>
    </tr>
    <tr>
      <td>1916</td>
      <td>482</td>
      <td>141</td>
    </tr>
    <tr>
      <td>1926</td>
      <td>570</td>
      <td>136</td>
    </tr>
    <tr>
      <td>1936</td>
      <td>575</td>
      <td>141</td>
    </tr>
    <tr>
      <td>1945</td>
      <td>483</td>
      <td>142</td>
    </tr>
    <tr>
      <td>1956</td>
      <td>755</td>
      <td></td>
    </tr>
    <tr>
      <td>1966</td>
      <td>858</td>
      <td>220</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>(1964)</td>
    </tr>
    <tr>
      <td>1976</td>
      <td>1019</td>
      <td>337</td>
    </tr>
    <tr>
      <td>1986</td>
      <td>1100</td>
      <td>397</td>
    </tr>
  </tbody>
</table>

<p>Pupils from Form 11 of Pleasant Point High School have undertaken a
comprehensive survey of the township on four occasions —— 1974, 1978, 1982
and 1987. The outcome of these surveys is interesting but the real significance
of the studies becomes apparent when each is compared with the others.</p>

<p>The growth of the township is above that of the national average.</p>

<p>In 1978, the population of 1051 showed an average rise of four percent
whereas the national average for the same period was 0.87 per cent.</p>

<p>The decline in the farming economy resulted in a drift of farm workers and
their families to the township, e.g. seven in 1978 and eighteen in 1987.</p>

<p>Fewer people now living in the township are employed there: 173 in 1978,
222 in 1982 and 164 in 1987.</p>

<p>Changes in occupation were also evident in the survey:</p>

<p>Tradesmen: 49 in 1978, 29 in 1982, 20 in 1987, brought about by a decline in
the building trade.</p>

<p>Stock Agents and Agricultural Representatives: 11 in 1978, 17 in 1982 and 6 in
1987, caused by amalgamation of mercantile firms and closure of saleyards.</p>

<p>Motor Trade and Transport Workers: 18 in 1978, 17 in 1982 and 29 in 1987.</p>

<p>Shop Owners and Assistants: 42 in 1978, 43 in 1982, 33 in 1987.</p>

<p>Factory Workers: 24 in 1978, 12 in 1982, and 21 in 1987. The cycle factory was
responsible for the increase.</p>

<p>School Teachers: 28 in 1978, 37 in 1982, 39 in 1987. More teachers have
chosen to live in the township rather than commute from Timaru.</p>

<p>Retired: 86 in 1978, 124 in 1982, 161 in 1987. Pleasant Point is becoming
increasingly popular as a retirement centre.</p>

<p>The most common reason given in the questionnaire for living in Pleasant
Point was the quiet, co-operative, friendly community. Another positive
reason quoted was the proximity to Timaru and easy access to Christchurch,
Dunedin and the Southern Lakes.</p>

<h2 id="epilogue">Epilogue</h2>

<p>I hope this book has given readers an outline of Pleasant Point’s
development from its small beginnings as a stop-over point for up-country
waggoners to the township we know today.</p>

<p>Each generation has accepted the responsibility of maintaining and
improving on what has been established by their predecessors and, whatever
has been undertaken, has been done with the full support of the entire district.</p>

<p>Whenever a worthwhile project has been mooted, be it Town Hall,
Swimming Baths or School amenities, most of the money has been raised from
endless fund raising activities in the form of sales tables, fairs, stock drives,
etc. involving a great deal of hard work by dedicated people.</p>

<p>Over the last two decades, we have seen the effects of centralisation and
amalgamation bringing about the loss of services we have hitherto taken for
granted or regarded as our civic rights —- saleyards, the railway, public
transport and, now, the Post Office.</p>

<p>What, we may ask, is the future of this attractive township? Will the
congenial life-style of a small community prevail or shall we become a satellite
town for the city of Timaru? Will this age of technology with the wonders of
the silicon chip give rise to further changes and even more redundancies in the
district?</p>

<p>An article in the Temuka Leader of 8 November, 1879 suggests that it is
merely a case of history repeating itself:</p>

<blockquote>
  <p>The Point township is in danger of being dealt with as were often told of
  inland town settlers, they would be in danger of being swallowed up by its
  ferocious neighbour, Timaru. We can again warn the Point settlers that they
  should be more watchful, or their little properties will go for nothing if our
  powerful enemy is not kept in check.</p>
</blockquote>

<p>Watchful, they must have been. Our township has grown and flourished for
over a hundred years since those words were written.</p>

<p>Let us hope that succeeding generations will display the same qualities of
resilience and resourcefulness whilst acknowledging that, although the city and
the country are interdependent, they still need to maintain their separate
entities.</p>

<h2 id="acknowledgements">Acknowledgements</h2>

<p>My thanks are due to the following for information on the topics listed:</p>

<p>Mrs l. Rogerson —— Gospel Hall Brethren; Mr M. Denne —— Railways; Mr G.
Howey — Fire Brigade; Miss G. Henderson — Tennis and Miniature Rifle
Clubs; Mr G. Davison —- Golf Club: Mrs Jean Clarke -— Plunket Society; Mr
M. Blakemore —— Saleyards: Mr L. Blakemore — R.S.A.; Mr R. Blakemore ——
Farm School; Mr P. Scannell — Tug 0‘ War; Mr G. Frame — Transport
Business; Mr F. Bartrum —— Honey Production.</p>

<p>My personal thanks also to the staff of Timaru Public Library, Timaru
Herald and Pioneer Museum. Mrs S. Ottley, Secretary of Strathallan County
Council for help and co-operation with my research; to Mr Wm. Wells and Mr Wm.
Crawford for help in answering so many questions for me and to the people
interviewed and recorded on tape by the students; to Mrs D. James for typing my
manuscripts; to Mr E. Feasey, Tim Hawkins and Keith Mitchell for cover photos.</p>

<p>A tribute must be paid to both the late Beattie Smith and Amy Neilson
without whose work this book might never have been started. Beattie’s
contribution of written material and her work in compiling a photographic
record from Amy Neilson’s outstanding collection of photographs which she
had bequeathed to the Railway and Historical Society have formed the nucleus
of this history.</p>

<p>The Committee gratefully acknowledges the financial backing given by
Trust Bank South Canterbury towards the cost of publication, also the 1990 Special
Grant and Mr Newsome’s substantial donation.</p>

<h2 id="references">References</h2>

<p>Timaru Herald past issues; Temuka Leader; Jubilee History of South
Canterbury by Johannes Anderson; South Canterbury v A Record of
Settlement by CA. Gillespie; High Country by Wm. Vance; Encyclopedia of
Canterbury; Early South Canterbury Runs by A. Woodhouse: Jubilee
Publications of P.P.D.H.S.; St Joseph‘s School; St Mary’s Church; St.
Alban‘s Church; St John’s Church: St. Martin‘s Lodge; True Grit: NZ.
Police.</p>

<p class="text-center stb">
  <%= image_tag '1990-logo.jpg' %>
</p>
