<div class="page-header">
  <h1 id="the-farming-community">The Farming Community</h1>
</div>

<p>Throughout its history, Pleasant Point township has been extremely
dependent on the rural community that encompasses it. In the pioneering
days, the accommodation house was established as a ‘stop-over’ to meet the
needs of the up-country waggoners; the blacksmith, wheelwright and saddler
to maintain the horses and waggons; the grocer and the baker to provide
sustenance.</p>

<p>In the early days of farming, the land was grazed. Each large valley
constituted a ‘Run’ in contrast to the many farms that make up the same area
today. The Opuha valley was owned by Wigley, the Opihi by Acton, Totara
Valley by Howell, Raincliff by Burke, Levels by Rhodes.</p>

<p>Then came the era of exploitation as agricultural farming was pursued and
the virgin soil broken in. Wheat and barley were popular crops and as early as
1863, Acton reported that 15,000 bushels of grain had been grown in the
district. By this time, the Walton ﬂour mill was functioning at Mill Road.</p>

<p>Legislation in 1893 brought about sub—division of land on a large scale. Sales
were forced by the Govemment’s new enterprise in opening up land. The New
Zealand Land Company was ‘prepared to sell farms on its estates’ which were
slowly being reduced in area.</p>

<p>This drastically reduced the area of the Levels Run and resulted in close
settlement of the region. Men who had worked hard as shearers, musterers,
roadmen, etc and had saved sufficient money to buy a small holding of forty
acres as a beginning to life on the land, became the ‘small farmers.’</p>

<p>The advent of the meat freezing industry caused a revolution in small
farming. Farmers began to breed sheep for the fat lamb trade, and alternated
cropping to return fertility to the land. As more land was developed, root
crops such as turnips and potatoes were grown. The local saleyards ﬂourished
with the increasing sheep population.</p>

<p>Throughout the years, market ﬂuctuations have inﬂuenced the farming
scene. The end of the 1914—18 war brought with it pressing demands for land
settlement. Production could scarcely keep pace with the corresponding rise in
land values and years of economic stress followed.</p>

<p>Most farmers in the district practised ‘Mixed Farming’ with sheep and
cropping and many supported a small dairy factory.</p>

<p>The cream van had a regular beat on collection day and one or two cans at
each farm gate was a familiar scene. To supplement the income or help pay the
grocer, the farmer’s wife would sell surplus butter and eggs to the grocer when
he called on his delivery round.</p>

<p>Following the Second World War, there was again urgent demand for land
settlement. This brought about an even greater increase in prices with the
corresponding rise in wages. The use of lime improved the fertility of the land
and this, in conjunction with irrigation and the Downlands Water Scheme,
markedly increased the carrying capacity of the farms.</p>

<p>Small seed production of grasses and clover became lucrative cash crops as
well as helping to improve soil fertility. Mechanisation led to a complete
revolution in the farming world.</p>

<p>The reaper and binder with their teams of horses, the traction engine towing
the threshing plant from farm to farm, all became scenes of the past. Combine
harvesters reduced weeks of hard labour to a few days’ work as did tractors
and havebalers and shearing machines.</p>

<div class="thumbnail">
  <%= image_tag 'ch9-1.jpg' %>
  <div class="caption">
    <p>Harvest time - early 1930's.</p>
  </div>
</div>

<div class="thumbnail">
  <%= image_tag 'ch9-2.jpg' %>
</div>

<p>Progress continued with silos for bulk grain storage replacing the bagging of
the earlier ‘header’ days and double decker road transporters moving vast
numbers of stock direct from farm to freezing works.</p>

<p>In recent years, the fall in demand on world markets combined with
increasingly high costs of production has rendered many farms uneconomic.
As a result, some are being purchased by more established neighbours, thus
increasing the size of the holdings.</p>

<p>Yet again, some have been subdivided into 20-40 acres blocks and sold as
‘hobby farms’ whence the owners commute to city employment during the
week and become weekend farmers.</p>

<p>The farming scene continues to change as markets demand. When wool and
meat prices slumped, farmers began to diversify. Deer farming for velvet and
goat farming for mohair are familiar scenes in the district. Even llamas have
been experimentally introduced. Small fruit, pip and stone fruit orchards are
recent ventures as farmers try to ‘catch’ the right markets.</p>

<p>One thing is certain. No matter what the farming scene may be, Pleasant
Point township remains dependent on the large rural area it serves.</p>
