<nav role="navigation" class="table-of-contents">
  <div class="page-header">
    <h1>Contents</h1>
  </div>
  <ul>
    <li><a href="#foreword">Foreword</a></li>
    <% @chapters.each do |chapter| %>
      <li>
        <a href="#<%= chapter.id %>"><%= chapter.name %></a>
        <% if chapter.sections.any? %>
          <ul>
          <% chapter.sections.each do |section| %>
            <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
