<nav role="navigation" class="table-of-contents">
  <div class="page-header">
    <h1>Contents</h1>
  </div>
  <ul class="list-unstyled">
    <% @chapters.each do |chapter| %>
      <li>
        <%= link_to chapter.name, chapter.path %>
        <% if chapter.sections.any? %>
          <ul>
          <% chapter.sections.each do |section| %>
            <li>
              <%= link_to section.name, "#{chapter.path}##{section.id}" %>
            </li>
          <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
