<nav role="navigation" class="table-of-contents">
  <h2>Contents</h2>
  <ul>
    <li><a href="#foreword">Foreword</a></li>
    <% @chapters.each do |chapter| %>
      <li>
        <a href="#<%= chapter.id %>"><%= chapter.name %></a>
        <% if chapter.sections.any? %>
          <ul>
          <% chapter.sections.each do |section| %>
            <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
