<nav role="navigation" class="table-of-contents">
  <h2>Contents</h2>
  <ul>
    <li><a href="#foreword">Foreword</a></li>
    <li>
      <a href="#chapter-one">Chapter One</a>
      <ul>
        <li><a href="#pre-european-days">Pre-European Days</a></li>
      </ul>
    </li>
    <li>
      <a href="#chapter-two">Chapter Two</a>
      <ul>
        <li><a href="#nomenclature">Nomenclature</a></li>
        <li><a href="#street-names">Street Names</a></li>
      </ul>
    </li>
    <li>
      <a href="#chapter-three">Chapter Three</a>
      <ul>
        <li><a href="#the-early-days">The Early Days</a></li>
      </ul>
    </li>
  </ul>
</nav>
