<blockquote class="title-quote">
  <p>
    Time is a sort of river of passing events,<br />
    And strong is its current;<br />
    No sooner is a thing brought to sight<br />
    Than it is swept away<br />
    And another takes its place<br />
    And this too will be swept away.
  </p>
  <footer>Marcus Antonius</footer>
</blockquote>
