<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>
<div class="container chapter">
  <div class="row">
    <div class="col-md-12">
      <%= render "ch_#{'%02d' % (@index + 1)}" %>
    </div>
  </div>
  <hr />
  <div class="row paging">
    <div class="col-xs-6">
      <% if @prev %>
        <%= link_to "< #{@prev.name}", @prev.path %>
      <% end %>
    </div>
    <div class="col-xs-6 text-right">
      <% if @next %>
        <%= link_to "#{@next.name} >", @next.path %>
      <% end %>
    </div>
  </div>
</div>
