<%= render 'navigation' %>
<div class="container chapter">
  <div class="row">
    <div class="col-md-12">
      <%= render "ch_#{'%02d' % @index}" %>
    </div>
  </div>
  <hr />
  <%= render 'paging' %>
</div>
