<header class="page-heading">
  <%= render 'title' %>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render 'contents' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'foreword' %>
    </div>
  </div>
  <% @chapters.each_with_index do |chapter, index| %>
    <div class="row">
      <div class="col-md-12">
        <%= render "ch_#{'%02d' % (index + 1)}" %>
      </div>
    </div>
  <% end %>
</div>
