<header class="page-heading">
  <%= render 'title' %>
</header>

<div class="container">
  <p>This is a digital recreation of the book "Pleasant Point - A History" by O.P. Oliver, published in 1989.
  Some information contained within, such as business names and occupancies, may differ from the present day.</p>
  <%= render 'contents' %>

  <hr />
  <footer>
    <p>
      <small>Site built and maintained by <a href="http://www.timross.info">Tim Ross</a></small>
    </p>
  </footer>
</div>
