<header class="page-heading">
  <%= render 'title' %>
</header>

<div class="container">
  <p class="intro">This website is a digital recreation of the book "Pleasant Point - A History" by O.P. Oliver, published in 1989.
  Some information contained within, such as business names and occupancies, may differ from the present day.</p>

  <%= render 'contents' %>

  <p class="download">
    <a href="https://pointhistory.s3.amazonaws.com/pointhistory.epub" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download eBook
    </a>
    <small>Download this book in EPUB format.</small>
  </p>

  <hr />
  <footer>
    <p>
      <small>Site built and maintained by <a href="http://www.timross.info">Tim Ross</a></small>
    </p>
  </footer>
</div>
