body {
  margin-bottom: 1em;
}

.thumbnail {
  max-width: $screen-xs-min;

  .caption {
    font-style: italic;
  }
}

.page-heading {
  background: image-url('title-background.jpg') no-repeat scroll 0 0 / cover transparent;
  margin-bottom: 1em;

  .page-header {
    border-bottom: 0;
  }

  blockquote {
    border-left: 0;
    color: $title-quote-shadow-color;
    font-family: $headings-font-family;
    font-size: 17px;
    padding-left: 0;
    text-shadow: 2px 2px 4px $title-quote-color;

    footer {
      color: inherit;
    }
  }
}

.chapter,
.table-of-contents {
  .page-header {
    margin-top: 0;
  }
}

.chapter {
  padding-top: 88px;

  .page-header {
    h1 {
      margin-top: 0;
    }
  }
}

.table-of-contents {
  li {
    padding-bottom: 0.1em;
  }
}

.pager {
  font-size: $font-size-small;
}
