body {
  padding-bottom: 2em;
}

.thumbnail {
  max-width: $screen-xs-min;

  img {
    cursor: pointer;
  }

  .caption {
    font-style: italic;
  }
}

.page-heading {
  background-image: image-url('title-background.jpg');

  .page-header {
    border-bottom: 0;
  }

  blockquote {
    border-left: 0;
    color: $title-quote-shadow-color;
    font-family: $headings-font-family;
    font-size: 17px;
    padding-left: 0;
    text-shadow: 2px 2px 4px $title-quote-color;

    footer {
      color: inherit;
    }
  }
}

.chapter {
  .page-header {
    margin-top: 0;

    h1 {
      margin-top: 0;
    }
  }
}
